﻿@using PinkCore.Models.Cmind;
@model PinkCore.Areas.Admin.ViewModels.Product.ProductView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增遊戲" : "編輯遊戲";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @title
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary card-tabs">
                <div class="card-header p-0 pt-1">
                    <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#tab_1" role="tab" aria-controls="tab_1" aria-selected="true">共通</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab_2" role="tab" aria-controls="tab_2" aria-selected="false">繁體中文</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab_3" role="tab" aria-controls="tab_3" aria-selected="false">簡體中文</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab_4" role="tab" aria-controls="tab_4" aria-selected="false">英文</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab_5" role="tab" aria-controls="tab_5" aria-selected="false">日文</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab_6" role="tab" aria-controls="tab_6" aria-selected="false">韓文</a>
                        </li>
                    </ul>
                </div>
                @using (Html.BeginForm("Edit", "ProductAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="card-body">
                        <div class="tab-content" id="custom-tabs-one-tabContent">
                            <div class="tab-pane fade show active" id="tab_1" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Image)
                                            <span class="text-red">建議尺寸:高830寬620px，比例3:4</span>
                                            <div class="input-group">
                                                @Html.EditorFor(m => m.ImageFile, "_UploadImage")
                                                @if (!string.IsNullOrEmpty(Model.Image))
                                                {
                                                    @Html.HiddenFor(model => model.Image)
                                                    <a href="~/FileUploads/ProductPhoto/@Model.Image" target="_blank" class="btn btn-info">預覽圖</a>
                                                    @Html.ActionLink("刪除圖片", "DeleteImage", new { id = Model.ID, type = (int)DeviceType.PC }, new { @class = "btn btn-danger js-delete-confirm" })
                                                }
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Type)
                                            @Html.DropDownListFor(model => model.Type, Model.TypeOptions, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OnlineTime)
                                            @Html.TextBoxFor(model => model.OnlineTime, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.OnlineTime, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.Status, new { @class = "form-check-input" })
                                            <label class="form-check-label" for="check-box-status">
                                                @Html.DisplayNameFor(model => model.Status)
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.IsLimit, new { @class = "form-check-input" })
                                            <label class="form-check-label" for="check-box-status">
                                                @Html.DisplayNameFor(model => model.IsLimit)
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.isHot, new { @class = "form-check-input" })
                                            <label class="form-check-label" for="check-box-status">
                                                @Html.DisplayNameFor(model => model.isHot)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.HoverImage)
                                            <span class="text-red">建議尺寸:高830寬620px，比例3:4</span>
                                            <div class="input-group">
                                                @Html.EditorFor(m => m.HoverImageFile, "_UploadImage")

                                                @if (!string.IsNullOrEmpty(Model.HoverImage))
                                                {
                                                    @Html.HiddenFor(model => model.HoverImage)
                                                    <a href="~/FileUploads/ProductPhoto/@Model.HoverImage" target="_blank" class="btn btn-info">預覽圖</a>
                                                    @Html.ActionLink("刪除圖片", "DeleteImage", new { id = Model.ID, type = (int)DeviceType.PCHover }, new { @class = "btn btn-danger js-delete-confirm" })
                                                }
                                            </div>
                                           
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SupportLan)
                                            <div class="form-check">
                                                <input type="checkbox" name="supportLans" value="@((int)Language.zh_TW)" @(!string.IsNullOrEmpty(Model.SupportLan) && Model.SupportLan?.IndexOf(((int)Language.zh_TW).ToString()) != -1 ? "checked" : "") />
                                                <label class="form-check-label" for="check-box-status">
                                                    @(PinkCore.Utility.Cmind.EnumHelper.GetDescription(Language.zh_TW))
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox" name="supportLans" value="@((int)Language.zh_CN)" @(!string.IsNullOrEmpty(Model.SupportLan) && Model.SupportLan?.IndexOf(((int)Language.zh_CN).ToString()) != -1 ? "checked" : "") />
                                                <label class="form-check-label" for="check-box-status">
                                                    @(PinkCore.Utility.Cmind.EnumHelper.GetDescription(Language.zh_CN))
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox" name="supportLans" value="@((int)Language.en_US)" @(!string.IsNullOrEmpty(Model.SupportLan) && Model.SupportLan?.IndexOf(((int)Language.en_US).ToString()) != -1 ? "checked" : "") />
                                                <label class="form-check-label" for="check-box-status">
                                                    @(PinkCore.Utility.Cmind.EnumHelper.GetDescription(Language.en_US))
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox" name="supportLans" value="@((int)Language.ja_JP)" @(!string.IsNullOrEmpty(Model.SupportLan) && Model.SupportLan?.IndexOf(((int)Language.ja_JP).ToString()) != -1 ? "checked" : "") />
                                                <label class="form-check-label" for="check-box-status">
                                                    @(PinkCore.Utility.Cmind.EnumHelper.GetDescription(Language.ja_JP))
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox" name="supportLans" value="@((int)Language.ko_KR)" @(!string.IsNullOrEmpty(Model.SupportLan) && Model.SupportLan?.IndexOf(((int)Language.ko_KR).ToString()) != -1 ? "checked" : "") />
                                                <label class="form-check-label" for="check-box-status">
                                                    @(PinkCore.Utility.Cmind.EnumHelper.GetDescription(Language.ko_KR))
                                                </label>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Sort)
                                            @Html.TextBoxFor(model => model.Sort, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Sort, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab_2" role="tabpanel" aria-labelledby="tab_2">
                                @Html.EditorFor(model => model.ProductTranslationViewTw, "ProductAdminEdit")
                            </div>
                            <div class="tab-pane fade" id="tab_3" role="tabpanel" aria-labelledby="tab_3">
                                @Html.EditorFor(model => model.ProductTranslationViewCn, "ProductAdminEdit")
                            </div>
                            <div class="tab-pane fade" id="tab_4" role="tabpanel" aria-labelledby="tab_4">
                                @Html.EditorFor(model => model.ProductTranslationViewUs, "ProductAdminEdit")
                            </div>
                            <div class="tab-pane fade" id="tab_5" role="tabpanel" aria-labelledby="tab_5">
                                @Html.EditorFor(model => model.ProductTranslationViewJp, "ProductAdminEdit")
                            </div>
                            <div class="tab-pane fade" id="tab_6" role="tabpanel" aria-labelledby="tab_6">
                                @Html.EditorFor(model => model.ProductTranslationViewKr, "ProductAdminEdit")
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @if (Model.ID != 0)
                        {
                            @Html.ActionLink("刪除本篇文章", "Delete", "ProductAdmin", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                        }
                        @Html.ActionLink("取消/回列表", "Index", "ProductAdmin", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/fileUpload.js"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    
    <script type="text/javascript">
        $(function () {
            //Ckeditor init
            $(window).on('load', function () {
                $("form").each(function () { $.data($(this)[0], 'validator', false); });
                $.validator.unobtrusive.parse("form");
            });
        });

        $('body').on('change', '.custom-file input[type="file"]', function () {
            const $this = $(this);
            var $customFile = $this.parent();
            var fileName = $this.val();
            var cleanFileName = fileName.replace('C:\\fakepath\\', " ");
            $customFile.find('.custom-file-label').html(cleanFileName);
        });
    </script>
}