﻿@using PinkCore.Models.Cmind;
@model PinkCore.ViewModels.Home.HomeView
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Authority;
    string absolutePath = Request.Url.AbsolutePath;
    var lang = absolutePath.IndexOf("-") != -1 ? absolutePath.Substring(0, 6) : "/";
    ViewBag.Title = PinkCore.Resources._Layout.Index.MetaTite;
    var scriptfile = "";

    switch (lang)
    {
        case "/zh-TW":
            scriptfile = "seo_home_tw.json";
            break;
        case "/zh-CN":
            scriptfile = "seo_home_cn.json";
            break;
        case "/en-US":
            scriptfile = "seo_home_en.json";
            break;
        case "/ja-JP":
            scriptfile = "seo_home_jp.json";
            break;
        case "/ko-KR":
            scriptfile = "seo_home_kr.json";
            break;
        case "/":
            scriptfile = "seo_home_tw.json";
            break;
    }


}
@section head{
    <title>@PinkCore.Resources._Layout.Index.MetaTite</title>
    <meta name="description" content="@PinkCore.Resources._Layout.Index.MetaDescription" />
    <meta property="og:image" content="@url/Content/pinkcore/img/og.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta name="twitter:title" content="@PinkCore.Resources._Layout.Index.MetaTite" />
    <meta name="twitter:description" content="@PinkCore.Resources._Layout.Index.MetaDescription" />
    <meta property="og:title" content="@PinkCore.Resources._Layout.Index.MetaTite" />
    <meta name="twitter:image" content="@url/Content/pinkcore/img/og.jpg">
    <meta property="og:description" content="@PinkCore.Resources._Layout.Index.MetaDescription" />
}

<section class="mb-2p mb-l-1p">
    <div class="container-fluid">
        <div class="swiper-container index-carousel fill-container-xl mb-3">
            <div class="swiper-wrapper">
                @foreach (var item in Model.BannerList)
                {
                    <div class="swiper-slide hover-area">
                        <picture>
                            <!--電腦版圖片-->
                            <source media="(min-width:1024px)" srcset="~/FileUploads/BannerPhoto/@(!string.IsNullOrEmpty(item.TranslationsPCImage) ?item.TranslationsPCImage :item.PCImage) 1x">
                            <!--手機版圖片-->
                            @if (Model.IsMoblie)
                            {

                                if (!string.IsNullOrEmpty(item.TranslationsMoblieImage) || !string.IsNullOrEmpty(item.MoblieImage))
                                {
                                    <a class="" href="@item.Link" target="_blank">
                                        <img class="d-block w-100 ratio-1by1 ratio-16by9-l" src="~/FileUploads/BannerPhoto/@(!string.IsNullOrEmpty(item.TranslationsMoblieImage) ? item.TranslationsMoblieImage : item.MoblieImage)" alt="@item.Description" title="@item.Description" loading="eager">
                                    </a>
                                }
                                else
                                {
                                    <a class="" href="@item.Link" target="_blank">
                                        <img class="d-block w-100 ratio-1by1 ratio-16by9-l" src="~/FileUploads/BannerPhoto/@(!string.IsNullOrEmpty(item.TranslationsPCImage) ? item.TranslationsPCImage : item.PCImage)" alt="@item.Description" title="@item.Description" loading="eager">
                                    </a>
                                }
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(item.TranslationsMoblieImage) || !string.IsNullOrEmpty(item.MoblieImage))
                                {
                                        <img class="d-block w-100 ratio-1by1 ratio-16by9-l" src="~/FileUploads/BannerPhoto/@(!string.IsNullOrEmpty(item.TranslationsMoblieImage) ? item.TranslationsMoblieImage : item.MoblieImage)" alt="@item.Description" title="@item.Description" loading="eager">
                                }
                                else
                                {
                                        <img class="d-block w-100 ratio-1by1 ratio-16by9-l" src="~/FileUploads/BannerPhoto/@(!string.IsNullOrEmpty(item.TranslationsPCImage) ? item.TranslationsPCImage : item.PCImage)" alt="@item.Description" title="@item.Description" loading="eager">
                                }
                            }


                        </picture>
                        <!--電腦版hover圖-->
                        @if (!string.IsNullOrEmpty(item.HoverImage) || !string.IsNullOrEmpty(item.TranslationsHoverImage))
                        {
                            <a class="bg-cover hover-fadein-img" style="background-image:url('/FileUploads/BannerPhoto/@(!string.IsNullOrEmpty(item.TranslationsHoverImage) ?item.TranslationsHoverImage :item.HoverImage)');" href="@item.Link" target="_blank"></a>
                        }
                    </div>
                }
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        @if (Model.BannerList.Any())
        {
            <div class="swiper-container index-carousel-thumbsslider">
                <div class="swiper-progressbar">
                    <div class="swiper-bar invisible"></div>
                    <div class="swiper-bar" id="progressing"></div>
                    <div class="swiper-bar"></div>
                </div>
                <div class="swiper-wrapper">
                    @foreach (var item in Model.BannerList)
                    {
                        <div class="swiper-slide">
                            <div class="thumb-img mr-1">
                                <img class="img-fluid" src="~/FileUploads/BannerPhoto/@item.Icon" alt="@item.Description" title="@item.Description" loading="lazy">
                            </div>
                            <p class="thumb-context">@item.Description</p>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</section>
<section class="feature mb-2p mb-l-1p">
    <div class="container">
        <div class="row gx-3 gy-5 justify-center">
            <div class="col-12 col-l-6 col-xl-12 txt-sand txt-center tracking-xl-widest">
                <h2 class="feature-3">
                    @PinkCore.Resources.Home.Index.HotGames
                <span class="pseudo-dsshed txt-md block">FEATURE</span>
            </h2>
            <div class="hr"></div>
        </div>
        <div class="col-12 col-l-10 col-mx-l-1 scroll-x scroll-x-invisible">
            <div class="row wrap-0 wrap-1-l gx-l-2 gx-xl-3">
                @foreach (var item in Model.GameList)
                {
                    var css = "";
                    var typename = "";
                    switch (item.Type)
                    {
                        case (int)ProductType.Recommend:
                            typename = PinkCore.Resources._Layout.Index.Recommended;
                            css = "badge-pink";
                            break;
                        case (int)ProductType.HotGame:
                            typename = PinkCore.Resources._Layout.Index.PopularGames;
                            css = "badge-orange";
                            break;
                        case (int)ProductType.NewGame:
                            typename = PinkCore.Resources._Layout.Index.ComingSoon;
                            css = "badge-purple";
                            break;
                    }
                    <div class="col-40p col-l-4 hover-area">
                        <div class="rel">
                            <img class="ratio-3by4" src="~/FileUploads/ProductPhoto/@(!string.IsNullOrEmpty(item.TranslationsImage) ? item.TranslationsImage : item.Image)" alt="@item.Name" title="@item.Name" loading="eager">
                            <span class="badge mobile-badge  @css">@typename</span>
                            <div class="bg-cover hover-fadein-img" style="background-image:url('/FileUploads/ProductPhoto/@(!string.IsNullOrEmpty(item.TranslationsHoverImage) ? item.TranslationsHoverImage : item.HoverImage)');"></div>
                        </div>
                        <div class="feature-content p-1 p-xl-2 hover-area">
                            <div class="row from-top justify-between gx-0">
                                <div class="col-12 static">
                                    <h3 class="feature-title txt-truncate">
                                        @item.Name
                                        <span class="badge pc-badge @css">@PinkCore.Utility.Cmind.EnumHelper.GetDescription((ProductType)item.Type)</span>
                                    </h3>
                                    <p class="limited-2-lines txt-bold feature-desc">
                                        <a href="@item.Link" class="stretched-link" target="_blank">@item.Description</a>
                                    </p>
                                </div>
                                <div class="col-12 static">
                                    <div class="row items-center hidden flex-m gy-1 gx-0">
                                        <div class="col-8 col-l-9">
                                            <p class="i-block mt-0">
                                                @{ DateTime GameDateObject = Convert.ToDateTime(Html.DisplayFor(m => item.OnlineTime, "DateTime").ToString());}
                                                <time class="v-middle">@GameDateObject.ToString("yyyy.MM.dd")</time><br class="hidden-l"><span class="badge-lang @(item.IsTwLan ? "":"hidden")">@PinkCore.Resources.Home.Index.TC</span><span class="badge-lang @(item.IsCnLan ? "":"hidden")">@PinkCore.Resources.Home.Index.CN</span><span class="badge-lang @(item.IsEnLan ? "":"hidden")">@PinkCore.Resources.Home.Index.EN</span><span class="badge-lang @(item.IsJpLan ? "":"hidden")">@PinkCore.Resources.Home.Index.JP</span><span class="badge-lang @(item.IsKRLan ? "":"hidden")">@PinkCore.Resources.Home.Index.KR</span>
                                            </p>
                                        </div>
                                        <div class="col-4 col-l-3">
                                            <div class="btn btn-sand btn-block">@PinkCore.Resources.Home.Index.Go</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-8 col-m-5 col-l-3 col-xl-2">
            <a class="btn btn-sand-grad" href="@Url.Action("Index","Game")" title="@PinkCore.Resources.Home.Index.AllGames">@PinkCore.Resources.Home.Index.AllGames</a>
        </div>
    </div>
</div>
</section>
<section class="mb-2p mb-l-1p">
    <div class="container">
        <div class="row gx-0 gy-5 justify-center">
            <div class="col-12 col-l-6 col-xl-12 txt-sand txt-center tracking-xl-widest">
                <h2 class="feature-3">
                    @PinkCore.Resources.Home.Index.LatestNews
                    <span class="pseudo-dsshed txt-md block">TOPICS</span>
                </h2>
                <div class="hr"></div>
            </div>
            <div class="col-8 col-m-5 col-l-10">
                <div class="btn-group btn-group-sand flex">
                    <button class="btn btn-selected txt-left hidden-l" type="button">All</button>
                    <button class="btn dropdown-toggle dropdown-toggle-split grow-0 hidden-l" id="dropdownMenuReference" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent"><span class="sr-only">Toggle Dropdown</span></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                        <a class="dropdown-item active" href="@Url.Action("Index","Topic")" title="All">All</a>
                        @if (Model.AllTopicList.Any())
                        {
                            foreach (var item in Model.AllTopicList.GroupBy(d => new { d.ProductId }).Select(m => new { m.Key.ProductId, m.ToList().First().ProductName }))
                            {
                                <a class="dropdown-item" href="@Url.Action("Index", "Topic", new { game = item.ProductId })" title="@item.ProductName">@item.ProductName</a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="topic grid col-12 col-m-9 col-l-10 col-mx-l-1">
                @if (Model.TopicList.Any())
                {
                    foreach (var item in Model.TopicList.Select((value, index) => new { value, index }))
                    {
                        var css = item.index == 0 ? "col-l-12" : "col-l-8 col-xl-7";
                        var css2 = item.index == 0 ? "col-l-12 grow-1-l" : "col-l-4 col-xl-5";

                        <div class="cell py-3 px-m-2 px-1 p-l-0 hover-area">
                            <div class="row gx-m-2 gx-1 gx-l-0">
                                <div class="col-5 col-m-7 @css">
                                    <img class="img-fluid" src="~/FileUploads/TopicPhoto/@(!string.IsNullOrEmpty(item.value.TranslationsImage) ? item.value.TranslationsImage : item.value.Image)" alt="@item.value.Title" title="@item.value.Title" loading="eager">
                                    @if (!string.IsNullOrEmpty(item.value.TranslationsHoverImage) || !string.IsNullOrEmpty(item.value.HoverImage))
                                    {
                                        <div class="bg-cover hover-fadein-img" style="background-image:url('/FileUploads/TopicPhoto/@(!string.IsNullOrEmpty(item.value.TranslationsHoverImage) ? item.value.TranslationsHoverImage : item.value.HoverImage)');"></div>
                                    }
                                </div>
                                <div class="col-7 col-m-5 @css2 static">
                                    <div class="topic-content">
                                        <h2 class="topic-title">
                                            @if (!string.IsNullOrEmpty(item.value.Title))
                                            {
                                                var title = item.value.Title.Length > 22 ? item.value.Title.Substring(0, 22) + "..." : item.value.Title;
                                                <a class="stretched-link" href="@Url.Action("Detail", "Topic", new { id = item.value.LinkUrl })" title="@title">@title</a>
                                            }
                                            else {
                                                <a class="stretched-link" href="@Url.Action("Detail", "Topic", new { id =  item.value.ID })"></a>
                                            }
                                        </h2>

                                        <p>
                                            @if (!string.IsNullOrEmpty(item.value.Tags))
                                            {
                                                var taglist = item.value.Tags.Split(',');
                                                foreach (var tag in taglist)
                                                {
                                                    <span class="badge">@tag</span>
                                                }
                                            }
                                            <br>
                                            @{ DateTime TopicDateObject = Convert.ToDateTime(Html.DisplayFor(m => item.value.OnlineTime, "DateTime").ToString());}
                                            <time class="hidden block-l">@TopicDateObject.ToString("yyyy.MM.dd")</time>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="col-8 col-m-5 col-l-3 col-xl-2">
                <a class="btn btn-sand-grad" href="@Url.Action("Index","Topic")" title="@PinkCore.Resources.Home.Index.AllNews">@PinkCore.Resources.Home.Index.AllNews</a>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
       // Add a schema tag to your
       $.getJSON( "/Content/pinkcore/js/@scriptfile", function( data ) {
         $( "<script/>", {
           "type": "application/ld+json",
           "html": JSON.stringify(data)
         }).appendTo( "head" );
       });
    </script>
}