﻿@using PinkCore.Models
@{
    var currentAdmin = PinkCore.Utility.Cmind.AdminInfoHelper.GetAdminInfo();
    //bool admin = currentAdmin.isAdmin;
}


<!-- Sidebar -->
@*<div class="sidebar">
     Sidebar user panel (optional) 
    @if (currentAdmin != null)
    {
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image" style="margin-top:5px">
                <i class="far fa-user nav-icon white"></i>
            </div>
            <div class="info" style="margin-left:10px">
                <a class="d-block">@currentAdmin.Account</a>
            </div>
        </div>
    }
</div>*@


<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
        @*<li class="nav-header">EXAMPLES</li>*@
        <li class="nav-item">
            <a href="@Url.Action("Index", "BannerAdmin" )" class="nav-link">
                <i class="nav-icon fas fa-file-image"></i>
                <p>
                    每日頭條管理
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index", "ProductAdmin" )" class="nav-link">
                <i class="nav-icon fas fa-gamepad"></i>
                <p>
                    遊戲管理
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index", "TopicAdmin" )" class="nav-link">
                <i class="nav-icon fas fa-newspaper"></i>
                <p>
                    話題管理
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Edit", "AboutAdmin" )" class="nav-link">
                <i class="nav-icon fa fa-address-card"></i>
                <p>
                    關於我們管理
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="@Url.Action("Edit", "AgeConfirmAdmin" )" class="nav-link">
                <i class="nav-icon fas fa-book "></i>
                <p>
                    年齡確認管理
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Edit", "PolicyAdmin", new { id = 1 })" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
                <p>
                    政策與條款管理
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Edit", "PolicyAdmin", new { id = 2 } )" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
                <p>
                    DMM專用隱私權政策
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index", "NewsAdmin" )" class="nav-link">
                <i class="nav-icon fas fa-newspaper"></i>
                <p>
                    遊戲公告管理
                </p>
            </a>
        </li>
        <li class="nav-item user-panel">
        </li>
        <li class="nav-item" style="margin-top:20px;">
            <a href="/Admin/AuthAdmin/Logout" class="nav-link">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>
                    登出
                </p>
            </a>
        </li>
    </ul>
</nav>
<!-- /.sidebar-menu -->
<!-- /.sidebar -->