﻿@using PinkCore.Models.Cmind;
@model PinkCore.Areas.Admin.ViewModels.About.AboutImgView
@using HtmlHelpers.BeginCollectionItem
@{
    string collectionName = "AboutImgs" + Model.Language;
    Guid newIndex = Guid.NewGuid();
}
@using (Html.BeginCollectionItem(collectionName, newIndex))
{
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.AboutTranslationsId)
    @Html.HiddenFor(m => m.Language)
    <div class="card card-warning shadow">
        <div class="card-header">
            <h3 class="card-title">@(!string.IsNullOrEmpty(Model.Title) ? Model.Title : "幻燈片")</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="maximize">
                    <i class="fas fa-expand"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <div class="card-body" style="padding-bottom:0px">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Title)
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Sort)
                        @Html.TextBoxFor(model => model.Sort, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Sort, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Image)
                        <br />
                        <span class="text-red">建議圖片:寬高784px</span>
                        <div class="input-group">
                            @Html.EditorFor(m => m.ImageFile, "_UploadImage")
                            @if (!string.IsNullOrEmpty(Model.Image))
                            {
                                @Html.HiddenFor(model => model.Image)
                                <a href="~/FileUploads/AboutPhoto/@Model.Image" target="_blank" class="btn btn-info">預覽圖</a>
                                @Html.ActionLink("刪除圖片", "DeleteImage", new { id = 0, type = 0, imagefile = Model.Image }, new { @class = "btn btn-danger js-delete-confirm" })
                            }
                        </div>
                    </div>
                    <div class="form-check">
                        @Html.CheckBoxFor(model => model.Status, new { @class = "form-check-input" })
                        <label class="form-check-label" for="check-card-status">
                            @Html.DisplayNameFor(model => model.Status)
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description)
                        <span class="text-red">前台不可超過11行字，否則會破板</span>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control js-ckeditor", @Rows = "5" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin:20px 0">
                <button type="button" class="btn btn-sm btn-danger"
                        onclick="aboutimgs_@(Model.Language).remove(this)">
                    移除團隊輪播
                </button>
            </div>
        </div>
    </div>
}