﻿@using PinkCore.Models.Cmind;
@model PinkCore.Areas.Admin.ViewModels.About.AboutView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增關於我們" : "編輯關於我們";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @title
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary card-tabs">
                <div class="card-header p-0 pt-1">
                    <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#tab_1" role="tab" aria-controls="tab_1" aria-selected="true">共通</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab_2" role="tab" aria-controls="tab_2" aria-selected="false">繁體中文</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab_3" role="tab" aria-controls="tab_3" aria-selected="false">簡體中文</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab_4" role="tab" aria-controls="tab_4" aria-selected="false">英文</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab_5" role="tab" aria-controls="tab_5" aria-selected="false">日文</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab_6" role="tab" aria-controls="tab_6" aria-selected="false">韓文</a>
                        </li>
                    </ul>
                </div>
                @using (Html.BeginForm("Edit", "AboutAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="card-body">
                        <div class="tab-content" id="custom-tabs-one-tabContent">
                            <div class="tab-pane fade show active" id="tab_1" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.BannerImg)
                                            <br />
                                            <span class="text-red">建議尺寸:寬1920px*高540px</span>
                                            @Html.EditorFor(m => m.BannerImgFile, "_UploadImage")
                                            @if (!string.IsNullOrEmpty(Model.BannerImg))
                                            {
                                                <img src="~/FileUploads/AboutPhoto/@Model.BannerImg?v=@DateTime.Now.ToString("yyyyMMddHHmmss")" class="img-thumbnail" style="height:200px" />
                                                @Html.HiddenFor(model => model.BannerImg)
                                                <br />
                                                @Html.ActionLink("刪除圖片", "DeleteImage", new { id = Model.ID, type = (int)AboutImgType.BannerImg }, new { @class = "btn btn-danger js-delete-confirm" })
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.AboutImg)
                                            <br />
                                            <span class="text-red">建議尺寸:寬785px*高785px，比例1:1</span>
                                            @Html.EditorFor(m => m.AboutImgFile, "_UploadImage")
                                            @if (!string.IsNullOrEmpty(Model.AboutImg))
                                            {
                                                <img src="~/FileUploads/AboutPhoto/@Model.AboutImg?v=@DateTime.Now.ToString("yyyyMMddHHmmss")" class="img-thumbnail" style="height:200px" />
                                                @Html.HiddenFor(model => model.AboutImg)
                                                <br />
                                                @Html.ActionLink("刪除圖片", "DeleteImage", new { id = Model.ID, type = (int)AboutImgType.AboutImg }, new { @class = "btn btn-danger js-delete-confirm" })
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ContactImg)
                                            <br />
                                            <span class="text-red">建議尺寸:寬785px*高785px，比例1:1</span>
                                            @Html.EditorFor(m => m.ContactImgFile, "_UploadImage")
                                            @if (!string.IsNullOrEmpty(Model.ContactImg))
                                            {
                                                <img src="~/FileUploads/AboutPhoto/@Model.ContactImg?v=@DateTime.Now.ToString("yyyyMMddHHmmss")" class="img-thumbnail" style="height: 200px" />
                                                @Html.HiddenFor(model => model.ContactImg)
                                                <br />
                                                @Html.ActionLink("刪除圖片", "DeleteImage", new { id = Model.ID, type = (int)AboutImgType.ContactImg }, new { @class = "btn btn-danger js-delete-confirm" })
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab_2" role="tabpanel" aria-labelledby="tab_2">
                                @Html.EditorFor(model => model.AboutTranslationViewTw, "AboutAdminEdit")
                            </div>
                            <div class="tab-pane fade" id="tab_3" role="tabpanel" aria-labelledby="tab_3">
                                @Html.EditorFor(model => model.AboutTranslationViewCn, "AboutAdminEdit")
                            </div>
                            <div class="tab-pane fade" id="tab_4" role="tabpanel" aria-labelledby="tab_4">
                                @Html.EditorFor(model => model.AboutTranslationViewUs, "AboutAdminEdit")
                            </div>
                            <div class="tab-pane fade" id="tab_5" role="tabpanel" aria-labelledby="tab_5">
                                @Html.EditorFor(model => model.AboutTranslationViewJp, "AboutAdminEdit")
                            </div>
                            <div class="tab-pane fade" id="tab_6" role="tabpanel" aria-labelledby="tab_6">
                                @Html.EditorFor(model => model.AboutTranslationViewKr, "AboutAdminEdit")
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", "AboutAdmin", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Content/Admin/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/Admin/fileUpload.js"></script>
    <script src="~/Scripts/front/about_edit.js"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            //Ckeditor init
            initCKeditor();
        });
        $(document).on("change", ":checkbox", function () {
            $("input[name*='" + $(this).attr('name') + "']").val(this.checked);
        });
        $('body').on('change', '.custom-file input[type="file"]', function () {
            const $this = $(this);
            var $customFile = $this.parent();

            var fileName = $this.val();
            var cleanFileName = fileName.replace('C:\\fakepath\\', " ");
            $customFile.find('.custom-file-label').html(cleanFileName);
        });
    </script>
}