﻿@model PinkCore.ViewModels.Policy.PolicyView
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Authority;
}
@section head{
    <title>@PinkCore.Resources.Home.Index.MetaTite</title>
    <meta name="description" content="@PinkCore.Resources.Home.Index.MetaDescription" />
    <meta property="og:image" content="@url/Content/pinkcore/img/og.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta name="twitter:title" content="@PinkCore.Resources.Home.Index.MetaTite" />
    <meta name="twitter:description" content="@PinkCore.Resources.Home.Index.MetaDescription" />
    <meta property="og:title" content="@PinkCore.Resources.Home.Index.MetaTite" />
    <meta name="twitter:image" content="@url/Content/pinkcore/img/og.jpg">
    <meta property="og:description" content="@PinkCore.Resources.Home.Index.MetaDescription" />
}
<section class="py-5 mb-5">
    <div class="container bg-light-gray radius-lg">
        <article class="row justify-center">
            <div class="col-xl-10">
                <div class="py-3 p-m-3 p-l-5">
                    <h1 class="txt-title txt-center mx-m-1p mx-l-2p bb b-bold pb-3">@PinkCore.Resources.Policy.Index.PolicyTitle</h1>
                    @Html.Raw(Model.PrivacyContent)
                </div>
            </div>
        </article>
    </div>
</section>
<section class="py-3">
    <div class="container bg-light-gray radius-lg">
        <article class="row justify-center">
            <div class="col-xl-10">
                <div class="py-3 p-m-3 p-l-4">
                    <h2 class="txt-center mx-m-1p mx-l-2p bb b-bold pb-3">@PinkCore.Resources.Policy.Index.TermTitle</h2>
                    @Html.Raw(Model.PolicyContent)
                </div>
            </div>
        </article>
    </div>
</section>