﻿@using PinkCore.Models.Cmind;
@model PinkCore.ViewModels.Game.GameView
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Authority;
}
@section head{
    <title>Pinkcore | @PinkCore.Resources._Layout.Index.HotGames</title>
    <meta name="description" content="@PinkCore.Resources.Home.Index.MetaDescription" />
    <meta property="og:image" content="@url/Content/pinkcore/img/og.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta name="twitter:title" content="@PinkCore.Resources.Home.Index.MetaTite" />
    <meta name="twitter:description" content="@PinkCore.Resources.Home.Index.MetaDescription" />
    <meta property="og:title" content="@PinkCore.Resources.Home.Index.MetaTite" />
    <meta name="twitter:image" content="@url/Content/pinkcore/img/og.jpg">
    <meta property="og:description" content="@PinkCore.Resources.Home.Index.MetaDescription" />
}
<section class="py-5">
    <div class="container">
        <div class="row gx-3 gy-5 justify-center feature">
            <div class="col-12 col-l-6 col-xl-12 txt-sand txt-center tracking-xl-widest">
                <h1 class="feature-3">
                    @PinkCore.Resources.Game.Index.Games
                    <span class="pseudo-dsshed txt-md block">FEATURE</span>
                </h1>
                <div class="hr"></div>
            </div>
            <div class="col-12 col-m-9 col-l-10 col-mx-l-1">
                <div class="row gy-3 g-l-2 g-xl-3">
                    @if (Model.DataList.Any())
                    {
                        foreach (var item in Model.DataList.Select((value, index) => new { value, index }))
                        {
                            var css = item.index > 5 ? "init hidden" : "";
                            var csstype = item.index > 5 ? "init hidden" : "";
                            var typename = "";
                            switch (item.value.Type)
                            {
                                case (int)ProductType.Recommend:
                                    typename = PinkCore.Resources._Layout.Index.Recommended;
                                    csstype = "badge-pink";
                                    break;
                                case (int)ProductType.HotGame:
                                    typename = PinkCore.Resources._Layout.Index.PopularGames;
                                    csstype = "badge-orange";
                                    break;
                                case (int)ProductType.NewGame:
                                    typename = PinkCore.Resources._Layout.Index.ComingSoon;
                                    csstype = "badge-purple";
                                    break;
                            }
                            <div class="col-6 col-l-4 hover-area @css">
                                <div class="rel">
                                    <img class="ratio-3by4" src="~/FileUploads/ProductPhoto/@(!string.IsNullOrEmpty(item.value.TranslationsImage) ? item.value.TranslationsImage : item.value.Image)" alt="@item.value.Name" title="@item.value.Name" loading="eager">
                                    <span class="badge mobile-badge @csstype">@typename</span>
                                    <div class="bg-cover hover-fadein-img" style="background-image:url('/FileUploads/ProductPhoto/@(!string.IsNullOrEmpty(item.value.TranslationsHoverImage) ? item.value.TranslationsHoverImage : item.value.HoverImage)');">
                                    </div>
                                </div>
                                <div class="feature-content p-1 p-xl-2 hover-area">
                                    <div class="row from-top justify-between gx-0">
                                        <div class="col-12 static">
                                            <h3 class="feature-title txt-truncate">
                                                @item.value.Name
                                                <span class="badge pc-badge @csstype">@PinkCore.Utility.Cmind.EnumHelper.GetDescription((ProductType)item.value.Type)</span>
                                            </h3>
                                            <p class="limited-2-lines txt-bold feature-desc">
                                                <a href="@item.value.Link" class="stretched-link" target="_blank">@item.value.Description</a>
                                            </p>
                                        </div>
                                        <div class="col-12 static">
                                            <div class="row items-center hidden flex-m gy-1 gx-0">
                                                <div class="col-8 col-l-9">
                                                    <p class="i-block mt-0">
                                                        @{ DateTime DateObject = Convert.ToDateTime(Html.DisplayFor(m => item.value.OnlineTime, "DateTime").ToString());}

                                                        <time class="v-middle">@DateObject.ToString("yyyy.MM.dd")</time><br class="hidden-l"><span class="badge-lang @(item.value.IsTwLan ? "":"hidden")">@PinkCore.Resources.Home.Index.TC</span><span class="badge-lang @(item.value.IsCnLan ? "":"hidden")">@PinkCore.Resources.Home.Index.CN</span><span class="badge-lang @(item.value.IsEnLan ? "":"hidden")">@PinkCore.Resources.Home.Index.EN</span><span class="badge-lang @(item.value.IsJpLan ? "":"hidden")">@PinkCore.Resources.Home.Index.JP</span><span class="badge-lang @(item.value.IsKRLan ? "":"hidden")">@PinkCore.Resources.Home.Index.KR</span>
                                                    </p>
                                                </div>
                                                <div class="col-4 col-l-3">
                                                    <div class="btn btn-sand btn-block">@PinkCore.Resources.Game.Index.Go</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                    }
                </div>
            </div>
            @if (Model.DataList.Count() > 6)
            {
                <div class="col-8 col-m-5 col-l-3 col-xl-2">
                    <button class="btn btn-sand-grad show-all" type="button">@PinkCore.Resources.Game.Index.MoreGames</button>
                </div>
            }
        </div>
    </div>
</section>