﻿@using PinkCore.Models.Cmind
@model PinkCore.Areas.Darakugear.ViewModels.Home.HomeView
@{
    var htmlContent = "";
    switch (Model.Language)
    {
        case Language.zh_TW:
            htmlContent = @"<section>
    <div class='container-fluid'>
        <div class='fill-container-xl video-mask'>
            <video class='img-fluid block mx-auto' id='header-video' preload autoplay loop muted playsinline>
                <source id='header-video-source' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/index_top_m.mp4' type='video/mp4' data-pc='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/index_top.mp4'>
            </video>
        </div>
    </div>
    <div class='container-fluid gy-2'>
        <div class='row gy-2'>
            <div class='col-10 col-ml-2 col-l-4 col-mx-l-4 col-xl-3 col-mx-xl-0'>
                <p class='vertical-text vertical-text-1'><span class='vertical-typewriter-wrap' style='margin-top:0rem;height:169.5px;'><span class='vertical-typewriter-text' style='animation-duration:0.6s,0.5s;animation-timing-function:steps(3,end),step-end;animation-delay:0s;animation-iteration-count:1,3;'>洗腦？</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:3rem;height:282.5px;'><span class='vertical-typewriter-text' style='animation-duration:1s,0.5s;animation-timing-function:steps(5,end),step-end;animation-delay:1s;animation-iteration-count:1,5;'>認知改造？</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:6rem;height:282.5px;'><span class='vertical-typewriter-text' style='animation-duration:1s,0.5s;animation-timing-function:steps(5,end),step-end;animation-delay:2s;animation-iteration-count:1,infinite;'>人格替換？</span></span></p>
            </div>
            <div class='col-m-6 col-xl-5 self-end order-xl-first'>
                <h2 class='title-character bar-character-top'>CHARACTERS</h2>
            </div>
            <div class='col-12'>
                <div class='row items-center items-xl-stretch g-2'>
                    <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/zh-TW/Characters/Christine' title='christine'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-index.webp' width='auto' height='auto' title='christine' alt='christine' loading='eager'></a></div>
                    <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/zh-TW/Characters/Karla' title='karla'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-index.webp' width='auto' height='auto' title='karla' alt='karla' loading='eager'></a></div>
                    <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/zh-TW/Characters/Selina' title='selina'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-index.webp' width='auto' height='auto' title='selina' alt='selina' loading='eager'></a></div>
                    <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/zh-TW/Characters/Rita' title='rita'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-index.webp' width='auto' height='auto' title='rita' alt='rita' loading='eager'></a></div>
                    <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/zh-TW/Characters/Jess' title='jess'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-index.webp' width='auto' height='auto' title='jess' alt='jess' loading='eager'></a></div>
                    <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/zh-TW/Characters/Luna' title='luna'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-index.webp' width='auto' height='auto' title='luna' alt='luna' loading='eager'></a></div>
                    <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/zh-TW/Characters/Xinthia' title='xinthia'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-index.webp' width='auto' height='auto' title='xinthia' alt='xinthia' loading='eager'></a></div>
                    <div class='col-8 col-l-6 col-ml-l-6 col-xl-5 col-ml-xl-6 order-l-first order-xl-first'>
                        <p class='horizontal-text horizontal-text-1'>「主教様の栄光が為<br>&emsp;我が身を捧げん！」</p>
                    </div>
                </div>
            </div>
            <div class='col-m-6 col-xl-4 ml-auto order-xl-last hidden block-xl'>
                <div class='title-character bar-character-bottom txt-right'>CHARACTERS</div>
            </div>
        </div>
        <div class='row justify-center'>
            <div class='col-m-4 col-xl-2'><a class='btn btn-outline-primary btn-lg btn-block' href='/Darakugear/zh-TW/Characters'>登場人物</a></div>
        </div>
    </div>
    <div class='container-fluid rel my-3'>
        <div class='row gx-0'>
            <div class='col-10 col-mx-1 col-l-4 col-mx-l-4 col-xl-3 col-mx-xl-0'>
                <p class='vertical-text vertical-text-2'><span class='vertical-typewriter-wrap' style='margin-top:0rem;height:452px;'><span class='vertical-typewriter-text' style='animation-duration:1.6s,0.5s;animation-timing-function:steps(8,end),step-end;animation-delay:0s;animation-iteration-count:1,8;'>飽受羞辱的神子，</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:3rem;height:452px;'><span class='vertical-typewriter-text' style='animation-duration:1.6s,0.5s;animation-timing-function:steps(8,end),step-end;animation-delay:2s;animation-iteration-count:1,8;'>揭開家族最深沉、</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:6rem;height:339px;'><span class='vertical-typewriter-text' style='animation-duration:1.2s,0.5s;animation-timing-function:steps(6,end),step-end;animation-delay:3s;animation-iteration-count:1,infinite;'>腐敗的秘密！</span></span></p>
            </div>
            <div class='col-12 -mt-6 mt-l-0'>
                <picture>
                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-1.webp' type='image/webp'>
                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-1@2x.png 2x' type='image/png'>
                    <img class='img-fluid item-1' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-1.png' width='84' height='87' alt='恙蛛后蟲' title='恙蛛后蟲' loading='eager'>
                </picture>
                <div class='loop-track track-bg track-bg-1'>
                    <div class='loop-img loop-img-1' id='loop-1' style='background-image: url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/carousel-1.png);'></div>
                </div>
                <picture>
                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-2.webp' type='image/webp'>
                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-2@2x.png 2x' type='image/png'>
                    <img class='img-fluid item-2' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-2.png' width='82' height='94' alt='純粹媚蟲香' title='純粹媚蟲香' loading='eager'>
                </picture>
            </div>
            <div class='col-10 col-ml-2 col-xl-5 col-ml-xl-1 order-xl-first'>
                <p class='horizontal-text horizontal-text-2'>「あ......主人！<br>&emsp;ようやく<br>&emsp;戻ってきたのですね！」</p>
            </div>
        </div>
    </div>
    <div class='container bg-index-center mb-6 mt-l-6'>
        <div class='row'>
            <div class='col-6 col-l-3 col-xl-2 col-ml-xl-1 -mb-6 mb-l-0' style='min-height:600px'>
                <p class='vertical-text vertical-text-3'><span class='vertical-typewriter-wrap' style='margin-top:0rem;height:339px;'><span class='vertical-typewriter-text' style='animation-duration:1.2s,0.5s;animation-timing-function:steps(6,end),step-end;animation-delay:0s;animation-iteration-count:1,6;'>決心利用各種</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:3rem;height:565px;'><span class='vertical-typewriter-text' style='animation-duration:2s,0.5s;animation-timing-function:steps(10,end),step-end;animation-delay:1s;animation-iteration-count:1,infinite;'>慘絕人寰的惡墮手段！</span></span></p>
            </div>
            <div class='col-l-9 col-xl-8 -mt-6 mt-l-0'>
                <picture>
                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-3.webp' type='image/webp'>
                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-3@2x.png 2x' type='image/png'>
                    <img class='img-fluid item-3' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-3.png' width='52' height='55' alt='純粹淫魔蛹' title='純粹淫魔蛹' loading='eager'>
                </picture>
                <div class='swiper-container swiper-index-img' id='swiper-index-img-1'>
                    <div class='swiper-wrapper'>
                        <div class='swiper-slide'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-2.png' width='auto' height='auto' alt='' title='' loading='eager'></div>
                        <div class='swiper-slide'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-2.png' width='auto' height='auto' alt='' title='' loading='eager'></div>
                    </div>
                </div>
                <picture>
                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-5.webp' type='image/webp'>
                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-5@2x.png 2x' type='image/png'>
                    <img class='img-fluid item-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-5.png' width='106' height='127' alt='電椅' title='電椅' loading='eager'>
                </picture>
                <p class='horizontal-text horizontal-text-3'>「ヤダ！<br>&emsp;はやくあたしに殴らせてよ！<br>&emsp;曲がってるよ！」</p>
            </div>
            <div class='col-l-8 col-ml-l-2 offset-top-col'>
                <picture>
                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-4.webp' type='image/webp'>
                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-4@2x.png 2x' type='image/png'>
                    <img class='img-fluid item-4' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-4.png' width='54' height='53' alt='工具箱' title='工具箱' loading='eager'>
                </picture>
                <picture>
                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-8.webp' type='image/webp'>
                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-8@2x.png 2x' type='image/png'>
                    <img class='img-fluid item-8' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-8.png' width='56' height='68' alt='純粹淫化激素' title='純粹淫化激素' loading='eager'>
                </picture>
                <div class='swiper-container swiper-index-img' id='swiper-index-img-2'>
                    <div class='swiper-wrapper'>
                        <div class='swiper-slide'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-2.png' width='auto' height='auto' alt='' title='' loading='eager'></div>
                        <div class='swiper-slide'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-2.png' width='auto' height='auto' alt='' title='' loading='eager'></div>
                    </div>
                </div>
                <p class='horizontal-text horizontal-text-4'>「えっ？<br>&emsp;天才に何ができるの<br>&emsp;でしょうか？」</p>
            </div>
        </div>
    </div>
    <div class='container-fluid rel z-top'>
        <div class='row gx-0'>
            <div class='col-12 col-l-6 col-ml-xl-1'>
                <p class='horizontal-text horizontal-text-5'>「ふふっ！<br>&emsp;何度も射精させる<br>&emsp;方法知ってるんだから！！」</p>
            </div>
            <div class='col-8 col-mx-2 col-xl-3 mx-xl-0'>
                <p class='vertical-text vertical-text-4'><span class='vertical-typewriter-wrap' style='margin-top:0rem;height:282.5px;'><span class='vertical-typewriter-text' style='animation-duration:1s,0.5s;animation-timing-function:steps(5,end),step-end;animation-delay:0s;animation-iteration-count:1,5;'>讓戰姬們在</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:3rem;height:282.5px;'><span class='vertical-typewriter-text' style='animation-duration:1s,0.5s;animation-timing-function:steps(5,end),step-end;animation-delay:1s;animation-iteration-count:1,5;'>極樂快感中</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:6rem;height:282.5px;'><span class='vertical-typewriter-text' style='animation-duration:1s,0.5s;animation-timing-function:steps(5,end),step-end;animation-delay:2s;animation-iteration-count:1,infinite;'>沉淪墮落！</span></span></p>
            </div>
            <div class='col-12 -mt-6 mt-l-0'>
                <picture>
                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-6.webp' type='image/webp'>
                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-6@2x.png 2x' type='image/png'>
                    <img class='img-fluid item-6' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-6.png' width='62' height='77' alt='意識入侵型AI' title='意識入侵型AI' loading='eager'>
                </picture>
                <picture>
                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-7.webp' type='image/webp'>
                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-7@2x.png 2x' type='image/png'>
                    <img class='img-fluid item-7' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-7.png' width='63' height='64' alt='媚蟲香精' title='媚蟲香精' loading='eager'>
                </picture>
                <div class='loop-track track-bg track-bg-2'>
                    <div class='loop-img loop-img-2' id='loop-2' style='background-image: url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/carousel-2.png);'></div>
                </div>
            </div>
        </div>
    </div>
    <div class='container rel pt-7 pt-l-0'>
        <p class='vertical-text vertical-text-5'><span class='vertical-typewriter-wrap' style='height:452px;'><span class='vertical-typewriter-text' style='animation-duration:1.6s,0.5s;animation-timing-function:steps(8,end),step-end;animation-delay:0s;animation-iteration-count:1,8;'>「不要再抗拒了，</span></span><br><span class='vertical-typewriter-wrap' style='height:395.5px;'><span class='vertical-typewriter-text' style='animation-duration:1.4s,0.5s;animation-timing-function:steps(7,end),step-end;animation-delay:2s;animation-iteration-count:1,7;'>說出妳的誓言！</span></span><br><span class='vertical-typewriter-wrap' style='height:565px;'><span class='vertical-typewriter-text' style='animation-duration:2s,0.5s;animation-timing-function:steps(10,end),step-end;animation-delay:3s;animation-iteration-count:1,infinite;'>把身心都奉獻給我！」</span></span></p>
        <div class='fill-container'>
            <video class='img-fluid block mx-auto -mt-l-6' id='footer-video' preload autoplay loop muted playsinline style='mix-blend-mode:darken;'>
                <source id='footer-video-source' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/index_bottom_m.mp4' type='video/mp4' data-pc='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/index_bottom.mp4'>
            </video>
        </div>
    </div>
</section>";
            break;
        case Language.zh_CN:
            htmlContent = @"<section>
 <div class='container-fluid'>
    <div class='fill-container-xl video-mask'>
       <video class='img-fluid block mx-auto' id='header-video' preload autoplay loop muted playsinline>
          <source id='header-video-source' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/index_top_m.mp4' type='video/mp4' data-pc='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/index_top.mp4'>
       </video>
    </div>
 </div>
 <div class='container-fluid gy-2'>
    <div class='row gy-2'>
       <div class='col-10 col-ml-2 col-l-4 col-mx-l-4 col-xl-3 col-mx-xl-0'>
          <p class='vertical-text vertical-text-1'><span class='vertical-typewriter-wrap' style='margin-top:0rem;height:169.5px;'><span class='vertical-typewriter-text' style='animation-duration:0.6s,0.5s;animation-timing-function:steps(3,end),step-end;animation-delay:0s;animation-iteration-count:1,3;'>洗脑？</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:3rem;height:282.5px;'><span class='vertical-typewriter-text' style='animation-duration:1s,0.5s;animation-timing-function:steps(5,end),step-end;animation-delay:1s;animation-iteration-count:1,5;'>认知改造？</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:6rem;height:282.5px;'><span class='vertical-typewriter-text' style='animation-duration:1s,0.5s;animation-timing-function:steps(5,end),step-end;animation-delay:2s;animation-iteration-count:1,infinite;'>人格替换？</span></span></p>
       </div>
       <div class='col-m-6 col-xl-5 self-end order-xl-first'>
          <h2 class='title-character bar-character-top'>CHARACTERS</h2>
       </div>
       <div class='col-12'>
          <div class='row items-center items-xl-stretch g-2'>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/zh-CN/Characters/Christine' title='christine'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-index.webp' width='auto' height='auto' title='christine' alt='christine' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/zh-CN/Characters/Karla' title='karla'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-index.webp' width='auto' height='auto' title='karla' alt='karla' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/zh-CN/Characters/Selina' title='selina'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-index.webp' width='auto' height='auto' title='selina' alt='selina' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/zh-CN/Characters/Rita' title='rita'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-index.webp' width='auto' height='auto' title='rita' alt='rita' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/zh-CN/Characters/Jess' title='jess'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-index.webp' width='auto' height='auto' title='jess' alt='jess' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/zh-CN/Characters/Luna' title='luna'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-index.webp' width='auto' height='auto' title='luna' alt='luna' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/zh-CN/Characters/Xinthia' title='xinthia'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-index.webp' width='auto' height='auto' title='xinthia' alt='xinthia' loading='eager'></a></div>
             <div class='col-8 col-l-6 col-ml-l-6 col-xl-5 col-ml-xl-6 order-l-first order-xl-first'>
                <p class='horizontal-text horizontal-text-1'>「主教様の栄光が為<br>&emsp;我が身を捧げん！」</p>
             </div>
          </div>
       </div>
       <div class='col-m-6 col-xl-4 ml-auto order-xl-last hidden block-xl'>
          <div class='title-character bar-character-bottom txt-right'>CHARACTERS</div>
       </div>
    </div>
    <div class='row justify-center'>
       <div class='col-m-4 col-xl-2'><a class='btn btn-outline-primary btn-lg btn-block' href='/Darakugear/zh-CN/Characters'>登场人物</a></div>
    </div>
 </div>
 <div class='container-fluid rel my-3'>
    <div class='row gx-0'>
       <div class='col-10 col-mx-1 col-l-4 col-mx-l-4 col-xl-3 col-mx-xl-0'>
          <p class='vertical-text vertical-text-2'><span class='vertical-typewriter-wrap' style='margin-top:0rem;height:452px;'><span class='vertical-typewriter-text' style='animation-duration:1.6s,0.5s;animation-timing-function:steps(8,end),step-end;animation-delay:0s;animation-iteration-count:1,8;'>饱受羞辱的神子，</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:3rem;height:452px;'><span class='vertical-typewriter-text' style='animation-duration:1.6s,0.5s;animation-timing-function:steps(8,end),step-end;animation-delay:2s;animation-iteration-count:1,8;'>揭开家族最深沉、</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:6rem;height:339px;'><span class='vertical-typewriter-text' style='animation-duration:1.2s,0.5s;animation-timing-function:steps(6,end),step-end;animation-delay:3s;animation-iteration-count:1,infinite;'>腐败的秘密！</span></span></p>
       </div>
       <div class='col-12 -mt-6 mt-l-0'>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-1.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-1@2x.png 2x' type='image/png'>
             <img class='img-fluid item-1' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-1.png' width='84' height='87' alt='恙蛛后虫' title='恙蛛后虫' loading='eager'>
          </picture>
          <div class='loop-track track-bg track-bg-1'>
             <div class='loop-img loop-img-1' id='loop-1' style='background-image: url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/carousel-1.png);'></div>
          </div>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-2.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-2@2x.png 2x' type='image/png'>
             <img class='img-fluid item-2' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-2.png' width='82' height='94' alt='纯粹媚虫香' title='纯粹媚虫香' loading='eager'>
          </picture>
       </div>
       <div class='col-10 col-ml-2 col-xl-5 col-ml-xl-1 order-xl-first'>
          <p class='horizontal-text horizontal-text-2'>「あ......主人！<br>&emsp;ようやく<br>&emsp;戻ってきたのですね！」</p>
       </div>
    </div>
 </div>
 <div class='container bg-index-center mb-6 mt-l-6'>
    <div class='row'>
       <div class='col-6 col-l-3 col-xl-2 col-ml-xl-1 -mb-6 mb-l-0' style='min-height:600px'>
          <p class='vertical-text vertical-text-3'><span class='vertical-typewriter-wrap' style='margin-top:0rem;height:339px;'><span class='vertical-typewriter-text' style='animation-duration:1.2s,0.5s;animation-timing-function:steps(6,end),step-end;animation-delay:0s;animation-iteration-count:1,6;'>决心利用各种</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:3rem;height:565px;'><span class='vertical-typewriter-text' style='animation-duration:2s,0.5s;animation-timing-function:steps(10,end),step-end;animation-delay:1s;animation-iteration-count:1,infinite;'>惨绝人寰的恶堕手段！</span></span></p>
       </div>
       <div class='col-l-9 col-xl-8 -mt-6 mt-l-0'>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-3.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-3@2x.png 2x' type='image/png'>
             <img class='img-fluid item-3' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-3.png' width='52' height='55' alt='纯粹淫魔蛹' title='纯粹淫魔蛹' loading='eager'>
          </picture>
          <div class='swiper-container swiper-index-img' id='swiper-index-img-1'>
             <div class='swiper-wrapper'>
                <div class='swiper-slide'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-2.png' width='auto' height='auto' alt='' title='' loading='eager'></div>
                <div class='swiper-slide'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-2.png' width='auto' height='auto' alt='' title='' loading='eager'></div>
             </div>
          </div>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-5.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-5@2x.png 2x' type='image/png'>
             <img class='img-fluid item-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-5.png' width='106' height='127' alt='电椅' title='电椅' loading='eager'>
          </picture>
          <p class='horizontal-text horizontal-text-3'>「ヤダ！<br>&emsp;はやくあたしに殴らせてよ！<br>&emsp;曲がってるよ！」</p>
       </div>
       <div class='col-l-8 col-ml-l-2 offset-top-col'>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-4.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-4@2x.png 2x' type='image/png'>
             <img class='img-fluid item-4' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-4.png' width='54' height='53' alt='工具箱' title='工具箱' loading='eager'>
          </picture>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-8.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-8@2x.png 2x' type='image/png'>
             <img class='img-fluid item-8' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-8.png' width='56' height='68' alt='纯粹淫化激素' title='纯粹淫化激素' loading='eager'>
          </picture>
          <div class='swiper-container swiper-index-img' id='swiper-index-img-2'>
             <div class='swiper-wrapper'>
                <div class='swiper-slide'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-2.png' width='auto' height='auto' alt='' title='' loading='eager'></div>
                <div class='swiper-slide'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-2.png' width='auto' height='auto' alt='' title='' loading='eager'></div>
             </div>
          </div>
          <p class='horizontal-text horizontal-text-4'>「えっ？<br>&emsp;天才に何ができるの<br>&emsp;でしょうか？」</p>
       </div>
    </div>
 </div>
 <div class='container-fluid rel z-top'>
    <div class='row gx-0'>
       <div class='col-12 col-l-6 col-ml-xl-1'>
          <p class='horizontal-text horizontal-text-5'>「ふふっ！<br>&emsp;何度も射精させる<br>&emsp;方法知ってるんだから！！」</p>
       </div>
       <div class='col-8 col-mx-2 col-xl-3 mx-xl-0'>
          <p class='vertical-text vertical-text-4'><span class='vertical-typewriter-wrap' style='margin-top:0rem;height:282.5px;'><span class='vertical-typewriter-text' style='animation-duration:1s,0.5s;animation-timing-function:steps(5,end),step-end;animation-delay:0s;animation-iteration-count:1,5;'>让战姬们在</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:3rem;height:282.5px;'><span class='vertical-typewriter-text' style='animation-duration:1s,0.5s;animation-timing-function:steps(5,end),step-end;animation-delay:1s;animation-iteration-count:1,5;'>极乐快感中</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:6rem;height:282.5px;'><span class='vertical-typewriter-text' style='animation-duration:1s,0.5s;animation-timing-function:steps(5,end),step-end;animation-delay:2s;animation-iteration-count:1,infinite;'>沉沦堕落！</span></span></p>
       </div>
       <div class='col-12 -mt-6 mt-l-0'>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-6.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-6@2x.png 2x' type='image/png'>
             <img class='img-fluid item-6' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-6.png' width='62' height='77' alt='意识入侵型AI' title='意识入侵型AI' loading='eager'>
          </picture>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-7.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-7@2x.png 2x' type='image/png'>
             <img class='img-fluid item-7' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-7.png' width='63' height='64' alt='媚虫香精' title='媚虫香精' loading='eager'>
          </picture>
          <div class='loop-track track-bg track-bg-2'>
             <div class='loop-img loop-img-2' id='loop-2' style='background-image: url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/carousel-2.png);'></div>
          </div>
       </div>
    </div>
 </div>
 <div class='container rel pt-7 pt-l-0'>
    <p class='vertical-text vertical-text-5'><span class='vertical-typewriter-wrap' style='height:452px;'><span class='vertical-typewriter-text' style='animation-duration:1.6s,0.5s;animation-timing-function:steps(8,end),step-end;animation-delay:0s;animation-iteration-count:1,8;'>「不要再抗拒了，</span></span><br><span class='vertical-typewriter-wrap' style='height:395.5px;'><span class='vertical-typewriter-text' style='animation-duration:1.4s,0.5s;animation-timing-function:steps(7,end),step-end;animation-delay:2s;animation-iteration-count:1,7;'>说出妳的誓言！</span></span><br><span class='vertical-typewriter-wrap' style='height:565px;'><span class='vertical-typewriter-text' style='animation-duration:2s,0.5s;animation-timing-function:steps(10,end),step-end;animation-delay:3s;animation-iteration-count:1,infinite;'>把身心都奉献给我！」</span></span></p>
    <div class='fill-container'>
       <video class='img-fluid block mx-auto -mt-l-6' id='footer-video' preload autoplay loop muted playsinline style='mix-blend-mode:darken;'>
          <source id='footer-video-source' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/index_bottom_m.mp4' type='video/mp4' data-pc='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/index_bottom.mp4'>
       </video>
    </div>
 </div>
</section>";
            break;
        case Language.en_US:
            htmlContent = @"<section>
 <div class='container-fluid'>
    <div class='fill-container-xl video-mask'>
       <video class='img-fluid block mx-auto' id='header-video' preload autoplay loop muted playsinline>
          <source id='header-video-source' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/index_top_m.mp4' type='video/mp4' data-pc='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/index_top.mp4'>
       </video>
    </div>
 </div>
 <div class='container-fluid gy-2'>
    <div class='row gy-2'>
       <div class='col-12 col-l-6 col-ml-l-1 col-mr-l-5 col-xl-4 col-mx-xl-2'>
          <p class='en-text en-text-1'><span class='en-typewriter-wrap'><span class='en-typewriter-text'>BRAINWASHING?</span></span><br><span class='en-typewriter-wrap'><span class='en-typewriter-text'>COGNITIVE MODIFICATION?</span></span><br><span class='en-typewriter-wrap'><span class='en-typewriter-text'>PERSONALITY ALTERATION?</span></span></p>
       </div>
       <div class='col-m-6 col-xl-5 self-end'>
          <h2 class='title-character bar-character-top'>CHARACTERS</h2>
       </div>
       <div class='col-12'>
          <div class='row items-center items-xl-stretch g-2'>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/en-US/Characters/Christine' title='christine'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-index.webp' width='auto' height='auto' title='christine' alt='christine' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/en-US/Characters/Karla' title='karla'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-index.webp' width='auto' height='auto' title='karla' alt='karla' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/en-US/Characters/Selina' title='selina'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-index.webp' width='auto' height='auto' title='selina' alt='selina' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/en-US/Characters/Rita' title='rita'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-index.webp' width='auto' height='auto' title='rita' alt='rita' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/en-US/Characters/Jess' title='jess'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-index.webp' width='auto' height='auto' title='jess' alt='jess' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/en-US/Characters/Luna' title='luna'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-index.webp' width='auto' height='auto' title='luna' alt='luna' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/en-US/Characters/Xinthia' title='xinthia'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-index.webp' width='auto' height='auto' title='xinthia' alt='xinthia' loading='eager'></a></div>
             <div class='col-8 col-l-6 col-ml-l-6 col-xl-5 col-ml-xl-6 order-l-first order-xl-first'>
                <p class='horizontal-text horizontal-text-1'>「主教様の栄光が為<br>&emsp;我が身を捧げん！」</p>
             </div>
          </div>
       </div>
       <div class='col-m-6 col-xl-4 ml-auto order-xl-last hidden block-xl'>
          <div class='title-character bar-character-bottom txt-right'>CHARACTERS</div>
       </div>
    </div>
    <div class='row justify-center'>
       <div class='col-m-4 col-xl-2'><a class='btn btn-outline-primary btn-lg btn-block' href='/Darakugear/en-US/Characters'>CHARACTERS</a></div>
    </div>
 </div>
 <div class='container-fluid rel my-3'>
    <div class='row gx-0'>
       <div class='col-12 col-l-5 col-ml-l-6 col-xl-3 col-ml-xl-1'>
          <p class='en-text en-text-2'><span class='en-typewriter-wrap'><span class='en-typewriter-text'>AN EXILED DESCENDANT,</span><br><span class='en-typewriter-text'>BRUTALLY HUMILIATED,</span><br><span class='en-typewriter-text'>RETURNS HOME TO UNVEIL</span><br><span class='en-typewriter-text'>HIS FAMILY'S DARKEST SECRET.</span></span></p>
       </div>
       <div class='col-12'>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-1.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-1@2x.png 2x' type='image/png'>
             <img class='img-fluid item-1' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-1.png' width='84' height='87' alt='Parachnid Queen' title='Parachnid Queen' loading='eager'>
          </picture>
          <div class='loop-track track-bg track-bg-1'>
             <div class='loop-img loop-img-1' id='loop-1' style='background-image: url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/carousel-1.png);'></div>
          </div>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-2.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-2@2x.png 2x' type='image/png'>
             <img class='img-fluid item-2' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-2.png' width='82' height='94' alt='Pure Insect Incense' title='Pure Insect Incense' loading='eager'>
          </picture>
       </div>
       <div class='col-10 col-ml-2 col-xl-5 col-ml-xl-1 order-xl-first'>
          <p class='horizontal-text horizontal-text-2'>「あ......主人！<br>&emsp;ようやく<br>&emsp;戻ってきたのですね！」</p>
       </div>
    </div>
 </div>
 <div class='container bg-index-center mb-6 mt-l-6 en-bg'>
    <div class='row'>
       <div class='col-ml-l-2 -mb-xl-6'>
          <p class='en-text en-text-3'><span class='en-typewriter-wrap'><span class='en-typewriter-text'>TAKE THINGS TO THE EXTREME!</span></span></p>
       </div>
       <div class='col-l-9 col-ml-l-3 col-ml-xl-2'>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-3.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-3@2x.png 2x' type='image/png'>
             <img class='img-fluid item-3' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-3.png' width='52' height='55' alt='Pure Pupa' title='Pure Pupa' loading='eager'>
          </picture>
          <div class='swiper-container swiper-index-img' id='swiper-index-img-1'>
             <div class='swiper-wrapper'>
                <div class='swiper-slide'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-2.png' width='auto' height='auto' alt='' title='' loading='eager'></div>
                <div class='swiper-slide'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-2.png' width='auto' height='auto' alt='' title='' loading='eager'></div>
             </div>
          </div>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-5.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-5@2x.png 2x' type='image/png'>
             <img class='img-fluid item-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-5.png' width='106' height='127' alt='Electric Chair' title='Electric Chair' loading='eager'>
          </picture>
          <p class='horizontal-text horizontal-text-3'>「ヤダ！<br>&emsp;はやくあたしに殴らせてよ！<br>&emsp;曲がってるよ！」</p>
       </div>
       <div class='col-l-8 col-ml-l-2 offset-top-col'>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-4.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-4@2x.png 2x' type='image/png'>
             <img class='img-fluid item-4' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-4.png' width='54' height='53' alt='Toolbox' title='Toolbox' loading='eager'>
          </picture>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-8.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-8@2x.png 2x' type='image/png'>
             <img class='img-fluid item-8' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-8.png' width='56' height='68' alt='Pure Lust Hormone' title='Pure Lust Hormone' loading='eager'>
          </picture>
          <div class='swiper-container swiper-index-img' id='swiper-index-img-2'>
             <div class='swiper-wrapper'>
                <div class='swiper-slide'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-2.png' width='auto' height='auto' alt='' title='' loading='eager'></div>
                <div class='swiper-slide'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-2.png' width='auto' height='auto' alt='' title='' loading='eager'></div>
             </div>
          </div>
          <p class='horizontal-text horizontal-text-4'>「えっ？<br>&emsp;天才に何ができるの<br>&emsp;でしょうか？」</p>
       </div>
    </div>
 </div>
 <div class='container-fluid rel z-top'>
    <div class='row gx-0'>
       <div class='col-12 col-l-6 col-ml-xl-1'>
          <p class='horizontal-text horizontal-text-5'>「ふふっ！<br>&emsp;何度も射精させる<br>&emsp;方法知ってるんだから！！」</p>
       </div>
       <div class='col-10 col-ml-2 col-ml-l-7 col-l-5 col-xl-3 col-mr-xl-5'>
          <p class='en-text en-text-4'><span class='en-typewriter-wrap'><span class='en-typewriter-text'>BRAINWASH EVERY SENKI!</span><br><span class='en-typewriter-text'>BEND THEM TO YOUR WILL!</span></span></p>
       </div>
       <div class='col-12'>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-6.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-6@2x.png 2x' type='image/png'>
             <img class='img-fluid item-6' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-6.png' width='62' height='77' alt='Mind Invasion AI' title='Mind Invasion AI' loading='eager'>
          </picture>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-7.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-7@2x.png 2x' type='image/png'>
             <img class='img-fluid item-7' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-7.png' width='63' height='64' alt='Beetle Essence' title='Beetle Essence' loading='eager'>
          </picture>
          <div class='loop-track track-bg track-bg-2'>
             <div class='loop-img loop-img-2' id='loop-2' style='background-image: url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/carousel-2.png);'></div>
          </div>
       </div>
    </div>
 </div>
 <div class='container rel pt-7 pt-l-0'>
    <p class='en-text en-text-5'><span class='en-typewriter-wrap'><span class='en-typewriter-text'>&quot;STOP RESISTING AND</span><br><span class='en-typewriter-text'>SPEAK YOUR VOWS!</span></span><br><span class='en-typewriter-wrap'><span class='en-typewriter-text'>DEVOTE YOUR BODY AND,</span><br><span class='en-typewriter-text'>MIND TO ME!&quot;</span></span></p>
    <div class='fill-container'>
       <video class='img-fluid block mx-auto -mt-6' id='footer-video' preload autoplay loop muted playsinline style='mix-blend-mode:darken;'>
          <source id='footer-video-source' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/index_bottom_m.mp4' type='video/mp4' data-pc='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/index_bottom.mp4'>
       </video>
    </div>
 </div>
</section>";
            break;
        case Language.ja_JP:
            htmlContent = @"<section>
     <div class='container-fluid'>
    <div class='fill-container-xl video-mask'>
       <video class='img-fluid block mx-auto' id='header-video' preload autoplay loop muted playsinline>
          <source id = 'header-video-source' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/index_top_m.mp4' type='video/mp4' data-pc='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/index_top.mp4'>
       </video>
    </div>
 </div>
 <div class='container-fluid gy-2'>
    <div class='row gy-2'>
       <div class='col-10 col-ml-2 col-l-4 col-mx-l-4 col-xl-3 col-mx-xl-0'>
          <p class='vertical-text vertical-text-1'><span class='vertical-typewriter-wrap' style='margin-top:0rem;height:169.5px;'><span class='vertical-typewriter-text' style='animation-duration:0.6s,0.5s;animation-timing-function:steps(3,end),step-end;animation-delay:0s;animation-iteration-count:1,3;'>洗脳？</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:3rem;height:169.5px;'><span class='vertical-typewriter-text' style='animation-duration:0.6s,0.5s;animation-timing-function:steps(3,end),step-end;animation-delay:1s;animation-iteration-count:1,3;'>改造？</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:6rem;height:282.5px;'><span class='vertical-typewriter-text' style='animation-duration:1s,0.5s;animation-timing-function:steps(5,end),step-end;animation-delay:1s;animation-iteration-count:1,infinite;'>人格交換？</span></span></p>
       </div>
       <div class='col-m-6 col-xl-5 self-end order-xl-first'>
          <h2 class='title-character bar-character-top'>CHARACTERS</h2>
       </div>
       <div class='col-12'>
          <div class='row items-center items-xl-stretch g-2'>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href = '/Darakugear/ja-JP/Characters/Christine' title='christine'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-index.webp' width='auto' height='auto' title='christine' alt='christine' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href = '/Darakugear/ja-JP/Characters/Karla' title='karla'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-index.webp' width='auto' height='auto' title='karla' alt='karla' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href = '/Darakugear/ja-JP/Characters/Selina.html' title='selina'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-index.webp' width='auto' height='auto' title='selina' alt='selina' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href = '/Darakugear/ja-JP/Characters/Rita' title='rita'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-index.webp' width='auto' height='auto' title='rita' alt='rita' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href = '/Darakugear/ja-JP/Characters/Jess' title='jess'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-index.webp' width='auto' height='auto' title='jess' alt='jess' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href = '/Darakugear/ja-JP/Characters/Luna' title='luna'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-index.webp' width='auto' height='auto' title='luna' alt='luna' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href = '/Darakugear/ja-JP/Characters/Xinthia' title='xinthia'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-index.webp' width='auto' height='auto' title='xinthia' alt='xinthia' loading='eager'></a></div>
             <div class='col-8 col-l-6 col-ml-l-6 col-xl-5 col-ml-xl-6 order-l-first order-xl-first'>
                <p class='horizontal-text horizontal-text-1'>「主教様の栄光が為<br>&emsp;我が身を捧げん！」</p>
             </div>
          </div>
       </div>
       <div class='col-m-6 col-xl-4 ml-auto order-xl-last hidden block-xl'>
          <div class='title-character bar-character-bottom txt-right'>CHARACTERS</div>
       </div>
    </div>
    <div class='row justify-center'>
       <div class='col-m-4 col-xl-2'><a class='btn btn-outline-primary btn-lg btn-block' href='/Darakugear/ja-JP/Characters'>登場人物</a></div>
    </div>
 </div>
 <div class='container-fluid rel my-3'>
    <div class='row gx-0'>
       <div class='col-10 col-mx-1 col-l-4 col-mx-l-4 col-xl-3 col-mx-xl-0'>
          <p class='vertical-text vertical-text-2'><span class='vertical-typewriter-wrap' style='margin-top:0rem;height:678px;'><span class='vertical-typewriter-text' style='animation-duration:2.4s,0.5s;animation-timing-function:steps(12,end),step-end;animation-delay:0s;animation-iteration-count:1,12;'>屈辱を受けてきた神子が、</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:3rem;height:678px;'><span class='vertical-typewriter-text' style='animation-duration:2.4s,0.5s;animation-timing-function:steps(12,end),step-end;animation-delay:2s;animation-iteration-count:1,12;'>家族の腐敗した知られざる</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:6rem;height:508.5px;'><span class='vertical-typewriter-text' style='animation-duration:1.8s,0.5s;animation-timing-function:steps(9,end),step-end;animation-delay:5s;animation-iteration-count:1,infinite;'>秘密を解き明かす！</span></span></p>
       </div>
       <div class='col-12 -mt-6 mt-l-0'>
          <picture>
             <source media = '(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-1.webp' type='image/webp'>
             <source srcset = 'https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-1@2x.png 2x' type='image/png'>
             <img class='img-fluid item-1' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-1.png' width='84' height='87' alt='恙の女王グモ' title='恙の女王グモ' loading='eager'>
          </picture>
          <div class='loop-track track-bg track-bg-1'>
             <div class='loop-img loop-img-1' id='loop-1' style='background-image: url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/carousel-1.png);'></div>
          </div>
          <picture>
             <source media = '(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-2.webp' type='image/webp'>
             <source srcset = 'https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-2@2x.png 2x' type='image/png'>
             <img class='img-fluid item-2' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-2.png' width='82' height='94' alt='純粋な昆虫のお香' title='純粋な昆虫のお香' loading='eager'>
          </picture>
       </div>
       <div class='col-10 col-ml-2 col-xl-5 col-ml-xl-1 order-xl-first'>
          <p class='horizontal-text horizontal-text-2'>「あ......主人！<br>&emsp;ようやく<br>&emsp;戻ってきたのですね！」</p>
       </div>
    </div>
 </div>
 <div class='container bg-index-center mb-6 mt-l-6'>
    <div class='row'>
       <div class='col-6 col-l-3 col-xl-2 col-ml-xl-1 -mb-6 mb-l-0' style='min-height:600px'>
          <p class='vertical-text vertical-text-3'><span class='vertical-typewriter-wrap' style='margin-top:0rem;height:282.5px;'><span class='vertical-typewriter-text' style='animation-duration:1s,0.5s;animation-timing-function:steps(5,end),step-end;animation-delay:0s;animation-iteration-count:1,5;'>非人道的な</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:3rem;height:395.5px;'><span class='vertical-typewriter-text' style='animation-duration:1.4s,0.5s;animation-timing-function:steps(7,end),step-end;animation-delay:1s;animation-iteration-count:1,infinite;'>手段を使って、</span></span></p>
       </div>
       <div class='col-l-9 col-xl-8 -mt-6 mt-l-0'>
          <picture>
             <source media = '(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-3.webp' type='image/webp'>
             <source srcset = 'https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-3@2x.png 2x' type='image/png'>
             <img class='img-fluid item-3' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-3.png' width='52' height='55' alt='純血な淫魔の蛹' title='純血な淫魔の蛹' loading='eager'>
          </picture>
          <div class='swiper-container swiper-index-img' id='swiper-index-img-1'>
             <div class='swiper-wrapper'>
                <div class='swiper-slide'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-2.png' width='auto' height='auto' alt='' title='' loading='eager'></div>
                <div class='swiper-slide'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-2.png' width='auto' height='auto' alt='' title='' loading='eager'></div>
             </div>
          </div>
          <picture>
             <source media = '(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-5.webp' type='image/webp'>
             <source srcset = 'https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-5@2x.png 2x' type='image/png'>
             <img class='img-fluid item-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-5.png' width='106' height='127' alt='電気椅子' title='電気椅子' loading='eager'>
          </picture>
          <p class='horizontal-text horizontal-text-3'>「ヤダ！<br>&emsp;はやくあたしに殴らせてよ！<br>&emsp;曲がってるよ！」</p>
       </div>
       <div class='col-l-8 col-ml-l-2 offset-top-col'>
          <picture>
             <source media = '(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-4.webp' type='image/webp'>
             <source srcset = 'https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-4@2x.png 2x' type='image/png'>
             <img class='img-fluid item-4' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-4.png' width='54' height='53' alt='ツールボックス' title='ツールボックス' loading='eager'>
          </picture>
          <picture>
             <source media = '(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-8.webp' type='image/webp'>
             <source srcset = 'https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-8@2x.png 2x' type='image/png'>
             <img class='img-fluid item-8' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-8.png' width='56' height='68' alt='純粋な肉欲エキス' title='純粋な肉欲エキス' loading='eager'>
          </picture>
          <div class='swiper-container swiper-index-img' id='swiper-index-img-2'>
             <div class='swiper-wrapper'>
                <div class='swiper-slide'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-2.png' width='auto' height='auto' alt='' title='' loading='eager'></div>
                <div class='swiper-slide'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-2.png' width='auto' height='auto' alt='' title='' loading='eager'></div>
             </div>
          </div>
          <p class='horizontal-text horizontal-text-4'>「えっ？<br>&emsp;天才に何ができるの<br>&emsp;でしょうか？」</p>
       </div>
    </div>
 </div>
 <div class='container-fluid rel z-top'>
    <div class='row gx-0'>
       <div class='col-12 col-l-6 col-ml-xl-1'>
          <p class='horizontal-text horizontal-text-5'>「ふふっ！<br>&emsp;何度も射精させる<br>&emsp;方法知ってるんだから！！」</p>
       </div>
       <div class='col-8 col-mx-2 col-xl-3 mx-xl-0'>
          <p class='vertical-text vertical-text-4'><span class='vertical-typewriter-wrap' style='margin-top:0rem;height:508.5px;'><span class='vertical-typewriter-text' style='animation-duration:1.8s,0.5s;animation-timing-function:steps(9,end),step-end;animation-delay:0s;animation-iteration-count:1,9;'>戦姫達を快楽により</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:3rem;height:565px;'><span class='vertical-typewriter-text' style='animation-duration:2s,0.5s;animation-timing-function:steps(10,end),step-end;animation-delay:2s;animation-iteration-count:1,10;'>堕落させていく決意を</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:6rem;height:169.5px;'><span class='vertical-typewriter-text' style='animation-duration:0.6s,0.5s;animation-timing-function:steps(3,end),step-end;animation-delay:4s;animation-iteration-count:1,infinite;'>する！</span></span></p>
       </div>
       <div class='col-12 -mt-6 mt-l-0'>
          <picture>
             <source media = '(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-6.webp' type='image/webp'>
             <source srcset = 'https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-6@2x.png 2x' type='image/png'>
             <img class='img-fluid item-6' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-6.png' width='62' height='77' alt='意識侵食AI' title='意識侵食AI' loading='eager'>
          </picture>
          <picture>
             <source media = '(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-7.webp' type='image/webp'>
             <source srcset = 'https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-7@2x.png 2x' type='image/png'>
             <img class='img-fluid item-7' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-7.png' width='63' height='64' alt='カブトムシエッセンス' title='カブトムシエッセンス' loading='eager'>
          </picture>
          <div class='loop-track track-bg track-bg-2'>
             <div class='loop-img loop-img-2' id='loop-2' style='background-image: url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/carousel-2.png);'></div>
          </div>
       </div>
    </div>
 </div>
 <div class='container rel pt-7 pt-l-0'>
    <p class='vertical-text vertical-text-5'><span class='vertical-typewriter-wrap' style='height:621.5px;'><span class='vertical-typewriter-text' style='animation-duration:2.2s,0.5s;animation-timing-function:steps(11,end),step-end;animation-delay:0s;animation-iteration-count:1,11;'>「抵抗するのはやめて、</span></span><br><span class='vertical-typewriter-wrap' style='height:452px;'><span class='vertical-typewriter-text' style='animation-duration:1.6s,0.5s;animation-timing-function:steps(8,end),step-end;animation-delay:2s;animation-iteration-count:1,8;'>体も心も捧げると</span></span><br><span class='vertical-typewriter-wrap' style='height:339px;'><span class='vertical-typewriter-text' style='animation-duration:1.2s,0.5s;animation-timing-function:steps(6,end),step-end;animation-delay:4s;animation-iteration-count:1,infinite;'>誓うんだ！」</span></span></p>
    <div class='fill-container'>
       <video class='img-fluid block mx-auto -mt-l-6' id='footer-video' preload autoplay loop muted playsinline style = 'mix-blend-mode:darken;' >
          <source id='footer-video-source' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/index_bottom_m.mp4' type='video/mp4' data-pc='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/index_bottom.mp4'>
       </video>
    </div>
 </div>
</section>";
            break;
        case Language.ko_KR:
            htmlContent = @"<section>
 <div class='container-fluid'>
    <div class='fill-container-xl video-mask'>
       <video class='img-fluid block mx-auto' id='header-video' preload autoplay loop muted playsinline>
          <source id='header-video-source' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/index_top_m.mp4' type='video/mp4' data-pc='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/index_top.mp4'>
       </video>
    </div>
 </div>
 <div class='container-fluid gy-2'>
    <div class='row gy-2'>
       <div class='col-10 col-ml-2 col-l-4 col-mx-l-4 col-xl-3 col-mx-xl-0'>
          <p class='vertical-text vertical-text-1'><span class='vertical-typewriter-wrap' style='margin-top:0rem;height:177px;'><span class='vertical-typewriter-text' style='animation-duration:0.6s,0.5s;animation-timing-function:steps(3,end),step-end;animation-delay:0s;animation-iteration-count:1,3;'>세뇌？</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:3rem;height:177px;'><span class='vertical-typewriter-text' style='animation-duration:0.6s,0.5s;animation-timing-function:steps(3,end),step-end;animation-delay:1s;animation-iteration-count:1,3;'>개조？</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:6rem;height:351px;'><span class='vertical-typewriter-text' style='animation-duration:1.2s,0.5s;animation-timing-function:steps(6,end),step-end;animation-delay:1s;animation-iteration-count:1,infinite;'>인격　개조？</span></span></p>
       </div>
       <div class='col-m-6 col-xl-5 self-end order-xl-first'>
          <h2 class='title-character bar-character-top'>CHARACTERS</h2>
       </div>
       <div class='col-12'>
          <div class='row items-center items-xl-stretch g-2'>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/ko-KR/Characters/Christine' title='christine'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-index.webp' width='auto' height='auto' title='christine' alt='christine' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/ko-KR/Characters/Karla' title='karla'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-index.webp' width='auto' height='auto' title='karla' alt='karla' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/ko-KR/Characters/Selina' title='selina'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-index.webp' width='auto' height='auto' title='selina' alt='selina' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/ko-KR/Characters/Rita' title='rita'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-index.webp' width='auto' height='auto' title='rita' alt='rita' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/ko-KR/Characters/Jess' title='jess'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-index.webp' width='auto' height='auto' title='jess' alt='jess' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/ko-KR/Characters/Luna' title='luna'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-index.webp' width='auto' height='auto' title='luna' alt='luna' loading='eager'></a></div>
             <div class='col-4 col-l-seventh col-xl-seventh'><a href='/Darakugear/ko-KR/Characters/Xinthia' title='xinthia'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-index.webp' width='auto' height='auto' title='xinthia' alt='xinthia' loading='eager'></a></div>
             <div class='col-8 col-l-6 col-ml-l-6 col-xl-5 col-ml-xl-6 order-l-first order-xl-first'>
                <p class='horizontal-text horizontal-text-1'>「主教様の栄光が為<br>&emsp;我が身を捧げん！」</p>
             </div>
          </div>
       </div>
       <div class='col-m-6 col-xl-4 ml-auto order-xl-last hidden block-xl'>
          <div class='title-character bar-character-bottom txt-right'>CHARACTERS</div>
       </div>
    </div>
    <div class='row justify-center'>
       <div class='col-m-4 col-xl-2'><a class='btn btn-outline-primary btn-lg btn-block' href='/Darakugear/ko-KR/Characters'>등장인물</a></div>
    </div>
 </div>
 <div class='container-fluid rel my-3'>
    <div class='row gx-0'>
       <div class='col-10 col-mx-1 col-l-4 col-mx-l-4 col-xl-3 col-mx-xl-0'>
          <p class='vertical-text vertical-text-2'><span class='vertical-typewriter-wrap' style='margin-top:0rem;height:876px;'><span class='vertical-typewriter-text' style='animation-duration:3s,0.5s;animation-timing-function:steps(15,end),step-end;animation-delay:0s;animation-iteration-count:1,15;'>굴욕을　당해왔던　신의　아들이</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:3rem;height:525px;'><span class='vertical-typewriter-text' style='animation-duration:1.8s,0.5s;animation-timing-function:steps(9,end),step-end;animation-delay:3s;animation-iteration-count:1,9;'>가문　내에　숨겨진</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:6rem;height:410px;'><span class='vertical-typewriter-text' style='animation-duration:1.4s,0.5s;animation-timing-function:steps(7,end),step-end;animation-delay:5s;animation-iteration-count:1,7;'>어둡고　부패한</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:9rem;height:528px;'><span class='vertical-typewriter-text' style='animation-duration:1.8s,0.5s;animation-timing-function:steps(9,end),step-end;animation-delay:6s;animation-iteration-count:1,infinite;'>비밀을　파헤친다！</span></span></p>
       </div>
       <div class='col-12 -mt-6 mt-l-0'>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-1.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-1@2x.png 2x' type='image/png'>
             <img class='img-fluid item-1' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-1.png' width='84' height='87' alt='여왕 질병거미' title='여왕 질병거미' loading='eager'>
          </picture>
          <div class='loop-track track-bg track-bg-1'>
             <div class='loop-img loop-img-1' id='loop-1' style='background-image: url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/carousel-1.png);'></div>
          </div>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-2.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-2@2x.png 2x' type='image/png'>
             <img class='img-fluid item-2' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-2.png' width='82' height='94' alt='순수한 곤충 향' title='순수한 곤충 향' loading='eager'>
          </picture>
       </div>
       <div class='col-10 col-ml-2 col-xl-5 col-ml-xl-1 order-xl-first'>
          <p class='horizontal-text horizontal-text-2'>「あ......主人！<br>&emsp;ようやく<br>&emsp;戻ってきたのですね！」</p>
       </div>
    </div>
 </div>
 <div class='container bg-index-center mb-6 mt-l-6'>
    <div class='row'>
       <div class='col-6 col-l-3 col-xl-2 col-ml-xl-1 -mb-6 mb-l-0' style='min-height:600px'>
          <p class='vertical-text vertical-text-3'><span class='vertical-typewriter-wrap' style='margin-top:0rem;height:469px;'><span class='vertical-typewriter-text' style='animation-duration:1.6s,0.5s;animation-timing-function:steps(8,end),step-end;animation-delay:0s;animation-iteration-count:1,8;'>잔인하고　참혹한</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:3rem;height:702px;'><span class='vertical-typewriter-text' style='animation-duration:2.4s,0.5s;animation-timing-function:steps(12,end),step-end;animation-delay:2s;animation-iteration-count:1,infinite;'>각종　수단을　사용하여！</span></span></p>
       </div>
       <div class='col-l-9 col-xl-8 -mt-6 mt-l-0'>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-3.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-3@2x.png 2x' type='image/png'>
             <img class='img-fluid item-3' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-3.png' width='52' height='55' alt='순정의 음마고치' title='순정의 음마고치' loading='eager'>
          </picture>
          <div class='swiper-container swiper-index-img' id='swiper-index-img-1'>
             <div class='swiper-wrapper'>
                <div class='swiper-slide'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-2.png' width='auto' height='auto' alt='' title='' loading='eager'></div>
                <div class='swiper-slide'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-2.png' width='auto' height='auto' alt='' title='' loading='eager'></div>
             </div>
          </div>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-5.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-5@2x.png 2x' type='image/png'>
             <img class='img-fluid item-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-5.png' width='106' height='127' alt='전동 의자' title='전동 의자' loading='eager'>
          </picture>
          <p class='horizontal-text horizontal-text-3'>「ヤダ！<br>&emsp;はやくあたしに殴らせてよ！<br>&emsp;曲がってるよ！」</p>
       </div>
       <div class='col-l-8 col-ml-l-2 offset-top-col'>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-4.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-4@2x.png 2x' type='image/png'>
             <img class='img-fluid item-4' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-4.png' width='54' height='53' alt='도구 상자' title='도구 상자' loading='eager'>
          </picture>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-8.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-8@2x.png 2x' type='image/png'>
             <img class='img-fluid item-8' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-8.png' width='56' height='68' alt='순정의 러스트 호르몬' title='순정의 러스트 호르몬' loading='eager'>
          </picture>
          <div class='swiper-container swiper-index-img' id='swiper-index-img-2'>
             <div class='swiper-wrapper'>
                <div class='swiper-slide'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-2.png' width='auto' height='auto' alt='' title='' loading='eager'></div>
                <div class='swiper-slide'><img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-2.png' width='auto' height='auto' alt='' title='' loading='eager'></div>
             </div>
          </div>
          <p class='horizontal-text horizontal-text-4'>「えっ？<br>&emsp;天才に何ができるの<br>&emsp;でしょうか？」</p>
       </div>
    </div>
 </div>
 <div class='container-fluid rel z-top'>
    <div class='row gx-0'>
       <div class='col-12 col-l-6 col-ml-xl-1'>
          <p class='horizontal-text horizontal-text-5'>「ふふっ！<br>&emsp;何度も射精させる<br>&emsp;方法知ってるんだから！！」</p>
       </div>
       <div class='col-8 col-mx-2 col-xl-3 mx-xl-0'>
          <p class='vertical-text vertical-text-4'><span class='vertical-typewriter-wrap' style='margin-top:0rem;height:758px;'><span class='vertical-typewriter-text' style='animation-duration:2.6s,0.5s;animation-timing-function:steps(13,end),step-end;animation-delay:0s;animation-iteration-count:1,13;'>끝없는　쾌락의　물결　속에</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:3rem;height:469px;'><span class='vertical-typewriter-text' style='animation-duration:1.6s,0.5s;animation-timing-function:steps(8,end),step-end;animation-delay:3s;animation-iteration-count:1,8;'>전희들을　철저히</span></span><br><span class='vertical-typewriter-wrap' style='margin-top:6rem;height:354px;'><span class='vertical-typewriter-text' style='animation-duration:1.2s,0.5s;animation-timing-function:steps(6,end),step-end;animation-delay:4s;animation-iteration-count:1,infinite;'>타락시킨다！</span></span></p>
       </div>
       <div class='col-12 -mt-6 mt-l-0'>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-6.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-6@2x.png 2x' type='image/png'>
             <img class='img-fluid item-6' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-6.png' width='62' height='77' alt='의식 침입 AI' title='의식 침입 AI' loading='eager'>
          </picture>
          <picture>
             <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-7.webp' type='image/webp'>
             <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-7@2x.png 2x' type='image/png'>
             <img class='img-fluid item-7' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/item-7.png' width='63' height='64' alt='딱정벌레 에센스' title='딱정벌레 에센스' loading='eager'>
          </picture>
          <div class='loop-track track-bg track-bg-2'>
             <div class='loop-img loop-img-2' id='loop-2' style='background-image: url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/carousel-2.png);'></div>
          </div>
       </div>
    </div>
 </div>
 <div class='container rel pt-7 pt-l-0'>
    <p class='vertical-text vertical-text-5'><span class='vertical-typewriter-wrap' style='height:528px;'><span class='vertical-typewriter-text' style='animation-duration:1.8s,0.5s;animation-timing-function:steps(9,end),step-end;animation-delay:0s;animation-iteration-count:1,9;'>&quot;저항은　그만둬.</span></span><br><span class='vertical-typewriter-wrap' style='height:640px;'><span class='vertical-typewriter-text' style='animation-duration:2.2s,0.5s;animation-timing-function:steps(11,end),step-end;animation-delay:2s;animation-iteration-count:1,11;'>네　몸과　마음을　모두</span></span><br><span class='vertical-typewriter-wrap' style='height:469px;'><span class='vertical-typewriter-text' style='animation-duration:1.6s,0.5s;animation-timing-function:steps(8,end),step-end;animation-delay:4s;animation-iteration-count:1,8;'>내게　바치겠다고</span></span><br><span class='vertical-typewriter-wrap' style='height:354px;'><span class='vertical-typewriter-text' style='animation-duration:1.2s,0.5s;animation-timing-function:steps(6,end),step-end;animation-delay:6s;animation-iteration-count:1,infinite;'>맹세해라!&quot;</span></span></p>
    <div class='fill-container'>
       <video class='img-fluid block mx-auto -mt-l-6' id='footer-video' preload autoplay loop muted playsinline style='mix-blend-mode:darken;'>
          <source id='footer-video-source' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/index_bottom_m.mp4' type='video/mp4' data-pc='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/index_bottom.mp4'>
       </video>
    </div>
 </div>
</section>";
            break;
    }
}

@Html.Raw(htmlContent)

