﻿@model PinkCore.Areas.Admin.ViewModels.News.NewsIndexView
@{
    var title = "遊戲公告";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>
                    @(title)管理
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-12">
            <div class="card">
                <div class="card-header with-border">
                    <h3 class="card-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "NewsAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="card-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @id = "inputTitle", @placeholder = "敘述" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductId, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-12">
                                @Html.DropDownListFor(model => model.ProductId, Model.ProductOptions, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Status, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.Status, "StatusDropDownList", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @Html.ActionLink("新增" + title, "Edit", "NewsAdmin", null, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-12">
            <div class="card">
                <div class="card-header with-border">
                    <h3 class="card-title">@(title)列表</h3>
                </div>
                <div class="card-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row table-responsive no-padding">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover table-striped dataTable dtr-inline">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Title)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ProductId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Status)
                                            </th>
                                            <th data-sorting="OnlineTime">
                                                @Html.DisplayNameFor(model => model.OnlineTime)
                                            </th>
                                            <th data-sorting="UpdateTime">
                                                @Html.DisplayNameFor(model => model.UpdateTime)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Title)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Status)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ProductId)
                                            </th>
                                            <th data-sorting="OnlineTime">
                                                @Html.DisplayNameFor(model => model.OnlineTime)
                                            </th>
                                            <th data-sorting="UpdateTime">
                                                @Html.DisplayNameFor(model => model.UpdateTime)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            <tr>
                                                <td>@item.Title</td>
                                                <td>@item.ProductName</td>
                                                <td>@Html.DisplayFor(model => item.Status, "_Status")</td>
                                                <td>@item.OnlineTime.ToString("yyyy/MM/dd HH:mm")</td>
                                                <td>
                                                    @Html.DisplayFor(model => item.UpdateTime, "DateTime")
                                                </td>
                                                <td>
                                                    @Html.ActionLink("編輯", "Edit", "NewsAdmin", new { id = item.ID }, new { @class = "btn btn-primary" })
                                                    @Html.ActionLink("刪除", "Delete", "NewsAdmin", new { id = item.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
}