﻿@model HttpPostedFileBase
@*<div class="input-group">*@
    <div class="custom-file">
        @Html.TextBoxFor(m => m, new { type = "file", @class = "custom-file-input", @accept = "image/*" })
        @Html.LabelFor(m => m, new { @class = "custom-file-label" })
    </div>
@*</div>*@