﻿@model PinkCore.Areas.Admin.ViewModels.About.AboutTranslationView
@{
    var ckeditorId = "js-content-" + (int)Model.Language;
}

@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.AboutId)
@Html.HiddenFor(model => model.Language)
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.AboutTitle)
            @Html.TextBoxFor(model => model.AboutTitle, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AboutTitle, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AboutContent)
            @Html.TextAreaFor(model => model.AboutContent, new { @class = "form-control js-ckeditor", @id = ckeditorId + "-AboutContent" })
            @Html.ValidationMessageFor(model => model.AboutContent, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.ContactTitle)
            @Html.TextBoxFor(model => model.ContactTitle, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ContactTitle, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ContactContent)
            @Html.TextAreaFor(model => model.ContactContent, new { @class = "form-control js-ckeditor", @id = ckeditorId + "-ContactContent" })
            @Html.ValidationMessageFor(model => model.ContactContent, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-success pad">
            <div class="card-header">
                <h3 class="card-title">團隊輪播</h3>
                <div class="pull-right card-tools">
                    <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-unstyled" id="js-aboutimgs@((int)Model.Language)">
                    @if (Model.AboutImgs != null)
                    {
                        foreach (var item in Model.AboutImgs)
                        {
                            Html.RenderPartial("_AboutImg", item);
                        }
                    }
                </ul>
            </div>

            <div class="card-footer" style="background-color: transparent">
                <button type="button" class="btn btn-info"
                        onclick="aboutimgs_@(Model.Language).addNew(this)">
                    新增團隊輪播
                </button>
            </div>

        </div>
    </div>
</div>
