﻿@using PinkCore.Models.Cmind;
@model PinkCore.Areas.Admin.ViewModels.AgeConfirm.AgeConfirmTranslationView
@{
    var ckeditorId = "js-content-" + (int)Model.Language;
}

@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.AgeConfirmId)
@Html.HiddenFor(model => model.Language)

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.PCImage)
            <div class="input-group">
                @Html.EditorFor(m => m.PCImageFile, "_UploadImage")
            </div>
            @if (!string.IsNullOrEmpty(Model.PCImage))
            {
                <img src="~/FileUploads/AgeConfirmPhoto/@Model.PCImage?v=@DateTime.Now.ToString("yyyyMMddHHmmss")" class="img-thumbnail" style="height:150px" />
                @Html.HiddenFor(model => model.PCImage)
                <br />
                @Html.ActionLink("刪除圖片", "DeleteImage", new { id = Model.AgeConfirmId, type = (int)DeviceType.PC, language = (int)Model.Language }, new { @class = "btn btn-danger js-delete-confirm" })
            }
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.MoblieImage)
            <div class="input-group">
                @Html.EditorFor(m => m.MoblieImageFile, "_UploadImage")
            </div>
            @if (!string.IsNullOrEmpty(Model.MoblieImage))
            {
                <img src="~/FileUploads/AgeConfirmPhoto/@Model.MoblieImage?v=@DateTime.Now.ToString("yyyyMMddHHmmss")" class="img-thumbnail" style="height:150px" />
                @Html.HiddenFor(model => model.MoblieImage)
                <br />
                @Html.ActionLink("刪除圖片", "DeleteImage", new { id = Model.AgeConfirmId, type = (int)DeviceType.Moblie, language = (int)Model.Language }, new { @class = "btn btn-danger js-delete-confirm" })
            }
        </div>
    </div>
</div>

