﻿@using PinkCore.Models.Cmind;
@model PinkCore.Areas.Admin.ViewModels.Banner.BannerTranslationView

@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.BannerId)
@Html.HiddenFor(model => model.Language)
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.PCImage)
            <span class="text-red">建議尺寸:寬1270px高715px，比例16:9</span>
            <div class="input-group">
                @Html.EditorFor(m => m.PCImageFile, "_UploadImage")
                @if (!string.IsNullOrEmpty(Model.PCImage))
                {
                    @Html.HiddenFor(model => model.PCImage)
                    <a href="~/FileUploads/BannerPhoto/@Model.PCImage" target="_blank" class="btn btn-info">預覽圖</a>
                    @Html.ActionLink("刪除圖片", "DeleteImage", new { id = Model.BannerId, type = (int)DeviceType.PC, language = (int)Model.Language }, new { @class = "btn btn-danger js-delete-confirm" })
                }
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.HoverImage)
            <span class="text-red">建議尺寸:寬1270px高715px，比例16:9</span>
            <div class="input-group">
                @Html.EditorFor(m => m.HoverImageFile, "_UploadImage")
                @if (!string.IsNullOrEmpty(Model.HoverImage))
                {
                    @Html.HiddenFor(model => model.HoverImage)
                    <a href="~/FileUploads/BannerPhoto/@Model.HoverImage" target="_blank" class="btn btn-info">預覽圖</a>
                    @Html.ActionLink("刪除圖片", "DeleteImage", new { id = Model.BannerId, type = (int)DeviceType.PCHover, language = (int)Model.Language }, new { @class = "btn btn-danger js-delete-confirm" })
                }
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MoblieImage)
            <span class="text-red">建議尺寸:寬768px高768px，比例1:1</span>
            <div class="input-group">
                @Html.EditorFor(m => m.MoblieImageFile, "_UploadImage")
                @if (!string.IsNullOrEmpty(Model.MoblieImage))
                {
                    @Html.HiddenFor(model => model.MoblieImage)
                    <a href="~/FileUploads/BannerPhoto/@Model.MoblieImage" target="_blank" class="btn btn-info">預覽圖</a>
                    @Html.ActionLink("刪除圖片", "DeleteImage", new { id = Model.BannerId, type = (int)DeviceType.Moblie, language = (int)Model.Language }, new { @class = "btn btn-danger js-delete-confirm" })
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.Description)
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @Rows = "8" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.Link)
            @Html.TextBoxFor(model => model.Link, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
        </div>
    </div>
</div>