﻿@model PinkCore.Areas.Admin.ViewModels.News.NewsTranslationView
@{
    var ckeditorId = "js-content-" + (int)Model.Language;
}

@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.NewsId)
@Html.HiddenFor(model => model.Language)
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.Title)
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Content)
            @Html.TextAreaFor(model => model.Content, new { @class = "form-control js-ckeditor", @id = ckeditorId })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.Image)
            <span class="text-red">建議尺寸:寬1270px高715px，比例16:9</span>
            <div class="input-group">
                @Html.EditorFor(m => m.ImageFile, "_UploadImage")
                @if (!string.IsNullOrEmpty(Model.Image))
                {
                    @Html.HiddenFor(model => model.Image)
                    <a href="~/FileUploads/NewsPhoto/@Model.Image" target="_blank" class="btn btn-info">預覽圖</a>
                    @Html.ActionLink("刪除圖片", "DeleteImage", new { id = Model.NewsId, language = (int)Model.Language }, new { @class = "btn btn-danger js-delete-confirm" })
                }
            </div>
        </div>
        <div class="form-group" id="taginput">
            <label>標籤(直接輸入文字，按enter鍵即可產生標籤，要刪除直接按退格鍵)</label>
            @Html.TextBoxFor(model => model.Tags, new { data_role = "tagsinput", @class = "tags" })
            @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
