﻿@model PinkCore.Areas.Admin.ViewModels.Policy.PolicyTranslationView
@{
    var ckeditorId = "js-content-" + (int)Model.Language;
}

@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.PolicyId)
@Html.HiddenFor(model => model.Language)

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.PrivacyContent)
            @Html.TextAreaFor(model => model.PrivacyContent, new { @class = "form-control js-ckeditor", @id = ckeditorId + "-PrivacyContent" })
            @Html.ValidationMessageFor(model => model.PrivacyContent, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.PolicyContent)
            @Html.TextAreaFor(model => model.PolicyContent, new { @class = "form-control js-ckeditor", @id = ckeditorId + "-PolicyContent" })
            @Html.ValidationMessageFor(model => model.PolicyContent, "", new { @class = "text-danger" })
        </div>
    </div>
</div>



