﻿@using PinkCore.Models.Cmind;
@model PinkCore.Areas.Admin.ViewModels.Product.ProductTranslationView

@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.ProductId)
@Html.HiddenFor(model => model.Language)
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.Image)
            <span class="text-red">建議尺寸:高830寬620px，比例3:4</span>
            <div class="input-group">
                @Html.EditorFor(m => m.ImageFile, "_UploadImage")
                @if (!string.IsNullOrEmpty(Model.Image))
                {
                    @Html.HiddenFor(model => model.Image)
                    <a href="~/FileUploads/ProductPhoto/@Model.Image" target="_blank" class="btn btn-info">預覽圖</a>
                    @Html.ActionLink("刪除圖片", "DeleteImage", new { id = Model.ProductId, type = (int)DeviceType.PC, language = (int)Model.Language }, new { @class = "btn btn-danger js-delete-confirm" })
                }

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.HoverImage)
            <span class="text-red">建議尺寸:高830寬620px，比例3:4</span>
            <div class="input-group">
                @Html.EditorFor(m => m.HoverImageFile, "_UploadImage")
                @if (!string.IsNullOrEmpty(Model.HoverImage))
                {
                    @Html.HiddenFor(model => model.HoverImage)
                    <a href="~/FileUploads/ProductPhoto/@Model.HoverImage" target="_blank" class="btn btn-info">預覽圖</a>
                    @Html.ActionLink("刪除圖片", "DeleteImage", new { id = Model.ProductId, type = (int)DeviceType.PCHover, language = (int)Model.Language }, new { @class = "btn btn-danger js-delete-confirm" })
                }
            </div>           
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Link)
            @Html.TextBoxFor(model => model.Link, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description)
            <span class="text-red">超出22個字前台不會全部顯示</span>
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", Rows = "5" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

