﻿@using PinkCore.Models.Cmind;
@model PinkCore.Areas.Admin.ViewModels.Topic.TopicTranslationView
@{
    var url = Request.Url.Scheme + "://" + Request.Url.Authority;
}
@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.TopicId)
@Html.HiddenFor(model => model.Language)
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.Title)
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.Image)
            <span class="text-red">建議尺寸:寬768px高768px，比例16:9</span>
            <div class="input-group">
                @Html.EditorFor(m => m.ImageFile, "_UploadImage")
                @if (!string.IsNullOrEmpty(Model.Image))
                {
                    @Html.HiddenFor(model => model.Image)
                    <a href="~/FileUploads/TopicPhoto/@Model.Image" target="_blank" class="btn btn-info">預覽圖</a>
                    @Html.ActionLink("刪除圖片", "DeleteImage", new { id = Model.TopicId, type = (int)DeviceType.PC, language = (int)Model.Language }, new { @class = "btn btn-danger js-delete-confirm" })
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group" id="taginput">
            <label>標籤(直接輸入文字，按enter鍵即可產生標籤，要刪除直接按退格鍵)</label>
            @Html.TextBoxFor(model => model.Tags, new { data_role = "tagsinput", @class = "tags" })
            @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.HoverImage)
            <span class="text-red">建議尺寸:寬768px高768px，比例16:9</span>
            <div class="input-group">
                @Html.EditorFor(m => m.HoverImageFile, "_UploadImage")
                @if (!string.IsNullOrEmpty(Model.HoverImage))
                {
                    @Html.HiddenFor(model => model.HoverImage)
                    <a href="~/FileUploads/TopicPhoto/@Model.HoverImage" target="_blank" class="btn btn-info">預覽圖</a>
                    @Html.ActionLink("刪除圖片", "DeleteImage", new { id = Model.TopicId, type = (int)DeviceType.PCHover, language = (int)Model.Language }, new { @class = "btn btn-danger js-delete-confirm" })
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-success pad">
            <div class="card-header">
                <h3 class="card-title">話題區塊</h3>
                <div class="pull-right card-tools">
                    <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-unstyled" id="js-topicinformation@((int)Model.Language)">
                    @if (Model.TopicInformations != null)
                    {
                        foreach (var item in Model.TopicInformations)
                        {
                            Html.RenderPartial("_TopicInformation", item);
                        }
                    }
                </ul>
            </div>

            <div class="card-footer" style="background-color: transparent">
                <button type="button" class="btn btn-info"
                        onclick="topicInformation_@(Model.Language).addNew(this)">
                    新增話題
                </button>
            </div>

        </div>
    </div>
</div>

@*<div class="card-footer">*@
@if (Model.TopicId != 0)
{
    @Html.ActionLink("預覽", "Preview", "Topic", new { id = Model.TopicId, lang = Model.Language.ToString().Replace("_", "-"), area = "" }, new { @class = "btn btn-primary", @style = "margin-right:5px", @target = "_blank" });
    @Html.ActionLink("前台話題頁", "Detail", "Topic", new { id = Model.TopicId, lang = Model.Language.ToString().Replace("_", "-"), area = "" }, new { @class = "btn btn-success", @style = "margin-right:5px", @target = "_blank" });
}
@*</div>*@

