﻿@model PinkCore.ViewModels.About.AboutView
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Authority;
}
@section head{
    <title>Pinkcore | @(PinkCore.Resources._Layout.Index.AboutUs)</title>
    <meta property="og:image" content="@url/Content/pinkcore/img/og.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta name="twitter:title" content="@PinkCore.Resources._Layout.Index.AboutUs" />
    <meta property="og:title" content="@PinkCore.Resources._Layout.Index.AboutUs" />
    <meta name="twitter:image" content="@url/Content/pinkcore/img/og.jpg">
    @if (!string.IsNullOrEmpty(Model.AboutContent))
    {
        string content = System.Text.RegularExpressions.Regex.Replace(Model.AboutContent, @"\<.*?\>", String.Empty).Replace("&nbsp;", String.Empty).Trim();
        if (content.Count() > 60)
        {
            content = content.Substring(0, 60);
        }
        <meta name="twitter:description" content="@content" />
        <meta property="og:description" content="@content" />
        <meta name="description" content="@content" />
    }
}
<section class="mb-2p mb-l-1p">
    <div class="container-fluid txt-white">
        <div class="fill-container-xl txt-center"><img class="img-fluid" src="~/FileUploads/AboutPhoto/@Model.BannerImg" width="100%" height="auto" loading="eager"></div>
        <div class="container">
            <div class="row items-center gy-5 gy-l-0">
                <div class="col-l-6">
                    <img class="ratio-1by1" src="~/FileUploads/AboutPhoto/@Model.AboutImg" alt="@Model.AboutTitle" title="@Model.AboutTitle" width="100%" height="auto" loading="eager">
                </div>
                <div class="col-l-6 col-xl-5">
                    <h1 class="about-title">@Model.AboutTitle </h1>
                    @Html.Raw(Model.AboutContent)
                </div>
                <div class="col-l-6 order-l-4">
                    <div class="swiper-container about-img-carousel">
                        <div class="swiper-wrapper">
                            @if (Model.AboutImgs.Any())
                            {
                                foreach (var item in Model.AboutImgs)
                                {
                                    <div class="swiper-slide">
                                        <img class="ratio-1by1" src="~/FileUploads/AboutPhoto/@item.Image" alt="@item.Title" title="@item.Title" width="100%" height="auto" loading="eager">
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-l-6 col-xl-5 ml-xl-auto order-l-3">
                    <div class="swiper-container about-carousel mb-3">
                        <div class="swiper-wrapper">
                            @if (Model.AboutImgs.Any())
                            {
                                foreach (var item in Model.AboutImgs)
                                {
                                    <div class="swiper-slide">
                                        <h2 class="about-title feature-4">@item.Title</h2>
                                        <div class="txt-center mb-3"></div>
                                        @Html.Raw(item.Description)
                                    </div>
                                }
                            }

                        </div>
                    </div>
                    <div class="row justify-center txt-center">
                        <div class="col-2">
                            <button class="btn btn-sand-gradient rounded btn-swiper" type="button" data-slide="prev" disabled><svg class="img-fluid" fill="currentColor" width="25" height="25"><use xlink:href="~/Content/pinkcore/img/sprite.svg#triangle-left"></use></svg></button>
                        </div>
                        <div class="col-3 pagination-num bg-contain">
                            <span id="slide-num">1</span>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-sand-gradient rounded btn-swiper" type="button" data-slide="next"><svg class="img-fluid" fill="currentColor" width="25" height="25"><use xlink:href="~/Content/pinkcore/img/sprite.svg#triangle-right"></use></svg></button>
                        </div>
                    </div>
                </div>

                <div class="col-l-6 order-l-5">
                    <img class="ratio-1by1" src="~/FileUploads/AboutPhoto/@Model.ContactImg" alt="@Model.ContactTitle" title="@Model.ContactTitle" width="100%" height="auto" loading="eager">
                </div>
                <div class="col-xl-5 col-l-6 order-l-5">
                    <h2 class="about-title">@Model.ContactTitle</h2>
                    @Html.Raw(Model.ContactContent)
                </div>
            </div>
        </div>
    </div>
</section>
