﻿@model PinkCore.ViewModels.Base.BaseView
@{     
    string absolutePath = Request.Url.AbsolutePath;
}
<div class="mask z-top"><div class="prohibitions hidden py-5"><div class="wrap-l justify-center content-center from-top txt-center vh-100 gy-4"><div class="col-11 col-s-9 col-xl-6 px-m-5 bg-gray-20-85"><div class="row justify-center"><div class="col-12 py-5 txt-white"><p class="txt-title">您已經滿 18 歲了嗎？</p><p>網站內含成年人才能觀看之內容</p></div><div class="col-6 col-s-4 col-m-6 col-l-4 js-question-1 py-5"><a class="btn btn-black btn-block btn-lg tracking-xl-wider under-18yo" data-type="no" title="我未滿18歲" href="javascript:history.back();">我未滿18歲</a></div><div class="col-6 col-s-4 col-m-6 col-l-4 py-5"><button class="btn btn-white btn-block btn-lg question-1-btn tracking-xl-wider" type="button" data-type="all">已年滿18歲</button></div></div></div><div class="col-11 col-s-9 col-xl-6 px-m-5"><p class="txt-white txt-left">本網站包含性、暴力、恐怖等內容，可能對身心有不良之影響。您必須年滿18歲或達到您所在地區法定成年之年齡，才可以瀏覽本網站內容。如果您有任何疑慮，請點擊離開。</p></div></div></div></div>
