﻿@model PinkCore.ViewModels.Base.BaseView
@{
    Layout = null;
    string url = Request.Url.Scheme + "://" + Request.Url.Authority;
    string absolutePath = Request.Url.AbsolutePath;
    var twiterid = "@pinkcoreinc";
    var lang = absolutePath.IndexOf("-") != -1 ? absolutePath.Substring(0, 6) : "/";
    var menuname = string.Empty;
    var htmllang = string.Empty;
    switch (lang)
    {
        case "/zh-TW":
            menuname = "繁體中文";
            htmllang = "zh-Hant-TW";
            break;
        case "/zh-CN":
            menuname = "简体中文";
            htmllang = "zh-Hans-CN";
            break;
        case "/en-US":
            menuname = "ENGLISH";
            htmllang = "en";
            break;
        case "/ja-JP":
            menuname = "日本語";
            htmllang = "ja";
            break;
        case "/ko-KR":
            menuname = "한국인";
            htmllang = "ko";
            break;
        case "/":
            menuname = "繁體中文";
            htmllang = "zh-Hant-TW";
            break;
    }
}
<!DOCTYPE html>
<html lang="@htmllang">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">
    <meta name="twitter:site" content="@twiterid">
    <meta name="twitter:creator" content="@twiterid">
    <meta name="theme-color" content="#253035">
    <meta name="msapplication-navbutton-color" content="#253035">
    <meta name="apple-mobile-web-app-status-bar-style" content="#253035">
    <link rel="canonical" href="@url@absolutePath">
    <link rel="alternate" hreflang="x-default" href="@url/en-US@(absolutePath.Length > 6 ? absolutePath.Substring(6) : "")">
    <link rel="alternate" hreflang="ko-KR" href="@url/ko-KR@(absolutePath.Length > 6 ? absolutePath.Substring(6) : "")">
    <link rel="alternate" hreflang="ja-JP" href="@url/ja-JP@(absolutePath.Length > 6 ? absolutePath.Substring(6) : "")">
    <link rel="alternate" hreflang="zh-CN" href="@url/zh-CN@(absolutePath.Length > 6 ? absolutePath.Substring(6) : "")">
    <link rel="alternate" hreflang="zh-TW" href="@url/zh-TW@(absolutePath.Length > 6 ? absolutePath.Substring(6) : "")">
    <link rel="alternate" hreflang="en-US" href="@url/en-US@(absolutePath.Length > 6 ? absolutePath.Substring(6) : "")">
    <link rel="icon" href="~/Content/pinkcore/img/favicon.ico" type="image/ico">
    <link rel="stylesheet" href="~/Content/pinkcore/css/style.css?v=211">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&amp;family=Noto+Serif+TC:wght@700&amp;display=swap" rel="stylesheet">
    @RenderSection("head", required: false)
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5PWDDNS');</script>
    <!-- End Google Tag Manager -->
    <style>
        .bg-main {
            background-image: url("/Content/pinkcore/img/bg.png");
        }
                /*手機版年齡確認背景*/ .prohibitions {
            background-image: url("/FileUploads/AgeConfirmPhoto/@(Model.AgeMoblieImage)");
        }
        /*電腦版年齡確認背景*/ @@media(min-width: 1024px) {
            .prohibitions {
                background-image: url("/FileUploads/AgeConfirmPhoto/@(Model.AgePCImage)");
            }
        }
    </style>
</head>
<body class="bg-main">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5PWDDNS"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

        <header class="sticky-top" id="go-top">
            <nav class="navbar navbar-expand-l navbar-dark navbar-bg">
                @if (!string.IsNullOrEmpty(ViewBag.Title))
                {
                    <h1 class="navbar-brand mr-1p">
                        <a class="block mr-1p txt-hide" href="@Url.Action("Index", "Home")">
                            @ViewBag.Title
                            <svg class="img-fluid" fill="currentColor" width="125" height="48">
                                <use xlink:href="~/Content/pinkcore/img/sprite.svg#logo"></use>
                            </svg>
                        </a>
                    </h1>

                }
                else
                {
                    <div class="navbar-brand mr-1p">
                        <a class="block mr-1p txt-hide" href="@Url.Action("Index","Home")">
                            @ViewBag.Title
                            <svg class="img-fluid" fill="currentColor" width="125" height="48">
                                <use xlink:href="~/Content/pinkcore/img/sprite.svg#logo"></use>
                            </svg>
                        </a>
                    </div>
                }

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mobile-menu">
                    <ul class="navbar-nav grow-1-l txt-center items-l-center">
                        <li class="nav-item mr-l-5">
                            <a class="nav-link" href="@Url.Action("Index","Topic")">
                                <svg class="img-fluid mr-2" fill="currentColor" width="42" height="42">
                                    <use xlink:href="~/Content/pinkcore/img/sprite.svg#topics"></use>
                                </svg>
                                <span class="v-middle">@PinkCore.Resources._Layout.Index.Topics</span>
                            </a>
                        </li>
                        <li class="nav-item mr-l-5">
                            <a class="nav-link" href="@Url.Action("Index","Game")">
                                <svg class="img-fluid mr-2" fill="currentColor" width="42" height="42">
                                    <use xlink:href="~/Content/pinkcore/img/sprite.svg#feature"></use>
                                </svg>
                                <span class="v-middle">@PinkCore.Resources._Layout.Index.Games</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","About")">
                                <svg class="img-fluid mr-2" fill="currentColor" width="42" height="42">
                                    <use xlink:href="~/Content/pinkcore/img/sprite.svg#aboutus"></use>
                                </svg>
                                <span class="v-middle">@PinkCore.Resources._Layout.Index.AboutUs</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown ml-l-auto">
                            <a class="nav-link dropdown-toggle" id="navbar-dropdown" style="min-width:130px" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @menuname
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown">
                                @{
                                    var zh = absolutePath.IndexOf("-") != -1 ? url + absolutePath.Replace(absolutePath.Substring(1, 5), "zh-TW") : url + "/zh-TW" + absolutePath;
                                    var cn = absolutePath.IndexOf("-") != -1 ? url + absolutePath.Replace(absolutePath.Substring(1, 5), "zh-CN") : url + "/zh-CN" + absolutePath;
                                    var en = absolutePath.IndexOf("-") != -1 ? url + absolutePath.Replace(absolutePath.Substring(1, 5), "en-US") : url + "/en-US" + absolutePath;
                                    var ja = absolutePath.IndexOf("-") != -1 ? url + absolutePath.Replace(absolutePath.Substring(1, 5), "ja-JP") : url + "/ja-JP" + absolutePath;
                                    var kr = absolutePath.IndexOf("-") != -1 ? url + absolutePath.Replace(absolutePath.Substring(1, 5), "ko-KR") : url + "/ko-KR" + absolutePath;
                                }
                                <a class="dropdown-item" href="@zh">繁體中文</a>
                                <a class="dropdown-item" href="@cn">简体中文</a>
                                <a class="dropdown-item" href="@en">ENGLISH</a>
                                <a class="dropdown-item" href="@ja">日本語</a>
                                <a class="dropdown-item" href="@kr">한국어</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        @RenderBody()

        <footer class="pt-xl-1p">
            <div class="container-fluid txt-center tracking-l-wider tracking-xl-widest">
                <div class="row justify-center justify-l-between items-end gy-3 gy-l-5">
                    <div class="col-8 col-m-4 col-l-2">
                        <svg class="img-fluid" fill="currentColor" width="240" height="90"><use xlink:href="~/Content/pinkcore/img/sprite.svg#logo"></use></svg>
                    </div>
                    <div class="col-m-9 col-l-8 mb-3p mb-l-4">
                        <h4 class="txt-heading txt-white pseudo-dsshed-l mb-5 mb-l-4" style="font-family: 'Noto Serif TC', serif;">
                            <span class="pr-5 pr-l-0">@PinkCore.Resources._Layout.Index.AdultEntertainmentText1</span>
                            <br class="hidden-l">
                            <span class="pl-5 pl-l-0">@PinkCore.Resources._Layout.Index.AdultEntertainmentText2</span>
                        </h4>
                        <div class="row justify-center">
                            <div class="col-3 col-l-2">
                                <a class="btn btn-sand-gradient rounded" href="https://www.facebook.com/Pinkcore-109447658048501" title="pinkcore facebook"><svg class="img-fluid" fill="currentColor" width="50" height="50"><use xlink:href="~/Content/pinkcore/img/sprite.svg#facebook"></use></svg></a>
                            </div>
                            <div class="col-3 col-l-2">
                                <a class="btn btn-sand-gradient rounded" href="https://twitter.com/pinkcoreinc" title="pinkcore twitter"><svg class="img-fluid" fill="currentColor" width="50" height="50"><use xlink:href="~/Content/pinkcore/img/sprite.svg#twitter"></use></svg></a>
                            </div>
                            <div class="col-3 col-l-2">
                                <a class="btn btn-sand-gradient rounded" href="https://discord.gg/vgv9kcuDsk"><svg class="img-fluid" fill="currentColor" width="50" height="50" title="pinkcore discord"><use xlink:href="~/Content/pinkcore/img/sprite.svg#discord"></use></svg></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 hidden block-l txt-right">
                        <a class="btn btn-sand-gradient scroll-href fixed-go-top" href="#go-top" title="go top"><svg class="img-fluid" fill="currentColor" width="40" height="40"><use xlink:href="~/Content/pinkcore/img/sprite.svg#arr-top"></use></svg></a>
                    </div>
                    <div class="col-12 bg-black p-3 txt-center">
                        <div class="row txt-sand justify-between gy-3">
                            <div class="col-m-auto">
                                <h5 class="txt-sm txt-normal my-0">
                                    <a class="txt-sand before-rect" href="@Url.Action("Index","Policy")" title="@PinkCore.Resources._Layout.Index.PolicyTerms">@PinkCore.Resources._Layout.Index.PolicyTerms</a>
                                </h5>
                            </div>
                            <div class="col-m-auto">
                                <h6 class="txt-sm txt-normal tracking-xl-normal my-0">&copy; 2022 PINKCORE Inc. All rights reserved.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    @*@Html.Partial("_AgeConfirm", Model)*@
    <script src="~/Content/pinkcore/js/vendors.js"></script>
    <script src="~/Content/pinkcore/js/script.js?v=1111"></script>
    <script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>
        //$(()=>{
        //  cookiePolicyPupup("pinkcore")
        //})
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
