﻿
<section class="py-5 mb-5">
    <div class="container bg-light-gray radius-lg">
        <article class="row justify-center">
            <div class="col-xl-10">
                <div class="py-3 p-m-3 p-l-5">
                    
                    <h1 class="txt-title txt-center mx-m-1p mx-l-2p bb b-bold pb-3">Oops! Page not found.</h1>
                    <div style="text-align:center">
                        <img src="~/Content/Admin/error-404.png" class="img-fluid" />


                    </div>
                    <p>
                        We could not find the page you were looking for.
                        Meanwhile, you may  <a style="color:blue" href="@Url.Action("Index","Home")">return to Home</a>
                    </p>
                    <p>
                        you can contact us. <a style="color:blue" href="mailto:service@pinkcore.com">service@pinkcore.com</a>
                    </p>
                </div>
            </div>
        </article>
    </div>
</section>