﻿@using PinkCore.Models.Cmind;
@model PinkCore.Areas.Darakugear.ViewModels.News.NewsItem
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Authority;

}
@section head{
    <title>@PinkCore.Resources._Layout.Index.DarakugearTitle | @Model.Title | Pinkcore</title>

    @if (!string.IsNullOrEmpty(Model.Content))
    {
        string content = System.Text.RegularExpressions.Regex.Replace(Model.Content, @"\<.*?\>", String.Empty).Replace("&nbsp;", String.Empty).Trim();
        if (content.Count() > 60)
        {
            content = content.Substring(0, 60);
        }
        <meta property="og:description" content="@content" />
        <meta name="description" content="@content" />
    }
    <meta property="og:title" content="@PinkCore.Resources._Layout.Index.DarakugearTitle | @Model.Title">

        @if (!string.IsNullOrEmpty(Model.Image) || !string.IsNullOrEmpty(Model.TranslationsImage))
        {
            <meta property="og:image" content="@url/FileUploads/NewsPhoto/@(!string.IsNullOrEmpty(Model.TranslationsImage) ? Model.TranslationsImage : Model.Image)">
            <meta property="og:image:type" content="image/jpeg">
            <meta property="og:image:width" content="600">
            <meta property="og:image:height" content="315">
        }

    <meta property="og:url" content="@Request.Url.AbsoluteUri">
    <meta name="twitter:image" content="http://whatlife.no-ip.org/test/Darakugear/img/og.jpg">
}
<main class="pb-2p gy-3 gy-l-6">
    <div class="container-fluid">
        <h2 class="page-title"><span class="bg-body block">@PinkCore.Resources.News.Index.Title</span><span class="feature-2 title-bg @(Request.Url.AbsoluteUri.IndexOf("en-US") != -1? "txt-body": "")">News</span></h2>
    </div>
    <article class="container bg-article py-3 py-l-6 editor-style">
        <div class="row justify-center gy-3 gy-l-6">
            <div class="col-l-10 col-xl-8">
                @{ DateTime DateObject = Convert.ToDateTime(Html.DisplayFor(m => Model.OnlineTime, "DateTime").ToString());}
                <h1 class="article-caption">@Model.Title<time class="block">@DateObject.ToString("yyyy.MM.dd")</time></h1>
            </div>
            <div class="col-l-10 col-xl-8">
                @if (!string.IsNullOrEmpty(Model.Image) || !string.IsNullOrEmpty(Model.TranslationsImage))
                {
                    <img src="~/FileUploads/NewsPhoto/@(!string.IsNullOrEmpty(Model.TranslationsImage) ? Model.TranslationsImage : Model.Image)" width="auto" height="auto" alt="@Model.Title" title="@Model.Title" loading="eager"><br><br>
                }
                @Html.Raw(Model.Content)
            </div>
            <div class="col-l-10 col-xl-8">
                <p>
                    @if (!string.IsNullOrEmpty(Model.Tags))
                    {
                        var taglist = Model.Tags.Split(',');
                        foreach (var tagitem in taglist)
                        {
                            <span class="badge badge-primary">@tagitem</span>
                        }
                    }
                </p>
            </div>
        </div>
    </article>
</main>