﻿@model PinkCore.Areas.Darakugear.ViewModels.News.NewsView
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Authority;
    string absolutePath = Request.Url.AbsolutePath.Replace("/Darakugear", "");
    var lang = absolutePath.IndexOf("-") != -1 ? absolutePath.Substring(0, 6) : "/";
    var metaTitle = Model.DataList.Count() > 0 ? Model.DataList.FirstOrDefault()?.Title : PinkCore.Resources.News.Index.Title;
}
@section head{
    <title>@PinkCore.Resources._Layout.Index.DarakugearTitle | @metaTitle | Pinkcore</title>

    @if (Model.DataList.Any())
    {
        if (!string.IsNullOrEmpty(Model.DataList.FirstOrDefault()?.Content))
        {
            string content = System.Text.RegularExpressions.Regex.Replace(Model.DataList.FirstOrDefault()?.Content, @"\<.*?\>", String.Empty).Replace("&nbsp;", String.Empty).Trim();
            if (content.Count() > 60)
            {
                content = content.Substring(0, 60);
            }
            <meta property="og:description" content="@content" />
            <meta name="description" content="@content" />
        }

    }
    <meta property="og:title" content="@PinkCore.Resources._Layout.Index.DarakugearTitle | @metaTitle | Pinkcore">
    @if (Model.DataList.Any())
    {
        if (!string.IsNullOrEmpty(Model.DataList.FirstOrDefault().Image) || !string.IsNullOrEmpty(Model.DataList.FirstOrDefault().TranslationsImage))
        {
            <meta property="og:image" content="@url/FileUploads/NewsPhoto/@(!string.IsNullOrEmpty(Model.DataList.FirstOrDefault().TranslationsImage) ? Model.DataList.FirstOrDefault().TranslationsImage : Model.DataList.FirstOrDefault().Image)">
            <meta property="og:image:type" content="image/jpeg">
            <meta property="og:image:width" content="600">
            <meta property="og:image:height" content="315">
        }
    }

    <meta property="og:url" content="@(Model.DataList.Count() > 0 ? url + "/Darakugear" + lang + "/News/Detail" + Model.DataList.FirstOrDefault().ID : url +"/Darakugear"+lang +"/News")">
    <meta name="twitter:image" content="http://whatlife.no-ip.org/test/Darakugear/img/og.jpg">
}
<section class="pb-2p gy-4 gy-l-6">
    <div class="container-fluid">
        <h1 class="page-title"><span class="bg-body block">@PinkCore.Resources.News.Index.Title</span><span class="feature-2 title-bg @(Request.Url.AbsoluteUri.IndexOf("en-US") != -1? "txt-body": "")">News</span></h1>
    </div>
    <div class="container">
        <div class="row cols-2 cols-l-4 justify-center g-2 g-l-3">
            @foreach (var item in Model.DataList.Select((value, index) => new { value, index }))
            {
                var css = item.index > 11 ? "init hidden" : "";
                <div class="col @css">
                    <article class="card">
                        @if (!string.IsNullOrEmpty(item.value.Image) || !string.IsNullOrEmpty(item.value.TranslationsImage))
                        {
                            <img class="card-img-top" src="~/FileUploads/NewsPhoto/@(!string.IsNullOrEmpty(item.value.TranslationsImage) ? item.value.TranslationsImage : item.value.Image)" width="auto" height="auto" alt="@item.value.Title" title="@item.value.Title" loading="eager">
                        }
                        <div class="card-body">
                            <h2 class="card-title"><a class="stretched-link" href="@Url.Action("Detail","News", new { id = item.value.ID })">@item.value.Title</a></h2>
                        </div>
                        <div class="card-footer">
                            <p>
                                @if (!string.IsNullOrEmpty(item.value.Tags))
                                {
                                    var taglist = item.value.Tags.Split(',');
                                    foreach (var tagitem in taglist)
                                    {
                                        <span class="badge badge-primary">@tagitem</span>
                                    }
                                }
                            </p>
                            @{ DateTime DateObject = Convert.ToDateTime(Html.DisplayFor(m => item.value.OnlineTime, "DateTime").ToString());}
                            <p class="mt-2"><time>@DateObject.ToString("yyyy.MM.dd")</time></p>
                        </div>
                    </article>
                </div>
            }
            @if (Model.DataList.Count() > 12)
            {
                <div class="col-6 col-m-4 col-l-3"><button id="showall" class="btn btn-outline-primary btn-block btn-lg" type="button">所有話題</button></div>
            }
        </div>
    </div>
</section>

@section scripts{
    <script>
        $("#showall").click(function () {
            $('.col').removeClass("init hidden")
        });
    </script>

}
