﻿@model PinkCore.Areas.Admin.ViewModels.Topic.TopicImgView
@using HtmlHelpers.BeginCollectionItem
@{
    var collectionNamePrefix = ViewData["CollectionName"];
    string collectionName = string.Format("{0}.TopicImgs", collectionNamePrefix);
    Guid newItemIndex = Guid.NewGuid();
}
<li class="js-item">
    @using (Html.BeginCollectionItem(collectionName, newItemIndex))
    {
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    @Html.LabelFor(m => m.Image)
                    <span class="text-red">建議尺寸:寬1320px*高度不限，統一高度就好</span>
                    <div class="input-group">
                        @Html.EditorFor(m => m.ImageFile, "_UploadImage")
                        @if (!string.IsNullOrEmpty(Model.Image))
                        {
                            @Html.HiddenFor(model => model.Image)
                            <a href="~/FileUploads/TopicPhoto/@Model.Image" target="_blank" class="btn btn-info">預覽圖</a>
                            @Html.ActionLink("刪除圖片", "DeleteImage", new { id = Model.ID, type = 0}, new { @class = "btn btn-danger js-delete-confirm topicDeleteLink" })
                        }
                    </div>               
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    @Html.LabelFor(model => model.Sort)
                    @Html.TextBoxFor(model => model.Sort, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Sort, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2" style="margin-top:37px">
                <div class="form-check">
                    @Html.CheckBoxFor(model => model.Status, new { @class = "form-check-input" })
                    <label class="form-check-label" for="check-card-status">
                        @Html.DisplayNameFor(model => model.Status)
                    </label>
                </div>
            </div>
            <div class="col-md-2" style="margin-top: 30px;">
                <button type="button" class="btn btn-sm btn-danger"
                        onclick="topicImgs.remove(this)">
                    移除區塊內容
                </button>
            </div>
        </div>
        <hr />

    }
</li>