﻿@model PinkCore.Areas.Admin.ViewModels.Topic.TopicInformationsView
@using HtmlHelpers.BeginCollectionItem
@{
    string collectionName = "TopicInformations" + Model.Language;
    Guid newItemIndex = Model.ItemIndex;
    string itemCollectionName = string.Format("{0}[{1}]", collectionName, newItemIndex);
    ViewData["CollectionName"] = itemCollectionName;

    var sort = Model.Sort == 0 ? Model.Sort + 1 : Model.Sort;
}
<li class="topicInformations@((int)Model.Language)">
    @using (Html.BeginCollectionItem(collectionName, Model.ItemIndex))
    {
        @Html.HiddenFor(m => m.ItemIndex)
        @Html.HiddenFor(m => m.Language)
        @Html.HiddenFor(m => m.TopicTranslationsId)
        <div class="card card-info" style="border-left: 2px solid #00c0ef;
        border-bottom: 2px solid #00c0ef;
        border-right: 2px solid #00c0ef;">
            <div class="card-header">
                <h3 class="card-title topicInformationsTitle@((int)Model.Language)">話題區塊 @sort @Model.Title </h3>
                <div class="pull-right card-tools">
                    <button type="button" class="btn btn-info btn-sm" data-card-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body pad">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(p => p.Arrangement)
                            @Html.DropDownListFor(model => model.Arrangement, Model.ArrangementOptions, new { @class = "form-control select2  js-arrangement", @onchange = "changeArrangement(this)" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(p => p.Title)
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(p => p.VideoUrl)
                            @Html.TextBoxFor(model => model.VideoUrl, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.VideoUrl, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(p => p.Sort)
                            @Html.TextBoxFor(model => model.Sort, new { @class = "form-control js-sort" })
                            @Html.ValidationMessageFor(model => model.Sort, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-check">
                            @Html.CheckBoxFor(model => model.Status, new { @class = "form-check-input" })
                            <label class="form-check-label" for="check-box-status">
                                @Html.DisplayNameFor(model => model.Status)
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(p => p.Content)
                            @Html.TextAreaFor(model => model.Content, new { @class = "form-control js-ckeditor" })
                        </div>
                    </div>

                </div>


                <div class="card card-warning" style="border-left: 2px solid #f39c12;border-right: 2px solid #f39c12; border-bottom: 2px solid #f39c12;" id="topicimgs">
                    <div class="card-header">
                        <h3 class="card-title">區塊內容</h3>
                        <div class="pull-right card-tools">
                            <button type="button" class="btn btn-warning btn-sm" data-card-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>

                    </div>
                    <div class="card-body pad">
                        <ul class="list-unstyled js-topicimg">
                            @foreach (var item in Model.TopicImgs)
                            {

                                Html.RenderPartial("_TopicImg", item);
                            }
                        </ul>
                    </div>
                    <div class="form-group" style="margin-left:20px">
                        <button type="button" id="topicImgBtn" class="btn btn-warning"
                                onclick="topicImgs.addNew(this, '@itemCollectionName')">
                            新增輪播圖片
                        </button>
                    </div>
                </div>


            </div>
            <div class="card-footer navbar-white">
                <button type="button" class="btn btn-sm bg-gradient-blue"
                        onclick="topicInformation_@(Model.Language).remove(this)">
                    移除話題區塊
                </button>
            </div>
        </div>
    }
</li>