﻿@using PinkCore.Models.Cmind;
@model PinkCore.Areas.Admin.ViewModels.Topic.TopicView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增話題" : "編輯話題";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @title
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary card-tabs">
                <div class="card-header p-0 pt-1">
                    <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#tab_1" role="tab" aria-controls="tab_1" aria-selected="true">共通</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab_2" role="tab" aria-controls="tab_2" aria-selected="false">繁體中文</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab_3" role="tab" aria-controls="tab_3" aria-selected="false">簡體中文</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab_4" role="tab" aria-controls="tab_4" aria-selected="false">英文</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab_5" role="tab" aria-controls="tab_5" aria-selected="false">日文</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab_6" role="tab" aria-controls="tab_6" aria-selected="false">韓文</a>
                        </li>
                    </ul>
                </div>
                @using (Html.BeginForm("Edit", "TopicAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="card-body">
                        <div class="tab-content" id="custom-tabs-one-tabContent">
                            <div class="tab-pane fade show active" id="tab_1" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Image)
                                            <span class="text-red">建議尺寸:寬1320px高700px，比例16:9</span>
                                            @Html.EditorFor(m => m.ImageFile, "_UploadImage")
                                            @if (!string.IsNullOrEmpty(Model.Image))
                                            {
                                                <img src="~/FileUploads/TopicPhoto/@Model.Image?v=@DateTime.Now.ToString("yyyyMMddHHmmss")" class="img-thumbnail" style="width:200px" />
                                                @Html.HiddenFor(model => model.Image)
                                                <br />
                                                @Html.ActionLink("刪除圖片", "DeleteImage", new { id = Model.ID, type = (int)DeviceType.PC }, new { @class = "btn btn-danger js-delete-confirm" })
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.HoverImage)
                                            <span class="text-red">建議尺寸:寬1320px高700px，比例16:9</span>
                                            @Html.EditorFor(m => m.HoverImageFile, "_UploadImage")
                                            @if (!string.IsNullOrEmpty(Model.HoverImage))
                                            {
                                                <img src="~/FileUploads/TopicPhoto/@Model.HoverImage?v=@DateTime.Now.ToString("yyyyMMddHHmmss")" class="img-thumbnail" style="width:200px" />
                                                @Html.HiddenFor(model => model.HoverImage)
                                                <br />
                                                @Html.ActionLink("刪除圖片", "DeleteImage", new { id = Model.ID, type = (int)DeviceType.PCHover }, new { @class = "btn btn-danger js-delete-confirm" })
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ProductId)
                                            @Html.DropDownListFor(model => model.ProductId, Model.ProductOptions, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OnlineTime)
                                            @Html.TextBoxFor(model => model.OnlineTime, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.OnlineTime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="margin-top:37px">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.IsLimit, new { @class = "form-check-input" })
                                            <label class="form-check-label" for="check-box-status">
                                                @Html.DisplayNameFor(model => model.IsLimit)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="margin-top:37px">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.Status, new { @class = "form-check-input" })
                                            <label class="form-check-label" for="check-box-status">
                                                @Html.DisplayNameFor(model => model.Status)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab_2" role="tabpanel" aria-labelledby="tab_2">
                                @Html.EditorFor(model => model.TopicTranslationViewTw, "TopicAdminEdit")
                            </div>
                            <div class="tab-pane fade" id="tab_3" role="tabpanel" aria-labelledby="tab_3">
                                @Html.EditorFor(model => model.TopicTranslationViewCn, "TopicAdminEdit")
                            </div>
                            <div class="tab-pane fade" id="tab_4" role="tabpanel" aria-labelledby="tab_4">
                                @Html.EditorFor(model => model.TopicTranslationViewUs, "TopicAdminEdit")
                            </div>
                            <div class="tab-pane fade" id="tab_5" role="tabpanel" aria-labelledby="tab_5">
                                @Html.EditorFor(model => model.TopicTranslationViewJp, "TopicAdminEdit")
                            </div>
                            <div class="tab-pane fade" id="tab_6" role="tabpanel" aria-labelledby="tab_6">
                                @Html.EditorFor(model => model.TopicTranslationViewKr, "TopicAdminEdit")
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @if (Model.ID != 0)
                        {
                            @Html.ActionLink("刪除本篇文章", "Delete", "TopicAdmin", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                        }
                        @Html.ActionLink("取消/回列表", "Index", "TopicAdmin", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/Content/Admin/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/Admin/fileUpload.js"></script>
    <script src="~/Scripts/front/topic_edit.js"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
    <!--taginput-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="~/Content/bootstrap-tagsinput-latest/bootstrap-tagsinput.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.js-arrangement').change();
            //Ckeditor init
            initCKeditor();
            var id = '@Model.ID'
            $(".topicDeleteLink").each(function () {
                var href = $(this).attr("href") + "&topicId=" + id;
                $(this).attr("href", href)
            });
            $.prototype.datetimepicker.DPGlobal.nonpunctuation = /[^ -\/:-@@\[-`{-~\t\n\rZ]+/g;
            var currentDate = new Date();
            if ($("#OnlineTime").val() === "0001/1/1 00:00") {
                $("#OnlineTime").val(currentDate.getFullYear() + '/' + (currentDate.getMonth() + 1) + '/' + currentDate.getDate() + ' ' + currentDate.getHours() + ":" + PrefixInteger(currentDate.getMinutes(), 2))
            } else {
                var strAry = $("#OnlineTime").val().split('/');
                var daytime = strAry[2].split(' ');
                var timestr = daytime ? daytime[1].split(':') : "00:00";
                var hourtime = parseInt(timestr[0]);
                $("#OnlineTime").val(strAry[0] + '/' + strAry[1] + '/' + daytime[0] + ' ' + hourtime + ":" + timestr[1])
            }
            currentDate.setFullYear(currentDate.getFullYear())
            currentDate.setMonth(0);
            currentDate.setDate(0);
            currentDate.setHours(0, 0, 0);
            $('#OnlineTime').datetimepicker({
                todayHighlight: true,
                weekStart: 1,
                minView: 0,
                autoclose: true,
                //pickerPosition: 'bottom-left',
                format: 'yyyy/mm/dd hh:ii ',
                //timezone: 'UTC',
                startDate: currentDate,
                disabledDate: false
            });
        });
        $('body').on('change', '.custom-file input[type="file"]', function () {
            const $this = $(this);
            var $customFile = $this.parent();
            var fileName = $this.val();
            var cleanFileName = fileName.replace('C:\\fakepath\\', " ");
            $customFile.find('.custom-file-label').html(cleanFileName);
        });
    </script>
}