﻿@{
    Layout = null;
    string url = Request.Url.Scheme + "://" + Request.Url.Authority;
    string absolutePath = Request.Url.AbsolutePath.Replace("/Darakugear", "");
    var lang = absolutePath.IndexOf("-") != -1 ? absolutePath.Substring(0, 6) : "/";
    var menuname = string.Empty;
    var htmllang = string.Empty;
    var logo = string.Empty;
    var weblang = string.Empty;
    switch (lang)
    {
        case "/zh-TW":
            menuname = "繁體中文";
            htmllang = "zh-Hant-TW";
            logo = "logo-tc.png";
            weblang = "zh";
            break;
        case "/zh-CN":
            menuname = "简体中文";
            htmllang = "zh-Hans-CN";
            logo = "logo-sc.png";
            weblang = "cn";
            break;
        case "/en-US":
            menuname = "ENGLISH";
            htmllang = "en";
            logo = "logo-en.png";
            weblang = "en";
            break;
        case "/ja-JP":
            menuname = "日本語";
            htmllang = "ja";
            logo = "logo-jp.png";
            weblang = "ja";
            break;
        case "/ko-KR":
            menuname = "한국인";
            htmllang = "ko";
            logo = "logo-kr.png";
            weblang = "ko";
            break;
        case "/":
            menuname = "繁體中文";
            htmllang = "zh-Hant-TW";
            logo = "logo-tc.png";
            weblang = "zh";
            break;
    }
    var zh = absolutePath.IndexOf("-") != -1 ? url + "/Darakugear" + absolutePath.Replace(absolutePath.Substring(1, 5), "zh-TW") : url + "/Darakugear/zh-TW" + absolutePath;
    var cn = absolutePath.IndexOf("-") != -1 ? url + "/Darakugear" + absolutePath.Replace(absolutePath.Substring(1, 5), "zh-CN") : url + "/Darakugear/zh-CN" + absolutePath;
    var en = absolutePath.IndexOf("-") != -1 ? url + "/Darakugear" + absolutePath.Replace(absolutePath.Substring(1, 5), "en-US") : url + "/Darakugear/en-US" + absolutePath;
    var ja = absolutePath.IndexOf("-") != -1 ? url + "/Darakugear" + absolutePath.Replace(absolutePath.Substring(1, 5), "ja-JP") : url + "/Darakugear/ja-JP" + absolutePath;
    var kr = absolutePath.IndexOf("-") != -1 ? url + "/Darakugear" + absolutePath.Replace(absolutePath.Substring(1, 5), "ko-KR") : url + "/Darakugear/ko-KR" + absolutePath;
}
<!DOCTYPE html>
<html lang="@htmllang">
<head>
    <meta name="google" content="notranslate">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    @if (absolutePath.IndexOf("News") == -1)
    {
        <title>@PinkCore.Resources._Layout.Index.DarakugearMetaTitle</title>
        <meta name="description" content="@PinkCore.Resources._Layout.Index.DarakugearMetaDes">
        <meta property="og:title" content="@PinkCore.Resources._Layout.Index.DarakugearMetaTitle">
        <meta property="og:description" content="@PinkCore.Resources._Layout.Index.DarakugearMetaDes">
        <meta property="og:image" content="@url/Content/Darakugear/img/og.jpg">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        <meta property="og:url" content="@Request.Url.AbsoluteUri">
        <meta name="twitter:image" content="@url/Cotent/Darakugear/img/og.jpg">
    }

    <meta property="og:type" content="website">
    <meta name="theme-color" content="#7200ff">
    <meta name="msapplication-navbutton-color" content="#7200ff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#7200ff">
    <link rel="canonical" href="@url/Darakugear@(absolutePath)">
    <link rel="alternate" hreflang="x-default" href="@url/en-US/Darakugear@(absolutePath.Length > 6 ? absolutePath.Substring(6) : "")">
    <link rel="alternate" hreflang="ko-KR" href="@url/ko-KR/Darakugear@(absolutePath.Length > 6 ? absolutePath.Substring(6) : "")">
    <link rel="alternate" hreflang="ja-JP" href="@url/ja-JP/Darakugear@(absolutePath.Length > 6 ? absolutePath.Substring(6) : "")">
    <link rel="alternate" hreflang="zh-CN" href="@url/zh-CN/Darakugear@(absolutePath.Length > 6 ? absolutePath.Substring(6) : "")">
    <link rel="alternate" hreflang="zh-TW" href="@url/zh-TW/Darakugear@(absolutePath.Length > 6 ? absolutePath.Substring(6) : "")">
    <link rel="alternate" hreflang="en-US" href="@url/en-US/Darakugear@(absolutePath.Length > 6 ? absolutePath.Substring(6) : "")">
    <link rel="icon" href="@url/Content/Darakugear/img/favicon.ico" type="image/ico">
    <style>
        @@font-face {
            font-family: PTSerif;
            font-weight: 700;
            src: url("/Content/darakugear/font/PTSerif-bold.ttf");
        }

        @@font-face {
            font-family: NotoSerifJP;
            font-weight: 700;
            src: url("/Content/darakugear/font/NotoSerifJP-bold.otf");
        }

        @@font-face {
            font-family: NotoSerifJP;
            font-weight: 400;
            src: url("/Content/darakugear/font/NotoSerifJP-regular.otf");
        }

        @@font-face {
            font-family: MyriadPro;
            font-weight: 900;
            src: url("/Content/darakugear/font/MyriadPro-black.otf");
        }

        @@font-face {
            font-family: MyriadPro;
            font-weight: 700;
            src: url("/Content/darakugear/font/MyriadPro-bold.ttf");
        }

        @@font-face {
            font-family: MyriadPro;
            font-weight: 400;
            src: url("/Content/darakugear/font/MyriadPro-regular.ttf");
        }
    </style>
    @if (lang == "/zh-TW" || lang == "/")
    {
        <style>
            @@font-face {
                font-family: NotoSansTC;
                font-weight: 700;
                src: url("/Content/darakugear/font/NotoSansTC-bold.otf");
            }

            @@font-face {
                font-family: NotoSansTC;
                font-weight: 400;
                src: url("/Content/darakugear/font/NotoSansTC-regular.otf");
            }

            @@font-face {
                font-family: NotoSerifTC;
                font-weight: 700;
                src: url("/Content/darakugear/font/NotoSerifTC-bold.otf");
            }

            @@font-face {
                font-family: NotoSerifTC;
                font-weight: 400;
                src: url("/Content/darakugear/font/NotoSerifTC-regular.otf");
            }
        </style>
    }
    @if (lang == "/zh-CN")
    {
        <style>
            @@font-face {
                font-family: NotoSansTC;
                font-weight: 700;
                src: url("/Content/darakugear/font/NotoSansTC-bold.otf");
            }

            @@font-face {
                font-family: NotoSansTC;
                font-weight: 400;
                src: url("/Content/darakugear/font/NotoSansTC-regular.otf");
            }

            @@font-face {
                font-family: SourceHanSerifSC;
                font-weight: 700;
                src: url("/Content/darakugear/font/SourceHanSerifSC-bold.otf");
            }

            @@font-face {
                font-family: SourceHanSerifSC;
                font-weight: 900;
                src: url("/Content/darakugear/font/SourceHanSerifSC-heavy.otf");
            }

            @@font-face {
                font-family: SourceHanSerifSC;
                font-weight: 400;
                src: url("/Content/darakugear/font/SourceHanSerifSC-regular.otf");
            }
        </style>
    }
    @if (lang == "/en-US")
    {
        <style>
            @@font-face {
                font-family: Bangers;
                src: url("/Content/darakugear/font/Bangers.ttf");
            }

            @@font-face {
                font-family: NotoSansTC;
                font-weight: 700;
                src: url("/Content/darakugear/font/NotoSansTC-bold.otf");
            }

            @@font-face {
                font-family: NotoSansTC;
                font-weight: 400;
                src: url("/Content/darakugear/font/NotoSansTC-regular.otf");
            }
        </style>
    }
    @if (lang == "/ko-KR")
    {
        <style>
            @@font-face {
                font-family: NotoSansKR;
                font-weight: 700;
                src: url("/Content/darakugear/font/NotoSansKR-bold.otf");
            }

            @@font-face {
                font-family: NotoSansKR;
                font-weight: 900;
                src: url("/Content/darakugear/font/NotoSansKR-black.otf");
            }

            @@font-face {
                font-family: NotoSansKR;
                font-weight: 400;
                src: url("/Content/darakugear/font/NotoSansKR-regular.otf");
            }
        </style>
    }
    @if (lang == "/ja-JP")
    {
        <style>
            @@font-face {
                font-family: NotoSansJP;
                font-weight: 700;
                src: url("/Content/darakugear/font/NotoSansJP-bold.otf");
            }

            @@font-face {
                font-family: NotoSansJP;
                font-weight: 400;
                src: url("/Content/darakugear/font/NotoSansJP-regular.otf");
            }
        </style>
    }

    <link rel="stylesheet" href="~/Content/darakugear/css/style.css?v=333">
    <link rel="stylesheet" href="~/Content/darakugear/css/footer.css">
    @RenderSection("head", required: false)
    <style>
        body {
            background-image: url("/Content/darakugear/img/bg-main.png");
        }
    </style>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5PWDDNS');</script>
    <!-- End Google Tag Manager -->
</head>
<body class="open">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5PWDDNS"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    @*****************************************header分隔線*****************************************@
    <header class="sticky-top">
        <nav class="navbar navbar-dark">
            @*一頁只能有一個h1，請加入判斷logo是否需要h1包住。*@
            @if (absolutePath.IndexOf("News") == -1)
            {
                <h1 class="navbar-brand">
                    <a class="block txt-hide" href="@Url.Action("Index", "Home", new { lang = lang.Substring(1) })">
                        @PinkCore.Resources._Layout.Index.DarakugearMetaTitle
                        <img class="logo" src="~/Content/darakugear/img/@logo" alt="@PinkCore.Resources._Layout.Index.DarakugearMetaTitle">
                    </a>
                </h1>

            }
            else
            {
                <a class="block txt-hide" href="@Url.Action("Index", "Home", new { lang = lang.Substring(1) })">
                    <img class="logo" src="~/Content/darakugear/img/@logo">
                </a>
            }

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">@PinkCore.Resources._Layout.Index.HomePage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Characters")">@PinkCore.Resources._Layout.Index.CharactersMenu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "News")">@PinkCore.Resources.News.Index.Title</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Detail", "News", new { id = "19" })">FAQ</a></li>
                </ul>
                <ul class="nav justify-center divider-primary leading-xl-none">
                    <li class="nav-item">
                        <a class="nav-link py-0 @(lang == "/zh-TW" || lang =="/" ? "active" : "")" href="@zh">繁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0 @(lang =="/zh-CN" ? "active" : "")" href="@cn">簡</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0 @(lang =="/ja-JP" ? "active" : "")" href="@ja">JP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0 @(lang =="/en-US" ? "active" : "")" href="@en">EN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0 @(lang =="/ko-KR" ? "active" : "")" href="@kr">KR</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    @RenderBody()
    <footer class="bg-black pt-4">
        <div class="container txt-white txt-center pb-5">
            <div class="row justify-around items-center gy-5">
                <div class="col-12">
                    <p class="footer-lines">@PinkCore.Resources._Layout.Index.DarakugearFootTitle</p>
                </div>
                <div class="col-l-auto col-8">
                    <img class="img-fluid" src="~/Content/darakugear/img/@logo" width="300" height="auto" alt="logo" title="logo" loading="eager">
                </div>
                <div class="col-l-3 mr-auto">
                    <h6 class="txt-l-left mb-3">DOWNLOAD</h6>
                    <div class="row justify-center justify-l-start gx-3">
                        <div class="col-4 col-m-2 col-l-6 hidden">
                            <a class="btn btn-white btn-block btn-sm" href="https://l.epvkjs.com/7x7T0ytn" target="_blank" title="download darkugear for iOS">
                                <svg class="img-fluid" fill="currentColor" width="30" height="30">
                                    <use xlink:href="~/Content/darakugear/img/sprite.svg#ios"></use>
                                </svg>
                                <span class="block">iOS</span>
                            </a>
                        </div>
                        <div class="col-4 col-m-2 col-l-6">
                            <a class="btn btn-green btn-block btn-sm" href="https://l.epvkjs.com/3kRHt9MV?subc3=mssitedownload" target="_blank" title="download darkugear for Android">
                                <svg class="img-fluid" fill="currentColor" width="30" height="30">
                                    <use xlink:href="~/Content/darakugear/img/sprite.svg#android"></use>
                                </svg>
                                <span class="block">Android</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-l-4 col-xl-3">
                    <h6 class="txt-l-left mb-3">FOLLOW US</h6>
                    <div class="row justify-center justify-l-start gx-3">
                        <div class="col-3">
                            <a class="btn btn-white rounded" href="https://www.facebook.com/108210171603577" title="facebook" target="_blank">
                                <svg class="img-fluid" fill="currentColor" width="50" height="50">
                                    <use xlink:href="~/Content/darakugear/img/sprite.svg#fb"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="col-3">
                            <a class="btn btn-white rounded" href="https://discord.gg/hbqCYJPFfS" title="discord" target="_blank">
                                <svg class="img-fluid" fill="currentColor" width="50" height="50">
                                    <use xlink:href="~/Content/darakugear/img/sprite.svg#discord"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid tracking-l-wider tracking-xl-widest">
            @*<div class="row justify-center justify-l-between items-center pb-3 gy-3 sub-footer">
                    <div class="col-5 col-m-3 col-l-2">
                        <svg class="img-fluid" fill="currentColor" width="165" height="60">
                            <use xlink:href="~/Content/darakugear/img/sprite.svg#logo"></use>
                        </svg>
                    </div>
                    <div class="col-7 col-m-9 col-l-7">
                        <div class="row from-top from-left-m gy-2 gx-0tx">
                            <div class="col-m-6 col-xl-4">
                                <a class="txt-sand" href="@Url.Action("Index","Home", new { Area = "" , lang= lang.Substring(1) })" title="@PinkCore.Resources._Layout.Index.PinkMainPage">
                                    <svg class="img-fluid mr-2" viewBox="0 0 50 50" width="30" height="30">
                                        <defs>
                                            <linearGradient id="g" y2="1" gradientUnits="objectBoundingBox">
                                                <stop offset="10%" stop-color="#967e44"></stop>
                                                <stop offset="64%" stop-color="#e7c169"></stop>
                                            </linearGradient>
                                        </defs>
                                        <circle cx="25" cy="25" r="25" fill="url('#g')"></circle>
                                        <use xlink:href="~/Content/darakugear/img/sprite.svg#triangle-right" fill="#253035"></use>
                                    </svg>@PinkCore.Resources._Layout.Index.PinkMainPage
                                </a>
                            </div>
                            <div class="col-m-6 col-xl-4">
                                <a class="txt-sand" href="@Url.Action("Index","Game", new { Area = "", lang= lang.Substring(1) })" title="@PinkCore.Resources._Layout.Index.PinkFeatured_Games">
                                    <svg class="img-fluid mr-2" viewBox="0 0 50 50" width="30" height="30">
                                        <defs>
                                            <linearGradient id="g" y2="1" gradientUnits="objectBoundingBox">
                                                <stop offset="10%" stop-color="#967e44"></stop>
                                                <stop offset="64%" stop-color="#e7c169"></stop>
                                            </linearGradient>
                                        </defs>
                                        <circle cx="25" cy="25" r="25" fill="url('#g')"></circle>
                                        <use xlink:href="~/Content/darakugear/img/sprite.svg#triangle-right" fill="#253035"></use>
                                    </svg>@PinkCore.Resources._Layout.Index.PinkFeatured_Games
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 hidden block-l txt-right">
                        <a class="btn btn-sand-gradient scroll-href fixed-go-top" href="#go-top" title="go top">
                            <svg class="img-fluid" fill="currentColor" width="40" height="40">
                                <use xlink:href="~/Content/darakugear/img/sprite.svg#arr-top"></use>
                            </svg>
                        </a>
                    </div>
                </div>*@
            <div class="row txt-sand justify-between txt-center gy-3 py-3">
                <div class="col-m-auto hidden">
                    <h5 class="txt-sm txt-normal my-0">
                        <a class="txt-sand before-rect" href="@Url.Action("Index","Policy", new { Area = "" , lang = lang.Substring(1)})" title="@PinkCore.Resources._Layout.Index.PolicyTerms">@PinkCore.Resources._Layout.Index.PolicyTerms</a>
                    </h5>
                </div>
                <div class="col-m-auto ml-auto">
                    <h6 class="txt-sm txt-normal tracking-xl-normal my-0">&copy; 2021 PINKCORE Inc. All rights reserved.</h6>
                </div>
            </div>
        </div>
    </footer>
    <div class="mask z-top"><div class="prohibitions hidden py-5"><div class="wrap-l justify-center content-center from-top txt-center vh-100 gy-4"><div class="col-11 col-s-9 col-xl-6 px-m-5 bg-gray-20-85"><div class="row justify-center"><div class="col-12 py-5 txt-white"><p class="txt-title">您已經滿 18 歲了嗎？</p><p>網站內含成年人才能觀看之內容</p></div><div class="col-6 col-s-4 col-m-6 col-l-4 js-question-1 py-5"><a class="btn btn-black btn-block btn-lg tracking-xl-wider under-18yo" data-type="no" title="我未滿18歲" href="javascript:history.back();">我未滿18歲</a></div><div class="col-6 col-s-4 col-m-6 col-l-4 py-5"><button class="btn btn-white btn-block btn-lg question-1-btn tracking-xl-wider" type="button" data-type="all">已年滿18歲</button></div></div></div><div class="col-11 col-s-9 col-xl-6 px-m-5"><p class="txt-white txt-left">本網站包含性、暴力、恐怖等內容，可能對身心有不良之影響。您必須年滿18歲或達到您所在地區法定成年之年齡，才可以瀏覽本網站內容。如果您有任何疑慮，請點擊離開。</p></div></div></div></div>

    <script src="~/Content/darakugear/js/vendors.js"></script>
    <script src="~/Content/darakugear/js/script.js?v=11"></script>
    <script>
        $(()=>{
          cookiePolicyPupup("ms")
        })
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>