﻿@using PinkCore.Models.Cmind;
@model PinkCore.ViewModels.Topic.TopicItem
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Authority;
    var css = "";
    var scriptfile = "";
    int i = 0;
    int k = 1;
    ViewBag.Title = "Detail";
    if (Model.GameData != null)
    {
        switch (Model.GameData.Type)
        {
            case (int)ProductType.Recommend:
                css = "badge-pink";
                break;
            case (int)ProductType.HotGame:
                css = "badge-orange";
                break;
            case (int)ProductType.NewGame:
                css = "badge-purple";
                break;
        }
    }
    switch (Model.Language)
    {
        case (int)Language.zh_TW:
            scriptfile = "seo_home_tw.json";
            break;
        case (int)Language.zh_CN:
            scriptfile = "seo_home_cn.json";
            break;
        case (int)Language.ko_KR:
            scriptfile = "seo_home_kr.json";
            break;
        case (int)Language.ja_JP:
            scriptfile = "seo_home_jp.json";
            break;
        case (int)Language.en_US:
            scriptfile = "seo_home_en.json";
            break;
        default:
            scriptfile = "seo_home_tw.json";
            break;
    }
}

@section head{
    <title>Pinkcore | @PinkCore.Resources._Layout.Index.Topics @Model.Title</title>
    @if (!string.IsNullOrEmpty(Model.Image))
    {
        <meta property="og:image" content="@url/FileUploads/ProductPhoto/@(!string.IsNullOrEmpty(Model.TranslationsImage)? Model.TranslationsImage: Model.Image)">
        <meta property="og:image:type" content="image/@(!string.IsNullOrEmpty(Model.TranslationsImage) ? Model.TranslationsImage.IndexOf("jpg") != -1 ?"jpeg" : Model.TranslationsImage.Substring(Model.TranslationsImage.IndexOf(".") + 1) :Model.Image.IndexOf("jpg") != -1 ?"jpeg" : Model.Image.Substring(Model.Image.IndexOf(".") + 1))">
        <meta name="twitter:image" content="@url/FileUploads/ProductPhoto/@(!string.IsNullOrEmpty(Model.TranslationsImage)? Model.TranslationsImage: Model.Image)">
    }
    <meta name="twitter:title" content="@Model.Title" />
    <meta property="og:title" content="@Model.Title" />
    @if (Model.TopicInformations.Any())
    {
        string content = System.Text.RegularExpressions.Regex.Replace(Model.TopicInformations[0]?.Content, @"\<.*?\>", String.Empty).Replace("&nbsp;", String.Empty).Trim();
        if (content.Count() > 60)
        {
            content = content.Substring(0, 60);
        }
        <meta name="description" content="@content" />
        <meta name="twitter:description" content="@content" />
        <meta property="og:description" content="@content">
        <meta name="description" content="@content">
        <meta name="twitter:description" content="@content" />

    }
}

<main class="mb-2p mb-l-1p py-5">
    <div class="container bg-light-gray radius-lg py-5">
        <article class="row justify-center gy-3 gy-l-4">
            <div class="col-xl-9 editor-style">
                <h1>@Model.Title</h1>
                <p class="quote mb-3">
                    @{ DateTime TopicDateObject = Convert.ToDateTime(Html.DisplayFor(m => Model.OnlineTime, "DateTime").ToString());}
                    <time class="txt-bold">@TopicDateObject.ToString("yyyy.MM.dd")</time>
                </p>
                <div class="txt-center">
                    <img class="img-fluid mb-3" src="~/FileUploads/TopicPhoto/@(!string.IsNullOrEmpty(Model.TranslationsImage)? Model.TranslationsImage: Model.Image)" alt="@Model.Title" title="@Model.Title" loading="lazy" width="100%" height="auto">
                </div>
                @foreach (var item in Model.TopicInformations?.Take(1))
                {

                    if (!string.IsNullOrEmpty(item.Title))
                    {
                        <h2 class="quote-title txt-subtitle">@item.Title</h2>
                    }
                    if (item.Arrangement == ArrangementType.Article)
                    {
                        if (!string.IsNullOrEmpty(item.VideoUrl))
                        {
                            var videourl = item.VideoUrl.IndexOf("https://www.youtube.com/watch?v=") != -1 ? "https://www.youtube.com/watch?v=" : "https://youtu.be/";
                            var str1 = item.VideoUrl.Replace(videourl, "");
                            var videoId = str1.IndexOf("&") != -1 ? str1.Substring(0, str1.IndexOf("&")) : str1;
                            <div class="embed-responsive embed-responsive-16by9 mb-3">
                                <iframe src="https://www.youtube.com/embed/@videoId" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                            </div>
                        }
                    }
                    else
                    {
                        var topicImgs = item.TopicImgs.Where(p => p.Status == true).OrderBy(p => p.Sort);

                        <div id="article-carousel-@k" class="swiper-container article-carousel">
                            <div class="swiper-wrapper">
                                @foreach (var topicimg in topicImgs)
                                {
                                    <div class="swiper-slide">
                                        <img alt="" class="d-block w-100" height="auto" src="~/FileUploads/TopicPhoto/@topicimg.Image" title="@item.Title" width="100%">
                                    </div>
                                }
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <div id="article-carousel-thumbsslider-1" class="swiper-container article-carousel-thumbsslider">
                            <div class="swiper-wrapper">
                                @foreach (var topicimg in topicImgs)
                                {
                                    <div class="swiper-slide">
                                        <img alt="@item.Title" class="d-block w-100" height="auto" src="~/FileUploads/TopicPhoto/@topicimg.Image" title="@item.Title" width="100%">
                                    </div>
                                }
                            </div>
                        </div>
                        k++;
                    }

                    @Html.Raw(item.Content)
                    i++;

                }
                @if (Model.TopicInformations.Count() != i)
                {
                    <div class="divide"></div>
                }

            </div>
            @foreach (var item in Model.TopicInformations?.Skip(1))
            {
                var topicImgs = item.TopicImgs.Where(p => p.Status == true).OrderBy(p => p.Sort);
                if (item.Arrangement == ArrangementType.Article)
                {
                    <div class="col-xl-9 editor-style">
                        @if (!string.IsNullOrEmpty(item.Title))
                        {
                            <h2 class="quote-title txt-subtitle">@item.Title</h2>
                        }

                        @if (!string.IsNullOrEmpty(item.VideoUrl))
                        {
                            var videourl = item.VideoUrl.IndexOf("https://www.youtube.com/watch?v=") != -1 ? "https://www.youtube.com/watch?v=" : "https://youtu.be/";
                            var str1 = item.VideoUrl.Replace(videourl, "");
                            var videoId = str1.IndexOf("&") != -1 ? str1.Substring(0, str1.IndexOf("&")) : str1;
                            <div class="embed-responsive embed-responsive-16by9 mb-3">
                                <iframe src="https://www.youtube.com/embed/@videoId" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                            </div>
                        }
                        @Html.Raw(item.Content)
                        @{i++;}
                        @if (Model.TopicInformations.Count() != i)
                        {
                            <div class="divide"></div>
                        }
                    </div>
                }
                else
                {

                    <div class="col-xl-9 editor-style">
                          @if (!string.IsNullOrEmpty(item.Title))
                          {
                            <h2 class="quote-title txt-subtitle">@item.Title</h2>
                          }
                        <div id="article-carousel-@k" class="swiper-container article-carousel">
                            <div class="swiper-wrapper">
                                @foreach (var topicimg in topicImgs)
                                {
                                    <div class="swiper-slide">
                                        <img alt="" class="d-block w-100" height="auto" src="~/FileUploads/TopicPhoto/@topicimg.Image" title="@item.Title" width="100%">
                                    </div>
                                }
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <div id="article-carousel-thumbsslider-@k" class="swiper-container article-carousel-thumbsslider">
                            <div class="swiper-wrapper">
                                @foreach (var topicimg in topicImgs)
                                {
                                    <div class="swiper-slide">
                                        <img alt="@item.Title" class="d-block w-100" height="auto" src="~/FileUploads/TopicPhoto/@topicimg.Image" title="@item.Title" width="100%">
                                    </div>
                                }
                            </div>
                        </div>
                        @Html.Raw(item.Content)
                        @{i++;}
                        @if (Model.TopicInformations.Count() != i)
                        {
                            <div class="divide"></div>
                        }
                    </div>
                    k++;
                }

            }
            @if (!string.IsNullOrEmpty(Model.Tags))
            {
                var taglist = Model.Tags.Split(',');
                <div class="col-xl-9">
                    <p>
                        @foreach (var tag in taglist)
                        {
                            <span class="badge">@tag</span>
                        }
                    </p>
                    <div class="divide"></div>
                </div>
            }

            @if (Model.GameData != null)
            {
                <div class="col-xl-8">
                    <div class="px-l-4">
                        <div class="row bg-white p-2 gx-1 p-l-3 gx-l-3 hover-area">
                            <div class="col-5 col-l-4">
                                <div class="rel h-100">
                                    <img class="ratio-3by4 h-100" src="~/FileUploads/ProductPhoto/@(!string.IsNullOrEmpty(Model.GameData?.TranslationsImage) ? Model.GameData?.TranslationsImage : Model.GameData?.Image )" alt="@(Model.GameData?.Name)" title="@(Model.GameData?.Name)" loading="lazy" width="100%" height="auto">
                                    <span class="badge mobile-badge @css">@(PinkCore.Utility.Cmind.EnumHelper.GetDescription((ProductType)Model.GameData?.Type))</span>
                                </div>
                            </div>
                            <div class="col-7 col-l-8 flex from-top justify-between static">
                                <div class="col-12 static">
                                    <h3 class="quote flex justify-between items-center" style="white-space: nowrap;">
                                        @(Model.GameData?.Name)
                                        <span class="badge pc-badge @css">@(PinkCore.Utility.Cmind.EnumHelper.GetDescription((ProductType)Model.GameData?.Type))</span>
                                    </h3>
                                    <p class="txt-lg txt-bold">
                                        <a href="@(Model.GameData?.Link)" class="stretched-link" target="_blank">@(Model.GameData?.Description)</a>
                                    </p>
                                </div>
                                <div class="col-12">
                                    <div class="row items-center gy-1">
                                        <div class="col-l-9">
                                            <p class="i-block mt-0">
                                                @if (Model.GameData?.SupportLan != null)
                                                {
                                                    var list = Model.GameData?.SupportLan.Split(',');
                                                    foreach (var lan in list)
                                                    {
                                                        <span class="badge-lang">@(PinkCore.Utility.Cmind.EnumHelper.GetDescription((Language)Convert.ToInt32(lan)).Substring(0, 1))</span>
                                                    }
                                                }
                                                <br>
                                                @{ DateTime GameDateObject = Convert.ToDateTime(Html.DisplayFor(m => Model.GameData.OnlineTime, "DateTime").ToString());}
                                                <time class="v-middle">@GameDateObject.ToString("yyyy.MM.dd")</time>
                                            </p>
                                        </div>
                                        <div class="col-l-3 hidden block-l">
                                            <div class="btn btn-sand btn-block">@PinkCore.Resources.Game.Index.Go</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divide pb-3"></div>
                </div>
            }
        </article>
    </div>
</main>
<section class="mb-2p mb-l-1p hidden block-m">
    <div class="container">
        <div class="row gx-0 gy-5 justify-center">
            <div class="col-12 txt-sand txt-center tracking-xl-widest">
                <h2 class="feature-3">@PinkCore.Resources.Topic.Index.LatestNews</h2>
                <p class="pseudo-dsshed">TOPICS</p>
                <div class="hr"></div>
            </div>
            <div class="col-8 col-m-5 col-l-10 col-xl-8">
                <div class="btn-group btn-group-sand flex">
                    <button class="btn btn-selected txt-left hidden-l" type="button">All</button>
                    <button class="btn dropdown-toggle dropdown-toggle-split grow-0 hidden-l" id="dropdownMenuReference" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent"><span class="sr-only">Toggle Dropdown</span></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                        <a class="dropdown-item active" href="@Url.Action("Index","Topic")" title="All">All</a>
                        @if (Model.DataList.Any())
                        {
                            foreach (var item in Model.DataList.GroupBy(d => new { d.ProductId }).Select(m => new { m.Key.ProductId, m.ToList().First().ProductName }))
                            {
                                <a class="dropdown-item" href="@Url.Action("Index", "Topic", new { game = item.ProductId })" title="@item.ProductName">@item.ProductName</a>
                            }
                        }

                    </div>
                </div>
            </div>
            <div class="topic grid col-12 col-m-9 col-l-10 col-mx-l-1">
                @if (Model.DataList.Any())
                {
                    foreach (var item in Model.DataList.Take(5).Select((value, index) => new { value, index }))
                    {
                        var css_block = item.index == 0 ? "col-l-12" : "col-l-8 col-xl-7";
                        var css2_block = item.index == 0 ? "col-l-12 grow-1-l" : "col-l-4 col-xl-5";

                        <div class="cell py-3 px-m-2 px-1 p-l-0 hover-area">
                            <div class="row gx-m-2 gx-1 gx-l-0">
                                <div class="col-5 col-m-7 @css_block">
                                    <img class="img-fluid" src="~/FileUploads/TopicPhoto/@(!string.IsNullOrEmpty(item.value.TranslationsImage) ? item.value.TranslationsImage : item.value.Image)" alt="@item.value.Title" title="@item.value.Title" loading="eager">
                                    @if (!string.IsNullOrEmpty(item.value.TranslationsHoverImage) || !string.IsNullOrEmpty(item.value.HoverImage))
                                    {
                                        <div class="bg-cover hover-fadein-img" style="background-image:url('/FileUploads/TopicPhoto/@(!string.IsNullOrEmpty(item.value.TranslationsHoverImage) ? item.value.TranslationsHoverImage : item.value.HoverImage)');"></div>
                                    }
                                </div>
                                <div class="col-7 col-m-5 @css2_block static">
                                    <div class="topic-content">
                                        <h2 class="topic-title">
                                            @if (!string.IsNullOrEmpty(item.value.Title))
                                            {
                                                var title = item.value.Title.Length > 22 ? item.value.Title.Substring(0, 22) + "..." : item.value.Title;
                                                <a class="stretched-link" href="@Url.Action("Detail", "Topic", new { id = item.value.LinkUrl })" title="@title">@title</a>
                                            }
                                            else
                                            {
                                                <a class="stretched-link" href="@Url.Action("Detail", "Topic", new { id =  item.value.ID })"></a>
                                            }
                                        </h2>

                                        <p>
                                            @if (!string.IsNullOrEmpty(item.value.Tags))
                                            {
                                                var taglist = item.value.Tags.Split(',');
                                                foreach (var tag in taglist)
                                                {
                                                    <span class="badge">@tag</span>
                                                }
                                            }
                                            <br>
                                            @{ DateTime TopicListDateObject = Convert.ToDateTime(Html.DisplayFor(m => item.value.OnlineTime, "DateTime").ToString());}

                                            <time class="hidden block-l">@TopicListDateObject.ToString("yyyy.MM.dd")</time>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            @if (Model.DataList.Count() > 5)
            {
                <div class="col-8 col-m-5 col-l-3 col-xl-2">
                    <a class="btn btn-sand-grad" href="@Url.Action("Index","Topic")" title="@PinkCore.Resources.Topic.Index.AllNews">@PinkCore.Resources.Topic.Index.AllNews</a>
                </div>
            }

        </div>
    </div>
</section>


@section scripts{
    <script>
       // Add a schema tag to your
       $.getJSON( "/Content/pinkcore/js/@scriptfile", function( data ) {
         $( "<script/>", {
           "type": "application/ld+json",
           "html": JSON.stringify(data)
         }).appendTo( "head" );
       });
    </script>
}