﻿@model PinkCore.ViewModels.Topic.TopicView
@{
    var scriptfile = "";
    string url = Request.Url.Scheme + "://" + Request.Url.Authority;
    string absolutePath = Request.Url.AbsolutePath;
    var lang = absolutePath.IndexOf("-") != -1 ? absolutePath.Substring(0, 6) : "/";
    switch (lang)
    {
        case "/zh-TW":
            scriptfile = "seo_home_tw.json";
            break;
        case "/zh-CN":
            scriptfile = "seo_home_cn.json";
            break;
        case "/en-US":
            scriptfile = "seo_home_en.json";
            break;
        case "/ja-JP":
            scriptfile = "seo_home_jp.json";
            break;
        case "/ko-KR":
            scriptfile = "seo_home_kr.json";
            break;
        case "/":
            scriptfile = "seo_home_tw.json";
            break;
    }
}
@section head{

    <meta property="og:image" content="@url/Content/pinkcore/img/og.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta name="twitter:image" content="@url/Content/pinkcore/img/og.jpg">
    @if (Model.DataList.Any())
    {
        <title>Pinkcore | @PinkCore.Resources._Layout.Index.Topics</title>
        <meta name="twitter:title" content="Pinkcore | @PinkCore.Resources._Layout.Index.Topics" />
        <meta property="og:title" content="Pinkcore | @PinkCore.Resources._Layout.Index.Topics" />
        if (Model.AllDataList.First().TopicInformations.Any())
        {
            string content = System.Text.RegularExpressions.Regex.Replace(Model.AllDataList.First().TopicInformations[0]?.Content, @"\<.*?\>", String.Empty).Replace("&nbsp;", String.Empty).Trim();
            if (content.Count() > 60)
            {
                content = content.Substring(0, 60);
            }
            <meta property="og:description" content="@content" />
            <meta name="description" content="@content" />
            <meta name="twitter:description" content="@content" />
        }
    }

}
<section class="py-5">
    <div class="container">
        <div class="row gx-0 gy-5 justify-center">
            <div class="col-12 col-l-6 col-xl-12 txt-sand txt-center tracking-xl-widest">
                <h1 class="feature-3">
                    @PinkCore.Resources.Topic.Index.LatestNews
                    <span class="pseudo-dsshed txt-md block">TOPICS</span>
                </h1>
                <div class="hr"></div>
            </div>
            <div class="col-8 col-m-5 col-l-10">
                <!--==========下拉選單(可做共用)==========-->
                <div class="btn-group btn-group-sand flex">
                    <button class="btn btn-selected txt-left hidden-l" id="dropdownText" type="button">All</button>
                    <button class="btn dropdown-toggle dropdown-toggle-split grow-0 hidden-l" id="dropdownMenuReference" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent"><span class="sr-only">Toggle Dropdown</span></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                        <a class="dropdown-item" href="@Url.Action("Index","Topic")" title="All">All</a>
                        @foreach (var item in Model.AllDataList.GroupBy(d => new { d.ProductId }).Select(m => new { m.Key.ProductId, m.ToList().First().ProductName }))
                        {
                            <a class="dropdown-item" data-game="@item.ProductId" data-gamename="@item.ProductName" href="@Url.Action("Index","Topic", new { game = item.ProductId })" title="@item.ProductName">@item.ProductName</a>
                        }
                    </div>
                </div>
            </div>
            <div class="topic grid col-12 col-m-9 col-l-10 col-mx-l-1">
                @foreach (var item in Model.DataList.Select((value, index) => new { value, index }))
                {
                    var css = item.index == 0 || item.index > 4 ? "col-l-12" : "col-l-8 col-xl-7";
                    var css2 = item.index == 0 || item.index > 4 ? "col-l-12 grow-1-l" : "col-l-4 col-xl-5";
                    <div class="cell py-3 px-m-2 px-1 p-l-0 hover-area @(item.index > 10 ? "init hidden" : "" )">
                        <div class="row gx-m-2 gx-1 gx-l-0">
                            <div class="col-5 col-m-7 @css">
                                <img class="img-fluid" src="~/FileUploads/TopicPhoto/@(!string.IsNullOrEmpty(item.value.TranslationsImage) ? item.value.TranslationsImage : item.value.Image)" alt="@item.value.Title" title="@item.value.Title" loading="eager">
                                <div class="bg-cover hover-fadein-img" style="background-image:url('/FileUploads/TopicPhoto/@(!string.IsNullOrEmpty(item.value.TranslationsHoverImage) ? item.value.TranslationsHoverImage : item.value.HoverImage)');"></div>
                            </div>
                            <div class="col-7 col-m-5 @css2 static">
                                <div class="topic-content">
                                    <h2 class="topic-title">
                                        @if (!string.IsNullOrEmpty(item.value.Title))
                                        {
                                            var title = item.value.Title.Length > 22 ? item.value.Title.Substring(0, 22) + "..." : item.value.Title;
                                            <a class="stretched-link" href="@Url.Action("Detail", "Topic", new { id = item.value.LinkUrl })" title="@title">@title</a>
                                        }
                                        else
                                        {
                                            <a class="stretched-link" href="@Url.Action("Detail", "Topic", new { id = item.value.ID })"></a>
                                        }
                                    </h2>
                                    <p>
                                        @if (!string.IsNullOrEmpty(item.value.Tags))
                                        {
                                            var taglist = item.value.Tags.Split(',');
                                            foreach (var tag in taglist)
                                            {
                                                <span class="badge">@tag</span>}
                                        }
                                        <br>
                                        @{ DateTime DateObject = Convert.ToDateTime(Html.DisplayFor(m => item.value.OnlineTime, "DateTime").ToString());}
                                        <time class="hidden block-l">@DateObject.ToString("yyyy.MM.dd")</time>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            @if (Model.DataList.Count() > 11)
            {
                <div class="col-8 col-m-5 col-l-3 col-xl-2">
                    <button class="btn btn-sand-grad show-all" type="button">@PinkCore.Resources.Topic.Index.AllNews</button>
                </div>
            }
        </div>
    </div>
</section>
@section scripts{
    <script>
       // Add a schema tag to your
       $.getJSON( "/Content/pinkcore/js/@scriptfile", function( data ) {
         $( "<script/>", {
           "type": "application/ld+json",
           "html": JSON.stringify(data)
         }).appendTo( "head" );
       });
        $(function () {
            var queryString = location.search;
            let params = new URLSearchParams(queryString);
            let gameparams = params.get("game");
            if (gameparams) {
                $(".dropdown-item").each(function () {
                    var $this = $(this).data("game");
                    var gamename = $(this).data("gamename");
                    if ($this == gameparams) {
                        console.log(gamename)
                        $("#dropdownText").text(gamename);
                    }
                });
            }
        });
    </script>
}