﻿@using PinkCore.Models.Cmind
@model PinkCore.Areas.Darakugear.ViewModels.Characters.CharactersView
@{
    var htmlContetnt = "";
    switch (Model.Language)
    {
        case Language.zh_TW:
            htmlContetnt = @"<main class='pb-6 gy-6'>
    <div class='container-fluid'>
        <h2 class='page-title'><span class='bg-body block'>登場人物</span><span class='title-bg'>Characters</span></h2>
    </div>
    <article class='container'>
        <div class='fill-container'>
            <div class='row justify-center gx-0'>
                <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
                    <div class='row justify-center gx-0 gy-3'>
                        <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                            <div class='swiper-container swiper-character-img'>
                                <div class='swiper-wrapper'>
                                    <div class='swiper-slide'>
                                        <picture>
                                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-1.webp' type='image/webp'>
                                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-1.png 2x' type='image/png'>
                                            <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-1.png' width='auto' height='auto' alt='克莉絲汀' title='克莉絲汀' loading='eager'>
                                        </picture>
                                    </div>
                                    <div class='swiper-slide'>
                                        <picture>
                                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-1.webp' type='image/webp'>
                                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-1.png 2x' type='image/png'>
                                            <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-1.png' width='auto' height='auto' alt='克莉絲汀' title='克莉絲汀' loading='lazy'>
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-4 col-m-2'>
                            <p class='vertical-intro txt-heading'><span>「在妥善、有條理的安排下，</span><br><span>這一點阻礙不會影響計劃進行。」</span></p>
                        </div>
                        <div class='col-10 col-l-5 order-l-first'>
                            <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>艾德神域</h2>
                            <h1 class='character-h1 mb-3'>克莉絲汀<small class='block'>Christine</small></h1>
                            <p class='character-desc txt-lg mb-4 mb-l-5'>除了身為艾德神域的上層階級，克莉絲汀亦是天才般的存在，在色晶能源的研究上擁有有驚人的成就，但令人意外的，克莉絲汀卻甘願加入軍隊，成為一名色晶戰姬，到前線為女教皇賣命。有人說她是為了拯救她心愛的神子而加入軍隊；也有人說她是為了探究色晶的奧秘才成為戰姬。但面對這一切的謠傳，克莉絲汀總是維持她那冷淡高傲的態度不予置評。</p>
                            <p class='txt-subtitle txt-bold character-line'><span>「適切で理にかなった</span><br><span>用意をしていれば、</span><br><span>これしきのことが計画の</span><br><span>妨げになることはない。」</span></p>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0 gy-3'>
                        <div class='col-1 col-l-1'>
                            <div class='swiper-container swiper-character-title'>
                                <div class='swiper-wrapper'>
                                    <div class='swiper-slide'>
                                        <h3 class='txt-vertical character-robot-vertical-name'>Vanquisher</h3>
                                    </div>
                                    <div class='swiper-slide'>
                                        <h3 class='txt-vertical character-robot-vertical-name'>Valkyrie</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-9 col-l-5'>
                            <div class='swiper-container swiper-character-level'>
                                <div class='swiper-wrapper txt-center'>
                                    <div class='swiper-slide txt-center'>
                                        <picture>
                                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-2.webp' type='image/webp'>
                                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-2@2x.png 2x' type='image/png'>
                                            <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-2.png' width='auto' height='auto' alt='征服者' title='征服者' loading='eager'>
                                        </picture>
                                    </div>
                                    <div class='swiper-slide txt-center'>
                                        <picture>
                                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-2.webp' type='image/webp'>
                                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-2@2x.png 2x' type='image/png'>
                                            <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-2.png' width='auto' height='auto' alt='不屈女武神' title='不屈女武神' loading='lazy'>
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-10 col-l-6 mx-auto'>
                            <div class='swiper-container swiper-character-disc'>
                                <div class='swiper-wrapper'>
                                    <div class='swiper-slide'>
                                        <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                        <h3 class='character-robot-name'>征服者</h3>
                                        <p class='txt-lg mb-3 mb-l-4'>以探索者的設計為核心，征服者更強化了其作為戰爭機器的武裝。不僅是裝甲更加厚實，多了旋轉砲塔的設計，讓征服者在快速移動的同時更能360度無死角的提供火力輸出。而升級的色晶核心也同時提供兩尊火炮的能源輸出，讓征服者更是成為艾德戰線的移動死神。然而強化的色晶核心，對於戰姬的天賦與資質也有嚴苛的要求，一般的戰姬在光是要驅動機甲的能源，就已經高潮無數次而昏死在駕駛艙內。除了意志堅定的克莉絲汀外，鮮少有人能夠駕馭征服者。</p>
                                    </div>
                                    <div class='swiper-slide'>
                                        <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                        <h3 class='character-robot-name'>不屈女武神</h3>
                                        <p class='txt-lg mb-3 mb-l-4'>在艾克蘭的洗腦與改造下，克莉絲汀成為胯下玩物的同時，也巨幅提升了她作為色晶戰姬的能力。其性慾所能帶來的色晶能源可以更是強化火炮的輸出火力。為了完全發揮克莉絲汀狂暴的性慾，不屈女武神更是大幅改裝色晶核心以配合巨量的能源產出，甚至為了讓能源輸送更為平均，改動了原先四足的設計，但這並沒有降低其機動性，在這種狂暴的能原量下，不屈女武神甚至可以超越期前繼機甲的機動能力。曾經在戰線中面對過蘭提斯軍隊的士兵私下透露，如果在戰線中有看到女武神的蹤跡，這場戰鬥已經無關勝負，而是關乎能否存活了。</p>
                                    </div>
                                </div>
                            </div>
                            <div class='row justify-center justify-l-start gx-0'>
                                <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                                <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                                <div class='col-4 col-l-2 txt-center'>
                                    <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row gx-0 txt-center'>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='柯菈'>KARLA<span class='float-right'>柯菈</span></a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='克莉絲汀'>CHRISTINE<span class='float-right'>克莉絲汀</span></a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='辛西亞'>XINTHIA<span class='float-right'>辛西亞</span></a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='賽琳娜'>SELINA<span class='float-right'>賽琳娜</span></a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='黎妲'>RITA<span class='float-right'>黎妲</span></a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='喬絲'>JESS<span class='float-right'>喬絲</span></a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='露娜'>LUNA<span class='float-right'>露娜</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>";
            break;
        case Language.zh_CN:
            htmlContetnt = @"<main class='pb-6 gy-6'>
    <div class='container-fluid'>
        <h2 class='page-title'><span class='bg-body block'>登场人物</span><span class='title-bg'>Characters</span></h2>
    </div>
    <article class='container'>
        <div class='fill-container'>
            <div class='row justify-center gx-0'>
                <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
                    <div class='row justify-center gx-0 gy-3'>
                        <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                            <div class='swiper-container swiper-character-img'>
                                <div class='swiper-wrapper'>
                                    <div class='swiper-slide'>
                                        <picture>
                                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-1.webp' type='image/webp'>
                                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-1.png 2x' type='image/png'>
                                            <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-1.png' width='auto' height='auto' alt='克莉丝汀' title='克莉丝汀' loading='eager'>
                                        </picture>
                                    </div>
                                    <div class='swiper-slide'>
                                        <picture>
                                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-1.webp' type='image/webp'>
                                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-1.png 2x' type='image/png'>
                                            <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-1.png' width='auto' height='auto' alt='克莉丝汀' title='克莉丝汀' loading='lazy'>
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-4 col-m-2'>
                            <p class='vertical-intro txt-heading'><span>「在妥善、有条理的安排下，</span><br><span>这一点阻碍不会影响计划进行。」</span></p>
                        </div>
                        <div class='col-10 col-l-5 order-l-first'>
                            <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>艾德神域</h2>
                            <h1 class='character-h1 mb-3'>克莉丝汀<small class='block'>Christine</small></h1>
                            <p class='character-desc txt-lg mb-4 mb-l-5'>除了身为艾德神域的上层阶级，克莉丝汀亦是天才般的存在，在色晶能源的研究上拥有有惊人的成就，但令人意外的，克莉丝汀却甘愿加入军队，成为一名色晶战姬，到前线为女教皇卖命。有人说她是为了拯救她心爱的神子而加入军队；也有人说她是为了探究色晶的奥秘才成为战姬。但面对这一切的谣传，克莉丝汀总是维持她那冷淡高傲的态度不予置评。</p>
                            <p class='txt-subtitle txt-bold character-line'><span>「適切で理にかなった</span><br><span>用意をしていれば、</span><br><span>これしきのことが計画の</span><br><span>妨げになることはない。」</span></p>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0 gy-3'>
                        <div class='col-1 col-l-1'>
                            <div class='swiper-container swiper-character-title'>
                                <div class='swiper-wrapper'>
                                    <div class='swiper-slide'>
                                        <h3 class='txt-vertical character-robot-vertical-name'>Vanquisher</h3>
                                    </div>
                                    <div class='swiper-slide'>
                                        <h3 class='txt-vertical character-robot-vertical-name'>Valkyrie</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-9 col-l-5'>
                            <div class='swiper-container swiper-character-level'>
                                <div class='swiper-wrapper txt-center'>
                                    <div class='swiper-slide txt-center'>
                                        <picture>
                                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-2.webp' type='image/webp'>
                                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-2@2x.png 2x' type='image/png'>
                                            <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-2.png' width='auto' height='auto' alt='征服者' title='征服者' loading='eager'>
                                        </picture>
                                    </div>
                                    <div class='swiper-slide txt-center'>
                                        <picture>
                                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-2.webp' type='image/webp'>
                                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-2@2x.png 2x' type='image/png'>
                                            <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-2.png' width='auto' height='auto' alt='不屈女武神' title='不屈女武神' loading='lazy'>
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-10 col-l-6 mx-auto'>
                            <div class='swiper-container swiper-character-disc'>
                                <div class='swiper-wrapper'>
                                    <div class='swiper-slide'>
                                        <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                        <h3 class='character-robot-name'>征服者</h3>
                                        <p class='txt-lg mb-3 mb-l-4'>以探索者的设计为核心，征服者更强化了其作为战争机器的武装。不仅是装甲更加厚实，多了旋转炮塔的设计，让征服者在快速移动的同时更能360度无死角的提供火力输出。而升级的色晶核心也同时提供两尊火炮的能源输出，让征服者更是成为艾德战线的移动死神。然而强化的色晶核心，对于战姬的天赋与资质也有严苛的要求，一般的战姬在光是要驱动机甲的能源，就已经高潮无数次而昏死在驾驶舱内。除了意志坚定的克莉丝汀外，鲜少有人能够驾驭征服者。</p>
                                    </div>
                                    <div class='swiper-slide'>
                                        <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                        <h3 class='character-robot-name'>不屈女武神</h3>
                                        <p class='txt-lg mb-3 mb-l-4'>在艾克兰的洗脑与改造下，克莉丝汀成为胯下玩物的同时，也巨幅提升了她作为色晶战姬的能力。其性欲所能带来的色晶能源可以更是强化火炮的输出火力。为了完全发挥克莉丝汀狂暴的性欲，不屈女武神更是大幅改装色晶核心以配合巨量的能源产出，甚至为了让能源输送更为平均，改动了原先四足的设计，但这并没有降低其机动性，在这种狂暴的能原量下，不屈女武神甚至可以超越期前继机甲的机动能力。曾经在战线中面对过兰提斯军队的士兵私下透露，如果在战线中有看到女武神的踪迹，这场战斗已经无关胜负，而是关乎能否存活了。</p>
                                    </div>
                                </div>
                            </div>
                            <div class='row justify-center justify-l-start gx-0'>
                                <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                                <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                                <div class='col-4 col-l-2 txt-center'>
                                    <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row gx-0 txt-center'>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='柯菈'>KARLA<span class='float-right'>柯菈</span></a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='克莉丝汀'>CHRISTINE<span class='float-right'>克莉丝汀</span></a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='辛西亚'>XINTHIA<span class='float-right'>辛西亚</span></a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='赛琳娜'>SELINA<span class='float-right'>赛琳娜</span></a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='黎妲'>RITA<span class='float-right'>黎妲</span></a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='乔丝'>JESS<span class='float-right'>乔丝</span></a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='露娜'>LUNA<span class='float-right'>露娜</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>";
            break;
        case Language.en_US:
            htmlContetnt = @"<main class='pb-6 gy-6'>
    <div class='container-fluid'>
        <h2 class='page-title'><span class='bg-body block'>CHARACTERS</span><span class='title-bg txt-body'>Characters</span></h2>
    </div>
    <article class='container'>
        <div class='fill-container'>
            <div class='row justify-center gx-0'>
                <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
                    <div class='row justify-center gx-0 gy-3'>
                        <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                            <div class='swiper-container swiper-character-img'>
                                <div class='swiper-wrapper'>
                                    <div class='swiper-slide'>
                                        <picture>
                                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-1.webp' type='image/webp'>
                                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-1.png 2x' type='image/png'>
                                            <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-1.png' width='auto' height='auto' alt='Christine' title='Christine' loading='eager'>
                                        </picture>
                                    </div>
                                    <div class='swiper-slide'>
                                        <picture>
                                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-1.webp' type='image/webp'>
                                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-1.png 2x' type='image/png'>
                                            <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-1.png' width='auto' height='auto' alt='Christine' title='Christine' loading='lazy'>
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-4 col-m-2'>
                            <p class='en-dialog-container'><span class='en-dialog'><span>AS LONG AS I'M CAREFUL,</span></span><br><span class='en-dialog'><span>EVERYTHING SHOULD</span><br><span>GO ACCORDING TO PLAN.</span></span></p>
                        </div>
                        <div class='col-10 col-l-5 order-l-first'>
                            <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>Republic of Edarhe</h2>
                            <h1 class='character-h1 mb-3'>Christine<small class='block'>クリスティーナ</small></h1>
                            <p class='character-desc txt-lg mb-4 mb-l-5'>Apart from living within the upper echelon of Edarhe life, Christine is also a genius, having achieved numerous accomplishments in the field of Lustite research. Surprisingly, however, was Christine's voluntary participation in the Edarhe National Army, joining up as a Senki, risking her life on the frontlines for the Pope Natia. Some say she joined the fight to rescue the man she loves, a descendant of Edarhe himself; others think she joined up to for the chance to engage in more Lustite research first hand. Whatever the rumors may be, Christine brushes them off with cool indifference, opting to focus on the tasks at hand.</p>
                            <p class='txt-subtitle txt-bold character-line'><span>「適切で理にかなった</span><br><span>用意をしていれば、</span><br><span>これしきのことが計画の</span><br><span>妨げになることはない。」</span></p>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0 gy-3'>
                        <div class='col-1 col-l-1'>
                            <div class='swiper-container swiper-character-title'>
                                <div class='swiper-wrapper'>
                                    <div class='swiper-slide'>
                                        <h3 class='txt-vertical character-robot-vertical-name'>征服者</h3>
                                    </div>
                                    <div class='swiper-slide'>
                                        <h3 class='txt-vertical character-robot-vertical-name'>バルキューレ</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-9 col-l-5'>
                            <div class='swiper-container swiper-character-level'>
                                <div class='swiper-wrapper txt-center'>
                                    <div class='swiper-slide txt-center'>
                                        <picture>
                                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-2.webp' type='image/webp'>
                                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-2@2x.png 2x' type='image/png'>
                                            <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-2.png' width='auto' height='auto' alt='Vanquisher' title='Vanquisher' loading='eager'>
                                        </picture>
                                    </div>
                                    <div class='swiper-slide txt-center'>
                                        <picture>
                                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-2.webp' type='image/webp'>
                                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-2@2x.png 2x' type='image/png'>
                                            <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-2.png' width='auto' height='auto' alt='Valkyrie' title='Valkyrie' loading='lazy'>
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-10 col-l-6 mx-auto'>
                            <div class='swiper-container swiper-character-disc'>
                                <div class='swiper-wrapper'>
                                    <div class='swiper-slide'>
                                        <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                        <h3 class='character-robot-name'>Vanquisher</h3>
                                        <p class='txt-lg mb-3 mb-l-4'>The Vanquisher is based on the Explorer, but is equipped with much-improved offensive and defensive capabilities. The armor is thicker and the cannons rotate 360 degrees. Its upgraded Lustite core also allows for dual cannon fire, giving the Vanquisher top billing as the Republic of Edarhe's main killing machine. That said, the upgraded capabilities and energy output asks a lot from its senki, making the seasoned Christine the only capable senki for the job.</p>
                                    </div>
                                    <div class='swiper-slide'>
                                        <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                        <h3 class='character-robot-name'>Valkyrie</h3>
                                        <p class='txt-lg mb-3 mb-l-4'>Brainwashed by Ekram himself, as Christine turned from scientist to bone-fide sex puppet, her skills as a senki also increased exponentially, her sexual energy output able to enhance cannon fire beyond expected power levels. In order to better utilize this immense power, the Valkyrie was created with an even larger Lustite core, able to harness massive amounts of sexual energy. The Valkyrie has also changed from four-footed back to the more standardized two-legged version, although thanks to Christine's experience on the field, no mobility has been sacrificed. As any Lantisian survivers can attest to, if the Valkyrie shows up during a battle, that battle is already lost. Then, the new goal isn't victory, but survival.</p>
                                    </div>
                                </div>
                            </div>
                            <div class='row justify-center justify-l-start gx-0'>
                                <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                                <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                                <div class='col-4 col-l-2 txt-center'>
                                    <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row gx-0 txt-center'>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='KARLA'>KARLA</a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='CHRISTINE'>CHRISTINE</a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='XINTHIA'>XINTHIA</a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='SELINA'>SELINA</a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='RITA'>RITA</a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='JESS'>JESS</a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='LUNA'>LUNA</a></div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>";
            break;
        case Language.ja_JP:
            htmlContetnt = @"<main class='pb-6 gy-6'>
    <div class='container-fluid'>
        <h2 class='page-title'><span class='bg-body block'>登場人物</span><span class='title-bg'>Characters</span></h2>
    </div>
    <article class='container'>
        <div class='fill-container'>
            <div class='row justify-center gx-0'>
                <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
                    <div class='row justify-center gx-0 gy-3'>
                        <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                            <div class='swiper-container swiper-character-img'>
                                <div class='swiper-wrapper'>
                                    <div class='swiper-slide'>
                                        <picture>
                                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-1.webp' type='image/webp'>
                                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-1.png 2x' type='image/png'>
                                            <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-1.png' width='auto' height='auto' alt='クリスティーナ' title='クリスティーナ' loading='eager'>
                                        </picture>
                                    </div>
                                    <div class='swiper-slide'>
                                        <picture>
                                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-1.webp' type='image/webp'>
                                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-1.png 2x' type='image/png'>
                                            <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-1.png' width='auto' height='auto' alt='クリスティーナ' title='クリスティーナ' loading='lazy'>
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-4 col-m-2'>
                            <p class='vertical-intro txt-heading'><span>「適切で理にかなった用意をしていれば、</span><br><span>これしきのことが計画の妨げになることはない。」</span></p>
                        </div>
                        <div class='col-10 col-l-5 order-l-first'>
                            <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>エド神域</h2>
                            <h1 class='character-h1 mb-3'>クリスティーナ<small class='block'>Christine</small></h1>
                            <p class='character-desc txt-lg mb-4 mb-l-5'>エド神域の上層階級にいるクリスティーナは、天才的な存在でクリスタルコアの研究でも素晴らしい功績を上げている。そんな彼女は意外なことに、軍に自ら入隊し一人のクリスタル戦姫として、第一線で女教皇のため命がけで戦っている。ある人は、彼女は愛しき神子を救うために入隊したという。またある人は、クリスタルに秘められた謎を探求するために入隊したという。そんなクリスティーナは、人々の噂を気にも留めず、いつも常に冷淡で傲慢な態度を貫いている。</p>
                            <p class='txt-subtitle txt-bold character-line'><span>「適切で理にかなった</span><br><span>用意をしていれば、</span><br><span>これしきのことが計画の</span><br><span>妨げになることはない。」</span></p>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0 gy-3'>
                        <div class='col-1 col-l-1'>
                            <div class='swiper-container swiper-character-title'>
                                <div class='swiper-wrapper'>
                                    <div class='swiper-slide'>
                                        <h3 class='txt-vertical character-robot-vertical-name'>Vanquisher</h3>
                                    </div>
                                    <div class='swiper-slide'>
                                        <h3 class='txt-vertical character-robot-vertical-name'>Valkyrie</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-9 col-l-5'>
                            <div class='swiper-container swiper-character-level'>
                                <div class='swiper-wrapper txt-center'>
                                    <div class='swiper-slide txt-center'>
                                        <picture>
                                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-2.webp' type='image/webp'>
                                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-2@2x.png 2x' type='image/png'>
                                            <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-2.png' width='auto' height='auto' alt='征服者' title='征服者' loading='eager'>
                                        </picture>
                                    </div>
                                    <div class='swiper-slide txt-center'>
                                        <picture>
                                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-2.webp' type='image/webp'>
                                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-2@2x.png 2x' type='image/png'>
                                            <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-2.png' width='auto' height='auto' alt='バルキューレ' title='バルキューレ' loading='lazy'>
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-10 col-l-6 mx-auto'>
                            <div class='swiper-container swiper-character-disc'>
                                <div class='swiper-wrapper'>
                                    <div class='swiper-slide'>
                                        <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                        <h3 class='character-robot-name'>征服者</h3>
                                        <p class='txt-lg mb-3 mb-l-4'>征服者は探索者の設計を元に強化され、戦争用武装を備えている。装甲の厚みが増し、回転する砲塔が追加されている。そのため征服者は高速移動ができるだけでなく、360度死角がない。またクリスタルコアの性能も上がり、2つの大砲に十分エネルギー供給ができ、エド戦線では移動する死神と呼ばれるほどの活躍をみせた。だがクリスタルコアを強化するに伴い、戦姫にも才能や資質に高い要求が必要とされた。普通の戦姫ならばギアを駆動させるエネルギーを作り出すだけで、何度も絶頂を迎えコックピットで気絶するほどである。強い意思を持つクリスティーナ以外には征服者を乗りこなすのは難しいだろう。</p>
                                    </div>
                                    <div class='swiper-slide'>
                                        <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                        <h3 class='character-robot-name'>バルキューレ</h3>
                                        <p class='txt-lg mb-3 mb-l-4'>アクランに洗脳と改造をされ、性のおもちゃと化したクリスティーナは強大なクリスタル戦姫の能力を手にした。その性欲のもたらすクリスタルエネルギーは火砲の火力をさらに強力なものにする。バルキューレのクリスタルコアはクリスティーナの狂暴な性欲を掻き立て、大量のエネルギーを産出できるよう大幅に改造されている。さらにはエネルギーの補給を安定的にできるよう、四脚歩行の設計までも見直しが行われた。機動性が下がるどころか、爆発的なエネルギーの状況下でもバルキューレは先行機を超える機動能力を有している。かつて戦線のランティス軍兵士がひそかに「バルキューレを見かけたら、その戦いにはもう勝負なんて関係ない。生き残れるかどうかだ」と明かした。</p>
                                    </div>
                                </div>
                            </div>
                            <div class='row justify-center justify-l-start gx-0'>
                                <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                                <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                                <div class='col-4 col-l-2 txt-center'>
                                   <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row gx-0 txt-center'>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='カーラ'>カーラ</a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='クリスティーナ'>クリスティーナ</a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='シンシア'>シンシア</a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='サリーナ'>サリーナ</a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='リタ'>リタ</a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='チャズ'>チャズ</a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='ルナ'>ルナ</a></div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>";
            break;
        case Language.ko_KR:
            htmlContetnt = @"<main class='pb-6 gy-6'>
    <div class='container-fluid'>
        <h2 class='page-title'><span class='bg-body block'>등장인물</span><span class='title-bg'>Characters</span></h2>
    </div>
    <article class='container'>
        <div class='fill-container'>
            <div class='row justify-center gx-0'>
                <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
                    <div class='row justify-center gx-0 gy-3'>
                        <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                            <div class='swiper-container swiper-character-img'>
                                <div class='swiper-wrapper'>
                                    <div class='swiper-slide'>
                                        <picture>
                                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-1.webp' type='image/webp'>
                                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-1.png 2x' type='image/png'>
                                            <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-1.png' width='auto' height='auto' alt='크리스틴' title='크리스틴' loading='eager'>
                                        </picture>
                                    </div>
                                    <div class='swiper-slide'>
                                        <picture>
                                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-1.webp' type='image/webp'>
                                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-1.png 2x' type='image/png'>
                                            <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-1.png' width='auto' height='auto' alt='크리스틴' title='크리스틴' loading='lazy'>
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-4 col-m-2'>
                            <p class='vertical-intro txt-heading'><span>「완벽하고 확실하게만 준비한다면</span><br><span>이런 장애 쯤은 우리 계획에</span><br><span>아무런 지장도 줄 수 없다」</span></p>
                        </div>
                        <div class='col-10 col-l-5 order-l-first'>
                            <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>에드 성역</h2>
                            <h1 class='character-h1 mb-3'>크리스틴<small class='block'>Christine</small></h1>
                            <p class='character-desc txt-lg mb-4 mb-l-5'>에드 신역의 고위층인 크리스틴은 천재적인 두뇌로 크리스탈 에너지 연구에 놀랄 만한 공을 세웠다. 그런 그녀는 모두의 예상을 뒤엎고 군에 자진 입대하여 한 명의 크리스털 전희로서 여교황을 위해 최전선에서 목숨을 걸고 싸우고 있다. 어떤 이는 그녀가 사랑하는 신자(신의 아들)를 위해 군에 입대했다고 말하고 어떤 이는 그녀가 크리스탈 심층 연구를 위해 자진해서 전희가 되었다고 말하기도 한다. 하지만 이러한 소문에도 크리스틴은 아랑곳 않고 평소의 모습처럼 오만하고 냉랭한 태도로 일관하고 있다.</p>
                            <p class='txt-subtitle txt-bold character-line'><span>「適切で理にかなった</span><br><span>用意をしていれば、</span><br><span>これしきのことが計画の</span><br><span>妨げになることはない。」</span></p>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0 gy-3'>
                        <div class='col-1 col-l-1'>
                            <div class='swiper-container swiper-character-title'>
                                <div class='swiper-wrapper'>
                                    <div class='swiper-slide'>
                                        <h3 class='txt-vertical character-robot-vertical-name'>征服者</h3>
                                    </div>
                                    <div class='swiper-slide'>
                                        <h3 class='txt-vertical character-robot-vertical-name'>Valkyrie</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-9 col-l-5'>
                            <div class='swiper-container swiper-character-level'>
                                <div class='swiper-wrapper txt-center'>
                                    <div class='swiper-slide txt-center'>
                                        <picture>
                                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-2.webp' type='image/webp'>
                                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-2@2x.png 2x' type='image/png'>
                                            <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-sr-2.png' width='auto' height='auto' alt='정복자' title='정복자' loading='eager'>
                                        </picture>
                                    </div>
                                    <div class='swiper-slide txt-center'>
                                        <picture>
                                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-2.webp' type='image/webp'>
                                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-2@2x.png 2x' type='image/png'>
                                            <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-ssr-2.png' width='auto' height='auto' alt='성녀 강림' title='성녀 강림' loading='lazy'>
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-10 col-l-6 mx-auto'>
                            <div class='swiper-container swiper-character-disc'>
                                <div class='swiper-wrapper'>
                                    <div class='swiper-slide'>
                                        <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                        <h3 class='character-robot-name'>정복자</h3>
                                        <p class='txt-lg mb-3 mb-l-4'>정복자는 탐색자의 코어를 기반으로 강화된 전장용 무장 병기이다. 뚜거운 장갑과 회전식 포탑이 장착됐으며 고속 이동이 가능할 뿐만 아니라 360도 사각지대 없이 대응 사격이 가능하다. 크리스탈 코어 또한 업그레이드되어 동시에 2개의 화포 출력을 감당할 수 있어 에드 전선에서 전장 위를 걸어다니는 사신이란 별명이 붙게 되었다. 하지만 강력한 크리스탈 코어는 전희의 천부적인 자질과 재능이 요구된다. 일반 전희라면 기어를 가동시키는 에너지를 만들어내는 것만으로도 여러번 절정을 맞이해 조종석 안에서 혼절해버리는 일이 부지기수다. 강인한 정신력을 지닌 크리스틴 이외에는 정복자의 파일럿이 될 인물이 거의 없다고 봐도 무방하다.</p>
                                    </div>
                                    <div class='swiper-slide'>
                                        <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                        <h3 class='character-robot-name'>성녀 강림</h3>
                                        <p class='txt-lg mb-3 mb-l-4'>애클랜드의 세뇌와 개조로 인해 크리스틴은 철저한 노리갯감으로 전락해버림과 동시에 막강한 크리스탈 전희의 능력을 얻게되었다. 엄청난 성욕이 가져다주는 크리스탈 에너지는 캐논의 화력을 더욱 강력하게 만든다. 발키리는 크리스틴의 광포한 성욕을 완전히 해방하여 크리스탈 코어가 대량의 에너지를 생산할 수 있도록 대폭 개조되었고 보통의 에너지 공급량만으로도 기동성을 잃지 않을 수 있도록 4족 보행 타입을 유지했다. 오히려 폭발하는 에너지로 인해 이전 모델의 기동력을 훨씬 상회하고 있다. 전장에서 란티스군을 상대했던 병사 한 명이 이런 말을 했었다고 한다. &quot;발키리의 모습이 보이는 순간, 그 전투는 더이상 승패의 문제가 아니다. 오로지 그곳에서 살아남을 방법만 생각해야 한다 .&quot;</p>
                                    </div>
                                </div>
                            </div>
                            <div class='row justify-center justify-l-start gx-0'>
                                <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                                <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                                <div class='col-4 col-l-2 txt-center'>
                                    <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row gx-0 txt-center'>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='코라'>KARLA<span class='float-right'>코라</span></a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='크리스틴'>CHRISTINE<span class='float-right'>크리스틴</span></a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='신시아'>XINTHIA<span class='float-right'>신시아</span></a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='셀레나'>SELINA<span class='float-right'>셀레나</span></a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='릴다'>RITA<span class='float-right'>릴다</span></a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='조스'>JESS<span class='float-right'>조스</span></a></div>
                        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='루나'>LUNA<span class='float-right'>루나</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>";
            break;
    }
}
@Html.Raw(htmlContetnt)

<div class="modal fade" id="character-modal" tabindex="-1" aria-labelledby="character-modalLabel" style="display: none;" aria-hidden="true"><div class="modal-dialog modal-xl"><div class="modal-content"><div class="modal-body"><button class="close txt-primary" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button><video class="img-fluid block mx-auto" id="character-video" preload loop playsinline muted autoplay><source id="character-video-source" src="https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/christine.mp4" type="video/mp4"></video></div></div></div></div>

