﻿@using PinkCore.Models.Cmind
@model PinkCore.Areas.Darakugear.ViewModels.Characters.CharactersView
@{
    var htmlContent = "";
    switch (Model.Language)
    {
        case Language.zh_TW:
            htmlContent = @"<section class='pb-2p gy-4 gy-l-6'>
<div class='container-fluid'>
<h1 class='page-title'><span class='bg-body block'>"+ PinkCore.Resources._Layout.Index.CharactersMenu +@"</span><span class='feature-2 title-bg'>Characters</span></h1>
</div>
<div class='container'>
<div class='row gx-0 gy-3 bg-charaters-left'>
    <div class='col-12 col-m-2 col-xl-auto mr-xl-5'>
        <h2 class='txt-vertical vertical-title'>艾德神域<span class='block'>Republic of Edarhe</span></h2>
    </div>
    <div class='col-12 col-m-10 col-xl'>
        <div class='row wrap-0 wrap-1-l gx-l-0 character-row'>
            <div class='col-auto character-col col-ml-3 col-ml-l-0 active'>
                <a class='stretched-link' href='/Darakugear/zh-TW/Characters/Xinthia' title='辛西亞'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia.png' width='auto' height='600' alt='辛西亞' title='辛西亞' loading='eager'></a>
                <div class='character-tag'>
                    <div class='character-name'>
                        <p>智天使</p>
                        <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/zh-TW/Characters/Xinthia' title='辛西亞'>辛西亞</a></h3>
                    </div>
                    <span class='character-field'>Republic of Edarhe</span>
                </div>
                <div class='position'></div>
            </div>
            <div class='col-auto character-col z-top -mx-xl-3'>
                <a class='stretched-link' href='/Darakugear/zh-TW/Characters/Christine' title='克莉絲汀'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine.png' width='auto' height='600' alt='克莉絲汀' title='克莉絲汀' loading='eager'></a>
                <div class='character-tag'>
                    <div class='character-name'>
                        <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/zh-TW/Characters/Christine' title='克莉絲汀'>克莉絲汀</a></h3>
                    </div>
                    <span class='character-field'>Republic of Edarhe</span>
                </div>
                <div class='position'></div>
            </div>
            <div class='col-auto character-col col-mr-3 col-mr-l-0'>
                <a class='stretched-link' href='/Darakugear/zh-TW/Characters/Karla' title='柯菈'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla.png' width='auto' height='600' alt='柯菈' title='柯菈' loading='eager'></a>
                <div class='character-tag'>
                    <div class='character-name'>
                        <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/zh-TW/Characters/Karla' title='柯菈'>柯菈</a></h3>
                    </div>
                    <span class='character-field'>Republic of Edarhe</span>
                </div>
                <div class='position'></div>
            </div>
        </div>
    </div>
</div>
<div class='row gx-0 gy-3 bg-charaters-center'>
    <div class='col-12 col-m-2 col-xl-auto order-m-last'>
        <h2 class='txt-vertical vertical-title'>庫爾特神域<span class='block'>Kur'tania</span></h2>
    </div>
    <div class='col-12 col-m-10 col-xl'>
        <div class='row wrap-0 wrap-1-l gx-l-0 character-row'>
            <div class='col-auto character-col col-ml-3 col-ml-l-0 active'>
                <a class='stretched-link' href='/Darakugear/zh-TW/Characters/Selina' title='賽琳娜'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina.png' width='auto' height='600' alt='賽琳娜' title='賽琳娜' loading='eager'></a>
                <div class='character-tag'>
                    <div class='character-name'>
                        <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/zh-TW/Characters/Selina' title='賽琳娜'>賽琳娜</a></h3>
                    </div>
                    <span class='character-field'>Kur'tania</span>
                </div>
            </div>
            <div class='col-auto character-col -mx-l-5 z-top'>
                <a class='stretched-link' href='/Darakugear/zh-TW/Characters/Rita' title='黎妲'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita.png' width='auto' height='600' alt='黎妲' title='黎妲' loading='eager'></a>
                <div class='character-tag'>
                    <div class='character-name'>
                        <p>狂犬</p>
                        <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/zh-TW/Characters/Rita' title='黎妲'>黎妲</a></h3>
                    </div>
                    <span class='character-field'>Kur'tania</span>
                </div>
            </div>
            <div class='col-auto character-col col-mr-3 col-mr-l-0 -mr-l-1 -mr-xl-6'>
                <a class='stretched-link' href='/Darakugear/zh-TW/Characters/Jess' title='喬絲'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess.png' width='auto' height='600' alt='喬絲' title='喬絲' loading='eager'></a>
                <div class='character-tag'>
                    <div class='character-name'>
                        <p>獵犬</p>
                        <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/zh-TW/Characters/Jess' title='喬絲'>喬絲</a></h3>
                    </div>
                    <span class='character-field'>Kur'tania</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='row gx-0 gy-3 bg-charaters-right'>
    <div class='col-12 col-m-2 col-xl-auto mr-xl-5'>
        <h2 class='txt-vertical vertical-title'>東奧鷹聯邦<span class='block'>East Oen Federation</span></h2>
    </div>
    <div class='col-12 col-m-10 col-xl'>
        <div class='row justify-center character-row'>
            <div class='col-auto character-col active'>
                <a class='stretched-link' href='/Darakugear/zh-TW/Characters/Luna' title='露娜'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna.png' width='auto' height='600' alt='露娜' title='露娜' loading='eager'></a>
                <div class='character-tag'>
                    <div class='character-name'>
                        <p>巨砲</p>
                        <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/zh-TW/Characters/Luna' title='露娜'>露娜</a></h3>
                    </div>
                    <span class='character-field'>East Oen Federation</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>";
            break;
        case Language.zh_CN:
            htmlContent = @"<section class='pb-2p gy-4 gy-l-6'>
<div class='container-fluid'>
<h1 class='page-title'><span class='bg-body block'>" + PinkCore.Resources._Layout.Index.CharactersMenu + @"</span><span class='feature-2 title-bg'>Characters</span></h1>
</div>
<div class='container'>
<div class='row gx-0 gy-3 bg-charaters-left'>
<div class='col-12 col-m-2 col-xl-auto mr-xl-5'>
<h2 class='txt-vertical vertical-title'>艾德神域<span class='block'>Republic of Edarhe</span></h2>
</div>
<div class='col-12 col-m-10 col-xl'>
<div class='row wrap-0 wrap-1-l gx-l-0 character-row'>
    <div class='col-auto character-col col-ml-3 col-ml-l-0 active'>
        <a class='stretched-link' href='/Darakugear/zh-CN/Characters/Xinthia' title='辛西亚'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia.png' width='auto' height='600' alt='辛西亚' title='辛西亚' loading='eager'></a>
        <div class='character-tag'>
            <div class='character-name'>
                <p>智天使</p>
                <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/zh-CN/Characters/Xinthia' title='辛西亚'>辛西亚</a></h3>
            </div>
            <span class='character-field'>Republic of Edarhe</span>
        </div>
        <div class='position'></div>
    </div>
    <div class='col-auto character-col z-top -mx-xl-3'>
        <a class='stretched-link' href='/Darakugear/zh-CN/Characters/Christine' title='克莉丝汀'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine.png' width='auto' height='600' alt='克莉丝汀' title='克莉丝汀' loading='eager'></a>
        <div class='character-tag'>
            <div class='character-name'>
                <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/zh-CN/Characters/Christine' title='克莉丝汀'>克莉丝汀</a></h3>
            </div>
            <span class='character-field'>Republic of Edarhe</span>
        </div>
        <div class='position'></div>
    </div>
    <div class='col-auto character-col col-mr-3 col-mr-l-0'>
        <a class='stretched-link' href='/Darakugear/zh-CN/Characters/Karla' title='柯菈'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla.png' width='auto' height='600' alt='柯菈' title='柯菈' loading='eager'></a>
        <div class='character-tag'>
            <div class='character-name'>
                <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/zh-CN/Characters/Karla' title='柯菈'>柯菈</a></h3>
            </div>
            <span class='character-field'>Republic of Edarhe</span>
        </div>
        <div class='position'></div>
    </div>
</div>
</div>
</div>
<div class='row gx-0 gy-3 bg-charaters-center'>
<div class='col-12 col-m-2 col-xl-auto order-m-last'>
<h2 class='txt-vertical vertical-title'>库尔特神域<span class='block'>Kur'tania</span></h2>
</div>
<div class='col-12 col-m-10 col-xl'>
<div class='row wrap-0 wrap-1-l gx-l-0 character-row'>
    <div class='col-auto character-col col-ml-3 col-ml-l-0 active'>
        <a class='stretched-link' href='/Darakugear/zh-CN/Characters/Selina' title='赛琳娜'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina.png' width='auto' height='600' alt='赛琳娜' title='赛琳娜' loading='eager'></a>
        <div class='character-tag'>
            <div class='character-name'>
                <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/zh-CN/Characters/Selina' title='赛琳娜'>赛琳娜</a></h3>
            </div>
            <span class='character-field'>Kur'tania</span>
        </div>
    </div>
    <div class='col-auto character-col -mx-l-5 z-top'>
        <a class='stretched-link' href='/Darakugear/zh-CN/Characters/Rita' title='黎妲'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita.png' width='auto' height='600' alt='黎妲' title='黎妲' loading='eager'></a>
        <div class='character-tag'>
            <div class='character-name'>
                <p>狂犬</p>
                <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/zh-CN/Characters/Rita' title='黎妲'>黎妲</a></h3>
            </div>
            <span class='character-field'>Kur'tania</span>
        </div>
    </div>
    <div class='col-auto character-col col-mr-3 col-mr-l-0 -mr-l-1 -mr-xl-6'>
        <a class='stretched-link' href='/Darakugear/zh-CN/Characters/Jess' title='乔丝'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess.png' width='auto' height='600' alt='乔丝' title='乔丝' loading='eager'></a>
        <div class='character-tag'>
            <div class='character-name'>
                <p>猎犬</p>
                <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/zh-CN/Characters/Jess' title='乔丝'>乔丝</a></h3>
            </div>
            <span class='character-field'>Kur'tania</span>
        </div>
    </div>
</div>
</div>
</div>
<div class='row gx-0 gy-3 bg-charaters-right'>
<div class='col-12 col-m-2 col-xl-auto mr-xl-5'>
<h2 class='txt-vertical vertical-title'>东奥鹰联邦<span class='block'>East Oen Federation</span></h2>
</div>
<div class='col-12 col-m-10 col-xl'>
<div class='row justify-center character-row'>
    <div class='col-auto character-col active'>
        <a class='stretched-link' href='/Darakugear/zh-CN/Characters/Luna' title='露娜'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna.png' width='auto' height='600' alt='露娜' title='露娜' loading='eager'></a>
        <div class='character-tag'>
            <div class='character-name'>
                <p>巨炮</p>
                <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/zh-CN/Characters/Luna' title='露娜'>露娜</a></h3>
            </div>
            <span class='character-field'>East Oen Federation</span>
        </div>
    </div>
</div>
</div>
</div>
</div>
</section>";
            break;
        case Language.en_US:
            htmlContent = @"<section class='pb-2p gy-4 gy-l-6'>
<div class='container-fluid'>
<h1 class='page-title'><span class='bg-body block'>" + PinkCore.Resources._Layout.Index.CharactersMenu + @"</span><span class='feature-2 title-bg txt-body'>Characters</span></h1>
</div>
<div class='container'>
<div class='row gx-0 gy-3 bg-charaters-left'>
    <div class='col-12 col-m-2 col-xl-auto mr-xl-5'>
        <h2 class='txt-vertical vertical-title'>Republic of Edarhe</h2>
    </div>
    <div class='col-12 col-m-10 col-xl'>
        <div class='row wrap-0 wrap-1-l gx-l-0 character-row'>
            <div class='col-auto character-col col-ml-3 col-ml-l-0 active'>
                <a class='stretched-link' href='/Darakugear/en-US/Characters/Xinthia' title='Xinthia'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia.png' width='auto' height='600' alt='Xinthia' title='Xinthia' loading='eager'></a>
                <div class='character-tag'>
                    <div class='character-name'>
                        <p>Cherub</p>
                        <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/en-US/Characters/Xinthia' title='Xinthia'>Xinthia</a></h3>
                    </div>
                    <span class='character-field'>Republic of Edarhe</span>
                </div>
                <div class='position'></div>
            </div>
            <div class='col-auto character-col z-top -mx-xl-3'>
                <a class='stretched-link' href='/Darakugear/en-US/Characters/Christine' title='Christine'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine.png' width='auto' height='600' alt='Christine' title='Christine' loading='eager'></a>
                <div class='character-tag'>
                    <div class='character-name'>
                        <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/en-US/Characters/Christine' title='Christine'>Christine</a></h3>
                    </div>
                    <span class='character-field'>Republic of Edarhe</span>
                </div>
                <div class='position'></div>
            </div>
            <div class='col-auto character-col col-mr-3 col-mr-l-0'>
                <a class='stretched-link' href='/Darakugear/en-US/Characters/Karla' title='Karla'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla.png' width='auto' height='600' alt='Karla' title='Karla' loading='eager'></a>
                <div class='character-tag'>
                    <div class='character-name'>
                        <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/en-US/Characters/Karla' title='Karla'>Karla</a></h3>
                    </div>
                    <span class='character-field'>Republic of Edarhe</span>
                </div>
                <div class='position'></div>
            </div>
        </div>
    </div>
</div>
<div class='row gx-0 gy-3 bg-charaters-center'>
    <div class='col-12 col-m-2 col-xl-auto order-m-last'>
        <h2 class='txt-vertical vertical-title'>Kur'tania</h2>
    </div>
    <div class='col-12 col-m-10 col-xl'>
        <div class='row wrap-0 wrap-1-l gx-l-0 character-row'>
            <div class='col-auto character-col col-ml-3 col-ml-l-0 active'>
                <a class='stretched-link' href='/Darakugear/en-US/Characters/Selina' title='Selina'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina.png' width='auto' height='600' alt='Selina' title='Selina' loading='eager'></a>
                <div class='character-tag'>
                    <div class='character-name'>
                        <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/en-US/Characters/Selina' title='Selina'>Selina</a></h3>
                    </div>
                    <span class='character-field'>Kur'tania</span>
                </div>
            </div>
            <div class='col-auto character-col -mx-l-5 z-top'>
                <a class='stretched-link' href='/Darakugear/en-US/Characters/Rita' title='Rita'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita.png' width='auto' height='600' alt='Rita' title='Rita' loading='eager'></a>
                <div class='character-tag'>
                    <div class='character-name'>
                        <p>Mad Dog</p>
                        <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/en-US/Characters/Rita' title='Rita'>Rita</a></h3>
                    </div>
                    <span class='character-field'>Kur'tania</span>
                </div>
            </div>
            <div class='col-auto character-col col-mr-3 col-mr-l-0 -mr-l-1 -mr-xl-6'>
                <a class='stretched-link' href='/Darakugear/en-US/Characters/Jess' title='Jess'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess.png' width='auto' height='600' alt='Jess' title='Jess' loading='eager'></a>
                <div class='character-tag'>
                    <div class='character-name'>
                        <p>Tracker Hound</p>
                        <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/en-US/Characters/Jess' title='Jess'>Jess</a></h3>
                    </div>
                    <span class='character-field'>Kur'tania</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='row gx-0 gy-3 bg-charaters-right'>
    <div class='col-12 col-m-2 col-xl-auto mr-xl-5'>
        <h2 class='txt-vertical vertical-title'>East Oen Federation</h2>
    </div>
    <div class='col-12 col-m-10 col-xl'>
        <div class='row justify-center character-row'>
            <div class='col-auto character-col active'>
                <a class='stretched-link' href='/Darakugear/en-US/Characters/Luna' title='Luna'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna.png' width='auto' height='600' alt='Luna' title='Luna' loading='eager'></a>
                <div class='character-tag'>
                    <div class='character-name'>
                        <p>Mega Blast</p>
                        <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/en-US/Characters/Luna' title='Luna'>Luna</a></h3>
                    </div>
                    <span class='character-field'>East Oen Federation</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>";
            break;
        case Language.ja_JP:
            htmlContent = @"<section class='pb-2p gy-4 gy-l-6'>
    <div class='container-fluid'>
        <h1 class='page-title'><span class='bg-body block'>" + PinkCore.Resources._Layout.Index.CharactersMenu + @"</span><span class='feature-2 title-bg'>Characters</span></h1>
    </div>
    <div class='container'>
        <div class='row gx-0 gy-3 bg-charaters-left'>
            <div class='col-12 col-m-2 col-xl-auto mr-xl-5'>
                <h2 class='txt-vertical vertical-title'>エド神域<span class='block'>Republic of Edarhe</span></h2>
            </div>
            <div class='col-12 col-m-10 col-xl'>
                <div class='row wrap-0 wrap-1-l gx-l-0 character-row'>
                    <div class='col-auto character-col col-ml-3 col-ml-l-0 active'>
                        <a class='stretched-link' href='/Darakugear/ja-JP/Characters/Xinthia' title='シンシア'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia.png' width='auto' height='600' alt='シンシア' title='シンシア' loading='eager'></a>
                        <div class='character-tag'>
                            <div class='character-name'>
                                <p>智天使</p>
                                <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/ja-JP/Characters/Xinthia' title='シンシア'>シンシア</a></h3>
                            </div>
                            <span class='character-field'>Republic of Edarhe</span>
                        </div>
                        <div class='position'></div>
                    </div>
                    <div class='col-auto character-col z-top -mx-xl-3'>
                        <a class='stretched-link' href='/Darakugear/ja-JP/Characters/Christine' title='クリスティーナ'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine.png' width='auto' height='600' alt='クリスティーナ' title='クリスティーナ' loading='eager'></a>
                        <div class='character-tag'>
                            <div class='character-name'>
                                <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/ja-JP/Characters/Christine' title='クリスティーナ'>クリスティーナ</a></h3>
                            </div>
                            <span class='character-field'>Republic of Edarhe</span>
                        </div>
                        <div class='position'></div>
                    </div>
                    <div class='col-auto character-col col-mr-3 col-mr-l-0'>
                        <a class='stretched-link' href='/Darakugear/ja-JP/Characters/Karla' title='カーラ'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla.png' width='auto' height='600' alt='カーラ' title='カーラ' loading='eager'></a>
                        <div class='character-tag'>
                            <div class='character-name'>
                                <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/ja-JP/Characters/Karla' title='カーラ'>カーラ</a></h3>
                            </div>
                            <span class='character-field'>Republic of Edarhe</span>
                        </div>
                        <div class='position'></div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row gx-0 gy-3 bg-charaters-center'>
            <div class='col-12 col-m-2 col-xl-auto order-m-last'>
                <h2 class='txt-vertical vertical-title'>クルト神域<span class='block'>Kur'tania</span></h2>
            </div>
            <div class='col-12 col-m-10 col-xl'>
                <div class='row wrap-0 wrap-1-l gx-l-0 character-row'>
                    <div class='col-auto character-col col-ml-3 col-ml-l-0 active'>
                        <a class='stretched-link' href='/Darakugear/ja-JP/Characters/Selina' title='サリーナ'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina.png' width='auto' height='600' alt='サリーナ' title='サリーナ' loading='eager'></a>
                        <div class='character-tag'>
                            <div class='character-name'>
                                <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/ja-JP/Characters/Selina' title='サリーナ'>サリーナ</a></h3>
                            </div>
                            <span class='character-field'>Kur'tania</span>
                        </div>
                    </div>
                    <div class='col-auto character-col -mx-l-5 z-top'>
                        <a class='stretched-link' href='/Darakugear/ja-JP/Characters/Rita' title='リタ'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita.png' width='auto' height='600' alt='リタ' title='リタ' loading='eager'></a>
                        <div class='character-tag'>
                            <div class='character-name'>
                                <p>狂犬</p>
                                <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/ja-JP/Characters/Rita' title='リタ'>リタ</a></h3>
                            </div>
                            <span class='character-field'>Kur'tania</span>
                        </div>
                    </div>
                    <div class='col-auto character-col col-mr-3 col-mr-l-0 -mr-l-1 -mr-xl-6'>
                        <a class='stretched-link' href='/Darakugear/ja-JP/Characters/Jess' title='チャズ'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess.png' width='auto' height='600' alt='チャズ' title='チャズ' loading='eager'></a>
                        <div class='character-tag'>
                            <div class='character-name'>
                                <p>猟犬</p>
                                <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/ja-JP/Characters/Jess' title='チャズ'>チャズ</a></h3>
                            </div>
                            <span class='character-field'>Kur'tania</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row gx-0 gy-3 bg-charaters-right'>
            <div class='col-12 col-m-2 col-xl-auto mr-xl-5'>
                <h2 class='txt-vertical vertical-title'>東ファルコン連邦<span class='block'>East Oen Federation</span></h2>
            </div>
            <div class='col-12 col-m-10 col-xl'>
                <div class='row justify-center character-row'>
                    <div class='col-auto character-col active'>
                        <a class='stretched-link' href='/Darakugear/ja-JP/Characters/Luna' title='ルナ'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna.png' width='auto' height='600' alt='ルナ' title='ルナ' loading='eager'></a>
                        <div class='character-tag'>
                            <div class='character-name'>
                                <p>カノン砲</p>
                                <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/ja-JP/Characters/Luna' title='ルナ'>ルナ</a></h3>
                            </div>
                            <span class='character-field'>East Oen Federation</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>";
            break;
        case Language.ko_KR:
            htmlContent = @"<section class='pb-2p gy-4 gy-l-6'>
    <div class='container-fluid'>
        <h1 class='page-title'><span class='bg-body block'>" + PinkCore.Resources._Layout.Index.CharactersMenu + @"</span><span class='feature-2 title-bg'>Characters</span></h1>
    </div>
    <div class='container'>
        <div class='row gx-0 gy-3 bg-charaters-left'>
            <div class='col-12 col-m-2 col-xl-auto mr-xl-5'>
                <h2 class='txt-vertical vertical-title'>에드 성역<span class='block'>Republic of Edarhe</span></h2>
            </div>
            <div class='col-12 col-m-10 col-xl'>
                <div class='row wrap-0 wrap-1-l gx-l-0 character-row'>
                    <div class='col-auto character-col col-ml-3 col-ml-l-0 active'>
                        <a class='stretched-link' href='/Darakugear/ko-KR/Characters/Xinthia' title='신시아'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia.png' width='auto' height='600' alt='신시아' title='신시아' loading='eager'></a>
                        <div class='character-tag'>
                            <div class='character-name'>
                                <p>지천사</p>
                                <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/ko-KR/Characters/Xinthia' title='신시아'>신시아</a></h3>
                            </div>
                            <span class='character-field'>Republic of Edarhe</span>
                        </div>
                        <div class='position'></div>
                    </div>
                    <div class='col-auto character-col z-top -mx-xl-3'>
                        <a class='stretched-link' href='/Darakugear/ko-KR/Characters/Christine' title='크리스틴'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine.png' width='auto' height='600' alt='크리스틴' title='크리스틴' loading='eager'></a>
                        <div class='character-tag'>
                            <div class='character-name'>
                                <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/ko-KR/Characters/Christine' title='크리스틴'>크리스틴</a></h3>
                            </div>
                            <span class='character-field'>Republic of Edarhe</span>
                        </div>
                        <div class='position'></div>
                    </div>
                    <div class='col-auto character-col col-mr-3 col-mr-l-0'>
                        <a class='stretched-link' href='/Darakugear/ko-KR/Characters/Karla' title='코라'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla.png' width='auto' height='600' alt='코라' title='코라' loading='eager'></a>
                        <div class='character-tag'>
                            <div class='character-name'>
                                <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/ko-KR/Characters/Karla' title='코라'>코라</a></h3>
                            </div>
                            <span class='character-field'>Republic of Edarhe</span>
                        </div>
                        <div class='position'></div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row gx-0 gy-3 bg-charaters-center'>
            <div class='col-12 col-m-2 col-xl-auto order-m-last'>
                <h2 class='txt-vertical vertical-title'>크루트 성역<span class='block'>Kur'tania</span></h2>
            </div>
            <div class='col-12 col-m-10 col-xl'>
                <div class='row wrap-0 wrap-1-l gx-l-0 character-row'>
                    <div class='col-auto character-col col-ml-3 col-ml-l-0 active'>
                        <a class='stretched-link' href='/Darakugear/ko-KR/Characters/Selina' title='셀레나'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina.png' width='auto' height='600' alt='셀레나' title='셀레나' loading='eager'></a>
                        <div class='character-tag'>
                            <div class='character-name'>
                                <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/ko-KR/Characters/Selina' title='셀레나'>셀레나</a></h3>
                            </div>
                            <span class='character-field'>Kur'tania</span>
                        </div>
                    </div>
                    <div class='col-auto character-col -mx-l-5 z-top'>
                        <a class='stretched-link' href='/Darakugear/ko-KR/Characters/Rita' title='릴다'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita.png' width='auto' height='600' alt='릴다' title='릴다' loading='eager'></a>
                        <div class='character-tag'>
                            <div class='character-name'>
                                <p>광견</p>
                                <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/ko-KR/Characters/Rita' title='릴다'>릴다</a></h3>
                            </div>
                            <span class='character-field'>Kur'tania</span>
                        </div>
                    </div>
                    <div class='col-auto character-col col-mr-3 col-mr-l-0 -mr-l-1 -mr-xl-6'>
                        <a class='stretched-link' href='/Darakugear/ko-KR/Characters/Jess' title='조스'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess.png' width='auto' height='600' alt='조스' title='조스' loading='eager'></a>
                        <div class='character-tag'>
                            <div class='character-name'>
                                <p>사냥견</p>
                                <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/ko-KR/Characters/Jess' title='조스'>조스</a></h3>
                            </div>
                            <span class='character-field'>Kur'tania</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row gx-0 gy-3 bg-charaters-right'>
            <div class='col-12 col-m-2 col-xl-auto mr-xl-5'>
                <h2 class='txt-vertical vertical-title'>이스트 팔콘 연방<span class='block'>East Oen Federation</span></h2>
            </div>
            <div class='col-12 col-m-10 col-xl'>
                <div class='row justify-center character-row'>
                    <div class='col-auto character-col active'>
                        <a class='stretched-link' href='/Darakugear/ko-KR/Characters/Luna' title='루나'><img src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna.png' width='auto' height='600' alt='루나' title='루나' loading='eager'></a>
                        <div class='character-tag'>
                            <div class='character-name'>
                                <p>캐논포</p>
                                <h3><a class='stretched-link txt-white after-z-bottom' href='/Darakugear/ko-KR/Characters/Luna' title='루나'>루나</a></h3>
                            </div>
                            <span class='character-field'>East Oen Federation</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>";
            break;
    }
}

@Html.Raw(htmlContent)
