﻿@using PinkCore.Models.Cmind
@model PinkCore.Areas.Darakugear.ViewModels.Characters.CharactersView
@{
    var htmlContent = "";
    switch (Model.Language)
    {
        case Language.zh_TW:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>登場人物</span><span class='title-bg'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
    <div class='row justify-center gx-0'>
        <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
            <div class='row justify-center gx-0 gy-3'>
                <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                    <div class='swiper-container swiper-character-img'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-1.png' width='auto' height='auto' alt='獵犬 喬絲' title='獵犬 喬絲' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-1.png' width='auto' height='auto' alt='獵犬 喬絲' title='獵犬 喬絲' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-4 col-m-2'>
                    <p class='vertical-intro txt-heading'><span>「哇！小帥哥！快來姊姊這裡～</span><br><span>姊姊會讓你爽～翻～天～」</span></p>
                </div>
                <div class='col-10 col-l-5 order-l-first'>
                    <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>庫爾特神域</h2>
                    <h1 class='character-h1 mb-3'>獵犬 喬絲<small class='block'>Tracker Hound Jess</small></h1>
                    <p class='character-desc txt-lg mb-4 mb-l-5'>身為攔路姬首領，獵犬 - 喬絲，又有外號「不死女」之稱。其傻大姐、好色的外表與其愛人黎妲看似大相逕庭，但為了保護所愛，喬絲的殘暴程度是更勝其愛人。傳言曾有個奴隸販子只是在背裡說了黎妲的壞話，當天晚上便受到喬絲的拜訪，整個營地三百餘人被活活用色晶機甲緩緩肢解、凌虐致死，死狀之悽慘。稍有門路的漫遊者，都知道在庫爾特神域找「攔路姬」的麻煩是「慘死」的同義詞。</p>
                    <p class='txt-subtitle txt-bold character-line'><span>「わあっ！お兄さん！</span><br><span>早く来て〜</span><br><span>あたしが気持ち良くしてあげる〜」</span></p>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0 gy-3'>
                <div class='col-1 col-l-1'>
                    <div class='swiper-container swiper-character-title'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Raging Tracker Hound</h3>
                            </div>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Cerberus</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-9 col-l-5'>
                    <div class='swiper-container swiper-character-level'>
                        <div class='swiper-wrapper txt-center'>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-2.png' width='auto' height='auto' alt='狂怒獵犬' title='狂怒獵犬' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-2.png' width='auto' height='auto' alt='克爾柏洛斯' title='克爾柏洛斯' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-10 col-l-6 mx-auto'>
                    <div class='swiper-container swiper-character-disc'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                <h3 class='character-robot-name'>狂怒獵犬</h3>
                                <p class='txt-lg mb-3 mb-l-4'>在受到艾克蘭的俘虜後，喬絲接受了艾克蘭的援助，將獵犬的武裝更加強化，原先的火炮，除了能夠更快速擊發，散佈火網外，其加長的砲管也讓準確度大幅提升。而改良過的懸吊系統，讓著地與反饋的能源效率更加優化，讓獵犬可以更快速且更持久的追擊敵人。原先的獵犬已經讓庫爾特的盜匪們聞風喪膽，而如今強化後的狂怒獵犬，更是給予不法之徒難以言喻的恐懼。</p>
                            </div>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                <h3 class='character-robot-name'>克爾柏洛斯</h3>
                                <p class='txt-lg mb-3 mb-l-4'>克爾柏洛斯完全發揮了以旗艦等級色晶核心的輸出火力，搭載三具大口徑火炮，其中兩具強化過的長砲管可以精準、快速的擊毀遠程目標，而漆上獵犬塗裝的第三具火炮，則是能夠在中、短距離發揮致命的火力。但在這麼強大能源輸出下，駕駛員的體力耗損也非常劇烈，任何有理智的戰姬都不會輕易坐進駕駛艙，但喬絲並不是其中之一。因為艾克蘭會確保他的所有女人都能夠發揮到自身的最大潛力，無論過程中失去了什麼。</p>
                            </div>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0'>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                        <div class='col-4 col-l-2 txt-center'>
                            <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row gx-0 txt-center'>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='柯菈'>KARLA<span class='float-right'>柯菈</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='克莉絲汀'>CHRISTINE<span class='float-right'>克莉絲汀</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='辛西亞'>XINTHIA<span class='float-right'>辛西亞</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='賽琳娜'>SELINA<span class='float-right'>賽琳娜</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='黎妲'>RITA<span class='float-right'>黎妲</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='喬絲'>JESS<span class='float-right'>喬絲</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='露娜'>LUNA<span class='float-right'>露娜</span></a></div>
            </div>
        </div>
    </div>
</div>
</article>
</main>";
            break;
        case Language.zh_CN:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>登场人物</span><span class='title-bg'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
    <div class='row justify-center gx-0'>
        <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
            <div class='row justify-center gx-0 gy-3'>
                <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                    <div class='swiper-container swiper-character-img'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-1.png' width='auto' height='auto' alt='猎犬 乔丝' title='猎犬 乔丝' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-1.png' width='auto' height='auto' alt='猎犬 乔丝' title='猎犬 乔丝' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-4 col-m-2'>
                    <p class='vertical-intro txt-heading'><span>「哇！小帅哥！快来姊姊这里～</span><br><span>姊姊会让你爽～翻～天～」</span></p>
                </div>
                <div class='col-10 col-l-5 order-l-first'>
                    <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>库尔特神域</h2>
                    <h1 class='character-h1 mb-3'>猎犬 乔丝<small class='block'>Tracker Hound Jess</small></h1>
                    <p class='character-desc txt-lg mb-4 mb-l-5'>身为拦路姬首领，猎犬 - 乔丝，又有外号「不死女」之称。其傻大姐、好色的外表与其爱人黎妲看似大相径庭，但为了保护所爱，乔丝的残暴程度是更胜其爱人。传言曾有个奴隶贩子只是在背里说了黎妲的坏话，当天晚上便受到乔丝的拜访，整个营地三百余人被活活用色晶机甲缓缓肢解、凌虐致死，死状之凄惨。稍有门路的漫游者，都知道在库尔特神域找「拦路姬」的麻烦是「惨死」的同义词。</p>
                    <p class='txt-subtitle txt-bold character-line'><span>「わあっ！お兄さん！</span><br><span>早く来て〜</span><br><span>あたしが気持ち良くしてあげる〜」</span></p>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0 gy-3'>
                <div class='col-1 col-l-1'>
                    <div class='swiper-container swiper-character-title'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Raging Tracker Hound</h3>
                            </div>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Cerberus</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-9 col-l-5'>
                    <div class='swiper-container swiper-character-level'>
                        <div class='swiper-wrapper txt-center'>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-2.png' width='auto' height='auto' alt='狂怒猎犬' title='狂怒猎犬' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-2.png' width='auto' height='auto' alt='克尔柏洛斯' title='克尔柏洛斯' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-10 col-l-6 mx-auto'>
                    <div class='swiper-container swiper-character-disc'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                <h3 class='character-robot-name'>狂怒猎犬</h3>
                                <p class='txt-lg mb-3 mb-l-4'>在受到艾克兰的俘虏后，乔丝接受了艾克兰的援助，将猎犬的武装更加强化，原先的火炮，除了能够更快速击发，散布火网外，其加长的炮管也让准确度大幅提升。而改良过的悬吊系统，让着地与反馈的能源效率更加优化，让猎犬可以更快速且更持久的追击敌人。原先的猎犬已经让库尔特的盗匪们闻风丧胆，而如今强化后的狂怒猎犬，更是给予不法之徒难以言喻的恐惧。</p>
                            </div>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                <h3 class='character-robot-name'>克尔柏洛斯</h3>
                                <p class='txt-lg mb-3 mb-l-4'>克尔柏洛斯完全发挥了以旗舰等级色晶核心的输出火力，搭载三具大口径火炮，其中两具强化过的长炮管可以精准、快速的击毁远程目标，而漆上猎犬涂装的第三具火炮，则是能够在中、短距离发挥致命的火力。但在这么强大能源输出下，驾驶员的体力耗损也非常剧烈，任何有理智的战姬都不会轻易坐进驾驶舱，但乔丝并不是其中之一。因为艾克兰会确保他的所有女人都能够发挥到自身的最大潜力，无论过程中失去了什么。</p>
                            </div>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0'>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                        <div class='col-4 col-l-2 txt-center'>
                            <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row gx-0 txt-center'>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='柯菈'>KARLA<span class='float-right'>柯菈</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='克莉丝汀'>CHRISTINE<span class='float-right'>克莉丝汀</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='辛西亚'>XINTHIA<span class='float-right'>辛西亚</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='赛琳娜'>SELINA<span class='float-right'>赛琳娜</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='黎妲'>RITA<span class='float-right'>黎妲</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='乔丝'>JESS<span class='float-right'>乔丝</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='露娜'>LUNA<span class='float-right'>露娜</span></a></div>
            </div>
        </div>
    </div>
</div>
</article>
</main>";
            break;
        case Language.en_US:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>CHARACTERS</span><span class='title-bg txt-body'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
    <div class='row justify-center gx-0'>
        <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
            <div class='row justify-center gx-0 gy-3'>
                <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                    <div class='swiper-container swiper-character-img'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-1.png' width='auto' height='auto' alt='Tracker Hound Jess' title='Tracker Hound Jess' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-1.png' width='auto' height='auto' alt='Tracker Hound Jess' title='Tracker Hound Jess' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-4 col-m-2'>
                    <p class='en-dialog-container'><span class='en-dialog'><span>MMNG, YOU'RE CUTE.</span><br><span>COME OVER HERE,</span></span><br><span class='en-dialog'><span>BIG BOY,</span><br><span>I'LL MAKE YOU FEEL GOOD~</span></span></p>
                </div>
                <div class='col-10 col-l-5 order-l-first'>
                    <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>Kur'tania</h2>
                    <h1 class='character-h1 mb-3'>Tracker Hound Jess<small class='block'>猟犬 チャズ</small></h1>
                    <p class='character-desc txt-lg mb-4 mb-l-5'>Tracker Hound Jess is Leader of the fearsome Highway Senki. Her ditsy, sexualized exterior may seem much different from her partner in crime, Rita, but she'll go to highly violent ends to protect the ones she loves. Rumor has it that once a certain slaveowner was talking bad about Rita behind her back. That night, he got a visit from the Highway Senki, and the entire camp of more than 300 people were ripped limb from limb, slowly, by LT Gears. Today, any nomad with their wits about them knows crossing the Highway Senki is equivalent to signing your own death certificate.</p>
                    <p class='txt-subtitle txt-bold character-line'><span>「わあっ！お兄さん！</span><br><span>早く来て〜</span><br><span>あたしが気持ち良くしてあげる〜」</span></p>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0 gy-3'>
                <div class='col-1 col-l-1'>
                    <div class='swiper-container swiper-character-title'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>怒りの猟犬</h3>
                            </div>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>ケルベロス</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-9 col-l-5'>
                    <div class='swiper-container swiper-character-level'>
                        <div class='swiper-wrapper txt-center'>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-2.png' width='auto' height='auto' alt='Raging Tracker Hound' title='Raging Tracker Hound' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-2.png' width='auto' height='auto' alt='Cerberus' title='Cerberus' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-10 col-l-6 mx-auto'>
                    <div class='swiper-container swiper-character-disc'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                <h3 class='character-robot-name'>Raging Tracker Hound</h3>
                                <p class='txt-lg mb-3 mb-l-4'>After being captured by Ekram, Jess accepted his offer to upgrade the Tracker Hound. Her cannons, other than firing faster and having a wider spread, have also been modified with a longer barrel increasing accuracy. The leg's suspension has also been improved, giving better handling and speed, as well as allowing Jess to chase her enemies down for even longer. If the original Tracker Hound had every bandit in the Kur'tanian wastelands shaking in their boots, then the new-and-improved Raging Tracker Hound will have them more than shaking.</p>
                            </div>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                <h3 class='character-robot-name'>Cerberus</h3>
                                <p class='txt-lg mb-3 mb-l-4'>The Cerberus finally utilizes everything Jess' lustite core is capable of. Three high-caliber cannons, two of them being highly-accurate, quick-firing beasts allowing Jess to snipe enemies from far away, while the third one acts more like a close and mid-range shotgun, obliterating anything that gets in the way. It takes a lot out of the pilot to power such a behemoth, though---good thing Jess has what it takes, and Ekram won't accept anything less than perfection from every one of his senki.</p>
                            </div>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0'>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                        <div class='col-4 col-l-2 txt-center'>
                            <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row gx-0 txt-center'>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='KARLA'>KARLA</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='CHRISTINE'>CHRISTINE</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='XINTHIA'>XINTHIA</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='SELINA'>SELINA</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='RITA'>RITA</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='JESS'>JESS</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='LUNA'>LUNA</a></div>
            </div>
        </div>
    </div>
</div>
</article>
</main>";
            break;
        case Language.ja_JP:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>登場人物</span><span class='title-bg'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
    <div class='row justify-center gx-0'>
        <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
            <div class='row justify-center gx-0 gy-3'>
                <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                    <div class='swiper-container swiper-character-img'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-1.png' width='auto' height='auto' alt='猟犬 チャズ ' title='猟犬 チャズ ' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-1.png' width='auto' height='auto' alt='猟犬 チャズ ' title='猟犬 チャズ ' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-4 col-m-2'>
                    <p class='vertical-intro txt-heading'><span>「わあっ！お兄さん！早く来て〜</span><br><span>あたしが気持ち良くしてあげる〜」</span></p>
                </div>
                <div class='col-10 col-l-5 order-l-first'>
                    <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>クルト神域</h2>
                    <h1 class='character-h1 mb-3'>猟犬 チャズ <small class='block'>Tracker Hound Jess</small></h1>
                    <p class='character-desc txt-lg mb-4 mb-l-5'>通せんぼ姫の首領、猟犬-チャズ。性格や見た目は血の繋がっていない姉妹リタとかなり異なる。愛を守るためか、チャズの暴虐性は姉妹に勝る。噂によると、ある奴隷販売が影でリタの悪口を言っただけにも関わらず、その日の夜通せんぼ姫が訪問し基地にいた300人余りの人が生きたまま、クリスタルギアによって四肢解体、死ぬまで陵虐され、見るに耐えない悲惨な状態となったらしい。事情に詳しい遊牧民の間では、クルト領域で「通せんぼ姫」を怒らせるとは「死」に等しいとされている。</p>
                    <p class='txt-subtitle txt-bold character-line'><span>「わあっ！お兄さん！早く来て〜</span><br><span>あたしが気持ち良くしてあげる〜」</span></p>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0 gy-3'>
                <div class='col-1 col-l-1'>
                    <div class='swiper-container swiper-character-title'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Raging Tracker Hound</h3>
                            </div>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Cerberus</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-9 col-l-5'>
                    <div class='swiper-container swiper-character-level'>
                        <div class='swiper-wrapper txt-center'>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-2.png' width='auto' height='auto' alt='怒りの猟犬' title='怒りの猟犬' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-2.png' width='auto' height='auto' alt='ケルベロス' title='ケルベロス' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-10 col-l-6 mx-auto'>
                    <div class='swiper-container swiper-character-disc'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                <h3 class='character-robot-name'>怒りの猟犬</h3>
                                <p class='txt-lg mb-3 mb-l-4'>アクランの捕虜になった後、チャズはアクランの援助を受け猟犬の武装の強化に着手した。先代の火砲より素早く連射することで火の網を張ることができる他、長くなった砲身で命中力が劇的に上がった。サスペンションを改め、着地とエネルギーの入出力を最適化することで迅速に且つ持久的に敵を追撃する。クルトの悪党たちは先代の猟犬の名を聞くだけで震え上がっていたが、今の強化された怒りの猟犬は彼らをさらに恐怖のどん底に陥れる。</p>
                            </div>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                <h3 class='character-robot-name'>ケルベロス</h3>
                                <p class='txt-lg mb-3 mb-l-4'>ケルベロスはプラグシップ級のクリスタルコア出力火力を有し、3つの大型口径の火砲が搭載されている。中でも2つの火砲は強化されて砲身が長くなり、より素早く正確に遠方の敵を墜撃させる。最後の火砲には猟犬の塗装が施され、短、中距離にて致命的な火力を誇る。しかしながら、強大なエネルギー出力のためか、パイロットの体力を著しく削る。賢い戦姫は軽々しく乗らないが、チャズはその限りではない。それはアクランが全ての女性が自身の潜在能力を最大に発揮できるよう保証しているためである。たとえその際何かを失ったとしてもだ。</p>
                            </div>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0'>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                        <div class='col-4 col-l-2 txt-center'>
                            <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row gx-0 txt-center'>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='カーラ'>カーラ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='クリスティーナ'>クリスティーナ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='シンシア'>シンシア</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='サリーナ'>サリーナ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='リタ'>リタ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='チャズ'>チャズ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='ルナ'>ルナ</a></div>
            </div>
        </div>
    </div>
</div>
</article>
</main>";
            break;
        case Language.ko_KR:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>등장인물</span><span class='title-bg'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
    <div class='row justify-center gx-0'>
        <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
            <div class='row justify-center gx-0 gy-3'>
                <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                    <div class='swiper-container swiper-character-img'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-1.png' width='auto' height='auto' alt='사냥견 조스' title='사냥견 조스' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-1.png' width='auto' height='auto' alt='사냥견 조스' title='사냥견 조스' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-4 col-m-2'>
                    <p class='vertical-intro txt-heading'><span>「얼레~ 아가야~ 누나한테 와봐~</span><br><span>누나가 기분 째~~지게 해줄게~」</span></p>
                </div>
                <div class='col-10 col-l-5 order-l-first'>
                    <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>크루트 성역</h2>
                    <h1 class='character-h1 mb-3'>사냥견 조스<small class='block'>Tracker Hound Jess</small></h1>
                    <p class='character-desc txt-lg mb-4 mb-l-5'>아귀의 리더, 사냥견 - 조스. 색기가 넘치고 혈육은 아니지만 릴다와 닮은 점이 많다. 하지만 자신이 사랑하는 이를 위해서라면 릴다보다 더 잔혹해지기도 한다. 들리는 소문에 의하면 노예 매매자가 릴다의 뒷담화를 했다는 이유 하나만으로 그날 밤 아귀 전체가 몰려가 크리스탈 기어로 천천히 노예 매매자의 몸을 해체하고 참혹하게 살해했다고 한다. 결국 소식에 귀가 밝은 노마드들은 크루트 성역에서 [아귀]의 심기를 건드리는 일은 [자살 행위]나 다름없다는 생각을 하게 되었다고.</p>
                    <p class='txt-subtitle txt-bold character-line'><span>「わあっ！お兄さん！</span><br><span>早く来て〜</span><br><span>あたしが気持ち良くしてあげる〜」</span></p>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0 gy-3'>
                <div class='col-1 col-l-1'>
                    <div class='swiper-container swiper-character-title'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Raging Tracker Hound</h3>
                            </div>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Cerberus</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-9 col-l-5'>
                    <div class='swiper-container swiper-character-level'>
                        <div class='swiper-wrapper txt-center'>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-sr-2.png' width='auto' height='auto' alt='격노의 사냥견' title='격노의 사냥견' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-ssr-2.png' width='auto' height='auto' alt='켈베로스' title='켈베로스' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-10 col-l-6 mx-auto'>
                    <div class='swiper-container swiper-character-disc'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                <h3 class='character-robot-name'>격노의 사냥견</h3>
                                <p class='txt-lg mb-3 mb-l-4'>조스는 애클랜드의 포로가 된 후 그의 도움을 받아 사냥견을 강화시키게 되었는데 본래 장착돼있던 화포와 불그물망의 탄속이 더 빨라졌고 길어진 포관으로 조준력 또한 대폭 향상되었다. 서스펜션 시스템 개조를 통해 신속하고 안정적인 착지로 더욱 빠르게 장시간 적을 추격할 수 있게 되었으며 본래 사냥견의 이름만 들어도 벌벌 떨었던 적들은 이제 더욱 강화된 격노의 사냥견에게 더 이상 말로 형용할 수 없는 공포감을 가지게 되었다.</p>
                            </div>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                <h3 class='character-robot-name'>켈베로스</h3>
                                <p class='txt-lg mb-3 mb-l-4'>켈베로스는 전함급의 크리스탈 코어 화력을 지니고 있으며 3개의 대형 화포가 장착됐다. 이 중 2개는 구경의 길이를 늘려 조준력을 강화시켰고 원거리에 있는 타킷을 빠르게 격파할 수 있으며, 마지막 화포는 사냥견의 엠블럼이 찍혀있는 화포로 중거리 포격에 있어 엄청난 화력을 자랑한다. 하지만 에너치 방출량이 너무 많은 탓에 파일럿의 체력도 현저하게 소모되어버린다. 아마 제정신인 전희라면 섣불리 이 기체에 탑승하지 않았겠지만 조스는 달랐다. 애클랜드는 자신의 모든 여자들의 잠재력을 끝까지 끌어올릴 수 있도록 해주었고 조스도 예외는 아니었다. 설령 그 과정에서 무엇을 잃게 된다 할 지라도.</p>
                            </div>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0'>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                        <div class='col-4 col-l-2 txt-center'>
                            <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row gx-0 txt-center'>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='코라'>KARLA<span class='float-right'>코라</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='크리스틴'>CHRISTINE<span class='float-right'>크리스틴</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='신시아'>XINTHIA<span class='float-right'>신시아</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='셀레나'>SELINA<span class='float-right'>셀레나</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='릴다'>RITA<span class='float-right'>릴다</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='조스'>JESS<span class='float-right'>조스</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='루나'>LUNA<span class='float-right'>루나</span></a></div>
            </div>
        </div>
    </div>
</div>
</article>
</main>";
            break;
    }
}
@Html.Raw(htmlContent)
<div class="modal fade" id="character-modal" tabindex="-1" aria-labelledby="character-modalLabel" style="display: none;" aria-hidden="true"><div class="modal-dialog modal-xl"><div class="modal-content"><div class="modal-body"><button class="close txt-primary" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button><video class="img-fluid block mx-auto" id="character-video" preload loop playsinline muted autoplay><source id="character-video-source" src="https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/jess.mp4" type="video/mp4"></video></div></div></div></div>

