﻿@using PinkCore.Models.Cmind
@model PinkCore.Areas.Darakugear.ViewModels.Characters.CharactersView
@{
    var htmlContent = "";
    switch (Model.Language)
    {
        case Language.zh_TW:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>登場人物</span><span class='title-bg'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
    <div class='row justify-center gx-0'>
        <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
            <div class='row justify-center gx-0 gy-3'>
                <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                    <div class='swiper-container swiper-character-img'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-1.png' width='auto' height='auto' alt='柯菈' title='柯菈' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-1.png' width='auto' height='auto' alt='柯菈' title='柯菈' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-4 col-m-2'>
                    <p class='vertical-intro txt-heading'><span>「我願以我的身驅，</span><br><span>榮耀主教大人！」</span></p>
                </div>
                <div class='col-10 col-l-5 order-l-first'>
                    <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>艾德神域</h2>
                    <h1 class='character-h1 mb-3'>柯菈<small class='block'>Karla</small></h1>
                    <p class='character-desc txt-lg mb-4 mb-l-5'>身為一名棄嬰，幼年時便被艾德神教給收養。也因其天性貞潔，而成為神官的候選人並以此為目標被扶養成人。柯菈對於神教擁有絕對的忠誠，因此在她成為神官的第一個任務，便是監視並協助那個帶有蘭提斯之名的男人重奪蘭提斯地區，而這項任務，也對她的信仰與人生帶來毀滅性的改變…</p>
                    <p class='txt-subtitle txt-bold character-line'><span>「主教様の栄光が為、</span><br><span>我が身を捧げん！」</span></p>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0 gy-3'>
                <div class='col-1 col-l-1'>
                    <div class='swiper-container swiper-character-title'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Tenacity</h3>
                            </div>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Saintess</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-9 col-l-5'>
                    <div class='swiper-container swiper-character-level'>
                        <div class='swiper-wrapper txt-center'>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-2.png' width='auto' height='auto' alt='堅毅' title='堅毅' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-2.png' width='auto' height='auto' alt='聖女降臨' title='聖女降臨' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-10 col-l-6 mx-auto'>
                    <div class='swiper-container swiper-character-disc'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                <h3 class='character-robot-name'>堅毅</h3>
                                <p class='txt-lg mb-3 mb-l-4'>隨著柯菈的作戰能力成長以及蘭提斯的秘密實驗加持，柯菈已非當時的天真女孩，她不再受限於艾德神教的教條約束，更能將最純粹的性慾灌注到色晶核心之中，能力有了飛躍式的成長。然而戰場上卻謠傳著，凡是經過堅毅增幅的前線士兵，都出現了愈加殘暴的狀況，但這終究是戰場上的流言蜚語。</p>
                            </div>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                <h3 class='character-robot-name'>聖女降臨</h3>
                                <p class='txt-lg mb-3 mb-l-4'>經過了昇華之後，柯菈的性慾已如洪水猛獸般強烈，一般機甲的色晶核心完全無法承受其強烈的性欲而導致熔毀，為了能讓柯菈發揮她完全潛力，蘭提斯為她準備了結合淫魔科技的最終機甲，其增幅能力可以讓孱弱病患輕易舉起千斤巨石，但詭異的是，從來沒有人說過親身體驗過聖女的威力，多半只流於文獻紀載以及口耳相傳罷了。</p>
                            </div>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0'>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                        <div class='col-4 col-l-2 txt-center'>
                            <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row gx-0 txt-center'>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='柯菈'>KARLA<span class='float-right'>柯菈</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='克莉絲汀'>CHRISTINE<span class='float-right'>克莉絲汀</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='辛西亞'>XINTHIA<span class='float-right'>辛西亞</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='賽琳娜'>SELINA<span class='float-right'>賽琳娜</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='黎妲'>RITA<span class='float-right'>黎妲</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='喬絲'>JESS<span class='float-right'>喬絲</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='露娜'>LUNA<span class='float-right'>露娜</span></a></div>
            </div>
        </div>
    </div>
</div>
</article>
</main>";
            break;
        case Language.zh_CN:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>登场人物</span><span class='title-bg'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
    <div class='row justify-center gx-0'>
        <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
            <div class='row justify-center gx-0 gy-3'>
                <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                    <div class='swiper-container swiper-character-img'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-1.png' width='auto' height='auto' alt='柯菈' title='柯菈' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-1.png' width='auto' height='auto' alt='柯菈' title='柯菈' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-4 col-m-2'>
                    <p class='vertical-intro txt-heading'><span>「我愿以我的身驱，</span><br><span>荣耀主教大人！」</span></p>
                </div>
                <div class='col-10 col-l-5 order-l-first'>
                    <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>艾德神域</h2>
                    <h1 class='character-h1 mb-3'>柯菈<small class='block'>Karla</small></h1>
                    <p class='character-desc txt-lg mb-4 mb-l-5'>身为一名弃婴，幼年时便被艾德神教给收养。也因其天性贞洁，而成为神官的候选人并以此为目标被扶养成人。柯菈对于神教拥有绝对的忠诚，因此在她成为神官的第一个任务，便是监视并协助那个带有兰提斯之名的男人重夺兰提斯地区，而这项任务，也对她的信仰与人生带来毁灭性的改变…</p>
                    <p class='txt-subtitle txt-bold character-line'><span>「主教様の栄光が為、</span><br><span>我が身を捧げん！」</span></p>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0 gy-3'>
                <div class='col-1 col-l-1'>
                    <div class='swiper-container swiper-character-title'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Tenacity</h3>
                            </div>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Saintess</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-9 col-l-5'>
                    <div class='swiper-container swiper-character-level'>
                        <div class='swiper-wrapper txt-center'>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-2.png' width='auto' height='auto' alt='坚毅' title='坚毅' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-2.png' width='auto' height='auto' alt='圣女降临' title='圣女降临' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-10 col-l-6 mx-auto'>
                    <div class='swiper-container swiper-character-disc'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                <h3 class='character-robot-name'>坚毅</h3>
                                <p class='txt-lg mb-3 mb-l-4'>随着柯菈的作战能力成长以及兰提斯的秘密实验加持，柯菈已非当时的天真女孩，她不再受限于艾德神教的教条约束，更能将最纯粹的性欲灌注到色晶核心之中，能力有了飞跃式的成长。然而战场上却谣传着，凡是经过坚毅增幅的前线士兵，都出现了愈加残暴的状况，但这终究是战场上的流言蜚语。</p>
                            </div>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                <h3 class='character-robot-name'>圣女降临</h3>
                                <p class='txt-lg mb-3 mb-l-4'>经过了升华之后，柯菈的性欲已如洪水猛兽般强烈，一般机甲的色晶核心完全无法承受其强烈的性欲而导致熔毁，为了能让柯菈发挥她完全潜力，兰提斯为她准备了结合淫魔科技的最终机甲，其增幅能力可以让孱弱病患轻易举起千斤巨石，但诡异的是，从来没有人说过亲身体验过圣女的威力，多半只流于文献纪载以及口耳相传罢了。</p>
                            </div>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0'>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                        <div class='col-4 col-l-2 txt-center'>
                            <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row gx-0 txt-center'>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='柯菈'>KARLA<span class='float-right'>柯菈</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='克莉丝汀'>CHRISTINE<span class='float-right'>克莉丝汀</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='辛西亚'>XINTHIA<span class='float-right'>辛西亚</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='赛琳娜'>SELINA<span class='float-right'>赛琳娜</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='黎妲'>RITA<span class='float-right'>黎妲</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='乔丝'>JESS<span class='float-right'>乔丝</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='露娜'>LUNA<span class='float-right'>露娜</span></a></div>
            </div>
        </div>
    </div>
</div>
</article>
</main>";
            break;
        case Language.en_US:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>CHARACTERS</span><span class='title-bg txt-body'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
    <div class='row justify-center gx-0'>
        <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
            <div class='row justify-center gx-0 gy-3'>
                <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                    <div class='swiper-container swiper-character-img'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-1.png' width='auto' height='auto' alt='Karla' title='Karla' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-1.png' width='auto' height='auto' alt='Karla' title='Karla' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-4 col-m-2'>
                    <p class='en-dialog-container'><span class='en-dialog'><span>I WILL OFFER MY BODY</span><br><span>TO EDARHE！</span></span></p>
                </div>
                <div class='col-10 col-l-5 order-l-first'>
                    <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>Republic of Edarhe</h2>
                    <h1 class='character-h1 mb-3'>Karla<small class='block'>カーラ</small></h1>
                    <p class='character-desc txt-lg mb-4 mb-l-5'>Karla is an orphan, taken in by the Church of Edarhe at a young age. Naturally chaste, she is a prime candidate for the clergy, growing up with that goal in mind.Karla is incredibly loyal to the church. Because of that, her first order of business after joining the clergy is to help that Lantis boy take back his home country, a mission that may very well change her faith, and her very life, completely.</p>
                    <p class='txt-subtitle txt-bold character-line'><span>「主教様の栄光が為、</span><br><span>我が身を捧げん！」</span></p>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0 gy-3'>
                <div class='col-1 col-l-1'>
                    <div class='swiper-container swiper-character-title'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>堅毅</h3>
                            </div>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>聖女</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-9 col-l-5'>
                    <div class='swiper-container swiper-character-level'>
                        <div class='swiper-wrapper txt-center'>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-2.png' width='auto' height='auto' alt='Tenacity' title='Tenacity' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-2.png' width='auto' height='auto' alt='Saintess' title='Saintess' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-10 col-l-6 mx-auto'>
                    <div class='swiper-container swiper-character-disc'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                <h3 class='character-robot-name'>Tenacity</h3>
                                <p class='txt-lg mb-3 mb-l-4'>With her ever-increasing skills on the battlefield, along with the ongoing evolution of Lantis' experiments, Karla is no longer the innocent angel she was. Furthermore, she is no longer restricted by her religious faith, able to infuse her Lustite core with impressive amounts of pure sexual energy. Rumor has it that any soldiers experiencing amplification from 'Tenacity' on the battlefield often become severely violent... and yet, those are only rumors.</p>
                            </div>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                <h3 class='character-robot-name'>Saintess</h3>
                                <p class='txt-lg mb-3 mb-l-4'>After rising in the ranks, Karla's sexual energy becomes exceedingly strong, often breaking any LT Gear she comes in contact with. In order to let her exercise her true potential, Lantis creates a Gear for her utilizing lustant parts. The amplification from this new Gear is enough to make even the sickest, weakest of patients up and sprinting laps in no time... and yet, no one has seemingly ever experienced this power first-hand, only hearing rumors.</p>
                            </div>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0'>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                        <div class='col-4 col-l-2 txt-center'>
                            <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row gx-0 txt-center'>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='KARLA'>KARLA</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='CHRISTINE'>CHRISTINE</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='XINTHIA'>XINTHIA</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='SELINA'>SELINA</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='RITA'>RITA</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='JESS'>JESS</a></div>
            </div>
        </div>
    </div>
</div>
</article>
</main>";
            break;
        case Language.ja_JP:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>登場人物</span><span class='title-bg'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
    <div class='row justify-center gx-0'>
        <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
            <div class='row justify-center gx-0 gy-3'>
                <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                    <div class='swiper-container swiper-character-img'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-1.png' width='auto' height='auto' alt='カーラ' title='カーラ' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-1.png' width='auto' height='auto' alt='カーラ' title='カーラ' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-4 col-m-2'>
                    <p class='vertical-intro txt-heading'><span>「主教様の栄光が為、</span><br><span>我が身を捧げん！」</span></p>
                </div>
                <div class='col-10 col-l-5 order-l-first'>
                    <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>エド神域</h2>
                    <h1 class='character-h1 mb-3'>カーラ<small class='block'>Karla</small></h1>
                    <p class='character-desc txt-lg mb-4 mb-l-5'> 捨て子のカーラは、幼い頃にエド神教に引き取られた。もともと貞潔な性格もあり、神官の候補者になることを目標として育てられた。カーラが神の教えに絶対的な忠誠を誓っていることを見込み、ランティスという名の男を監視しつつランティス地区を奪還するという、神官になってから初めての任務が言い渡された。しかし、この任務で信仰と人生を変えるようなことが起きようとは……</p>
                    <p class='txt-subtitle txt-bold character-line'><span>「主教様の栄光が為、</span><br><span>我が身を捧げん！」</span></p>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0 gy-3'>
                <div class='col-1 col-l-1'>
                    <div class='swiper-container swiper-character-title'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Tenacity</h3>
                            </div>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Saintess</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-9 col-l-5'>
                    <div class='swiper-container swiper-character-level'>
                        <div class='swiper-wrapper txt-center'>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-2.png' width='auto' height='auto' alt='堅毅' title='堅毅' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-2.png' width='auto' height='auto' alt='聖女' title='聖女' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-10 col-l-6 mx-auto'>
                    <div class='swiper-container swiper-character-disc'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                <h3 class='character-robot-name'>堅毅</h3>
                                <p class='txt-lg mb-3 mb-l-4'>戦闘能力の成長とランティスの秘密の実験の影響を受け、今のカーラにはもう当時の天真爛漫の面影はない。エド神教教義に縛られずに、純粋な性欲をクリスタルコアに注ぎ込み、飛躍的な成長を遂げたカーラ。戦場では堅毅によって増幅された前線の兵士が皆更に凶暴になる噂が絶えないが、噂はただの噂でしかない。</p>
                            </div>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                <h3 class='character-robot-name'>聖女</h3>
                                <p class='txt-lg mb-3 mb-l-4'>昇華後、カーラの性欲が洪水のように強烈に押し寄せてくるようになった。一般ギアのクリスタルコアではその猛獣のような性欲に耐えきれず、溶融してしまう。そこでカーラの潜在能力を完全に発揮させるため、ランティスが準備した淫魔科学技術の最終ギアである。その増幅能力は、弱りきった病人に1トンの巨大な岩を持ちあげさせることができるという。しかし、奇妙なことに聖女の威力を知るものはいないという。その大半はただ文献に記載されたものすぎない。</p>
                            </div>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0'>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                        <div class='col-4 col-l-2 txt-center'>
                            <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row gx-0 txt-center'>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='カーラ'>カーラ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='クリスティーナ'>クリスティーナ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='シンシア'>シンシア</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='サリーナ'>サリーナ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='リタ'>リタ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='チャズ'>チャズ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='ルナ'>ルナ</a></div>
            </div>
        </div>
    </div>
</div>
</article>
</main>";
            break;
        case Language.ko_KR:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>등장인물</span><span class='title-bg'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
    <div class='row justify-center gx-0'>
        <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
            <div class='row justify-center gx-0 gy-3'>
                <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                    <div class='swiper-container swiper-character-img'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-1.png' width='auto' height='auto' alt='코라' title='코라' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-1.png' width='auto' height='auto' alt='코라' title='코라' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-4 col-m-2'>
                    <p class='vertical-intro txt-heading'><span>「이 한 몸，</span><br><span>주교님의 영광을 위해 바치리니！」</span></p>
                </div>
                <div class='col-10 col-l-5 order-l-first'>
                    <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>에드 성역</h2>
                    <h1 class='character-h1 mb-3'>코라<small class='block'>Karla</small></h1>
                    <p class='character-desc txt-lg mb-4 mb-l-5'>부모에게 버려졌던 아이 코라는 어릴 때 에드 신교에게 입양되었고 천성적으로 정결한 성격 덕분에 그곳에서 그녀는 신관 후보자로 키워지게 된다. 신교에 대한 절대적인 충성심과 믿음으로 무장하고 있던 코라. 그녀에게 신관으로서 주어진 첫 임무는 란티스라는 이름의 사내를 감시하고 그로부터 란티스 지구를 탈환하는 것. 하지만 이 임무로 인해 그녀의 신앙과 인생이 송두리째 바뀌게 될 것이라고는 아무도 예상하지 못했다...</p>
                    <p class='txt-subtitle txt-bold character-line'><span>「主教様の栄光が為、</span><br><span>我が身を捧げん！」</span></p>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0 gy-3'>
                <div class='col-1 col-l-1'>
                    <div class='swiper-container swiper-character-title'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Tenacity</h3>
                            </div>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Saintess</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-9 col-l-5'>
                    <div class='swiper-container swiper-character-level'>
                        <div class='swiper-wrapper txt-center'>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-sr-2.png' width='auto' height='auto' alt='결의' title='결의' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-ssr-2.png' width='auto' height='auto' alt='성녀 강림' title='성녀 강림' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-10 col-l-6 mx-auto'>
                    <div class='swiper-container swiper-character-disc'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                <h3 class='character-robot-name'>결의</h3>
                                <p class='txt-lg mb-3 mb-l-4'>나날이 발전하는 코라의 전투 능력, 그리고 계속해서 진행됐던 란티스의 비밀 실험. 예전의 순수했던 코라의 모습은 어디에서도 찾아볼 수 없다. 더 이상 에드 신교의 제약을 받을 필요 없이 자신의 순수한 성욕을 크리스탈 코어에 쏟아부어 비약적인 성장을 이룰 수 있었던 코라. 전장에 떠도는 소문에 의하면 그녀가 다녀간 전투의 흔적은 더욱 참혹해졌다고 하는데... 소문은 소문일 뿐.</p>
                            </div>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                <h3 class='character-robot-name'>성녀 강림</h3>
                                <p class='txt-lg mb-3 mb-l-4'>승화된 이후 더욱 강력해진 코라의 성욕. 일반 기어의 크리스탈 코어로는 그녀의 성욕을 감당하지 못해 녹아버릴 뿐이었다. 코라의 잠재력을 완전히 끌어내기 위해 란티스는 음마 기술력이 집대성된 궁극의 기어를 준비했는데, 이 기어의 증폭 능력은 병약한 환자가 가볍게 1톤 바위를 들어 올릴 만한 수준의 것이라고 한다. 하지만 이상한 점은 어느 누구도 직접 성녀의 위력을 목격한 사람이 없다는 것이다. 그저 무성한 소문만이 돌고 있을 뿐.</p>
                            </div>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0'>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                        <div class='col-4 col-l-2 txt-center'>
                            <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row gx-0 txt-center'>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='코라'>KARLA<span class='float-right'>코라</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='크리스틴'>CHRISTINE<span class='float-right'>크리스틴</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='신시아'>XINTHIA<span class='float-right'>신시아</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='셀레나'>SELINA<span class='float-right'>셀레나</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='릴다'>RITA<span class='float-right'>릴다</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='조스'>JESS<span class='float-right'>조스</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='루나'>LUNA<span class='float-right'>루나</span></a></div>
            </div>
        </div>
    </div>
</div>
</article>
</main>";
            break;
    }
}
@Html.Raw(htmlContent)

<div class="modal fade" id="character-modal" tabindex="-1" aria-labelledby="character-modalLabel" style="display: none;" aria-hidden="true"><div class="modal-dialog modal-xl"><div class="modal-content"><div class="modal-body"><button class="close txt-primary" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button><video class="img-fluid block mx-auto" id="character-video" preload loop playsinline muted autoplay><source id="character-video-source" src="https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/karla.mp4" type="video/mp4"></video></div></div></div></div>
