﻿@using PinkCore.Models.Cmind
@model PinkCore.Areas.Darakugear.ViewModels.Characters.CharactersView
@{
    var htmlContent = "";
    switch (Model.Language)
    {
        case Language.zh_TW:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>登場人物</span><span class='title-bg'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
    <div class='row justify-center gx-0'>
        <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
            <div class='row justify-center gx-0 gy-3'>
                <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                    <div class='swiper-container swiper-character-img'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-1.png' width='auto' height='auto' alt='狂犬 黎妲' title='狂犬 黎妲' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-1.png' width='auto' height='auto' alt='狂犬 黎妲' title='狂犬 黎妲' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-4 col-m-2'>
                    <p class='vertical-intro txt-heading'><span>「嘻嘻！你知道即便把你開膛剖腹，</span><br><span>我還是有辦法讓你不停射精呢！嘻嘻！」</span></p>
                </div>
                <div class='col-10 col-l-5 order-l-first'>
                    <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>庫爾特神域</h2>
                    <h1 class='character-h1 mb-3'>狂犬 黎妲<small class='block'>Mad Dog Rita</small></h1>
                    <p class='character-desc txt-lg mb-4 mb-l-5'>人稱「狂犬女王」的黎妲雖然出身富賈，但在偽神子事件中受騙來到庫爾特淪落為奴隸。多年來不僅受到洗腦也轉手於多個奴隸販子間，但越是受到凌虐，黎妲就變得更加殘暴、病嬌。曾有奴隸販子為了馴服黎妲，將她赤裸地縛露在自動機甲狂犬號上長達數月，無止盡的羞辱與凌虐她。但如今，該名販子風乾的屍首取代了黎妲原先的位置，無助地掛在狂犬號上，在庫爾特的荒漠公路上，為「攔路姬」狂犬-黎妲講述她殘暴、血腥的威名。</p>
                    <p class='txt-subtitle txt-bold character-line'><span>「ふふっ！</span><br><span>腹を切り開けたとしても、</span><br><span>何度も射精させる方法知ってるんだから！！」</span></p>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0 gy-3'>
                <div class='col-1 col-l-1'>
                    <div class='swiper-container swiper-character-title'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Infernal Mad Dog</h3>
                            </div>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>God of Destruction</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-9 col-l-5'>
                    <div class='swiper-container swiper-character-level'>
                        <div class='swiper-wrapper txt-center'>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-2.png' width='auto' height='auto' alt='地獄狂犬' title='地獄狂犬' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-2.png' width='auto' height='auto' alt='破壞神' title='破壞神' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-10 col-l-6 mx-auto'>
                    <div class='swiper-container swiper-character-disc'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                <h3 class='character-robot-name'>地獄狂犬</h3>
                                <p class='txt-lg mb-3 mb-l-4'>狂犬的後繼機，在速度與攻擊力上有著卓越的提升，但在黎妲的強烈要求下，其駕駛艙依舊與狂犬一般難以駕馭。而在武裝上，爪型震動切割器以及頭部的利牙，相較於原先以單點貫穿裝甲的方式效率大幅提升，除了更容易穿透目標的裝甲，在攻擊的方式上也更加多元且難以預測。雖然裝甲仍舊薄弱，但機動性大幅提升且搭配黎妲神出鬼沒的駕駛能力，也幾乎沒有人能夠鎖定並擊中地獄狂犬。效力於蘭提斯的機甲維修人員曾打趣道「如果不是地獄狂犬需要進廠維護，這個世界上應該沒有人能夠看清楚地獄狂犬的全貌。」</p>
                            </div>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                <h3 class='character-robot-name'>破壞神</h3>
                                <p class='txt-lg mb-3 mb-l-4'>艾克蘭結合了淫魔科技，為黎妲打造的專屬殺戮機器，將黎妲心中殘存的理性泯滅後，性與殺戮是她僅存的動力，而破壞神恰好能夠提供黎妲的所有需求。駕駛艙的設計除了刺激黎妲的性慾，也同時灌注強烈的痛感。黎妲只要一啟動破壞神，在痛覺與快感的雙重刺激下，會產生龐大的色晶能源，讓機甲的速度與戰鬥能力提升至巔峰。然而在產生大量能量的同時，黎妲也會變得難以控制，甚至會出現敵我不分的狀況，也因此只有在蘭提斯在場控制黎妲的狀況下，參謀人員才敢讓黎妲駕駛破懷神出戰。</p>
                            </div>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0'>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                        <div class='col-4 col-l-2 txt-center'>
                            <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row gx-0 txt-center'>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='柯菈'>KARLA<span class='float-right'>柯菈</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='克莉絲汀'>CHRISTINE<span class='float-right'>克莉絲汀</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='辛西亞'>XINTHIA<span class='float-right'>辛西亞</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='賽琳娜'>SELINA<span class='float-right'>賽琳娜</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='黎妲'>RITA<span class='float-right'>黎妲</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='喬絲'>JESS<span class='float-right'>喬絲</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='露娜'>LUNA<span class='float-right'>露娜</span></a></div>
            </div>
        </div>
    </div>
</div>
</article>
</main>";
            break;
        case Language.zh_CN:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>登场人物</span><span class='title-bg'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
    <div class='row justify-center gx-0'>
        <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
            <div class='row justify-center gx-0 gy-3'>
                <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                    <div class='swiper-container swiper-character-img'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-1.png' width='auto' height='auto' alt='狂犬 黎妲' title='狂犬 黎妲' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-1.png' width='auto' height='auto' alt='狂犬 黎妲' title='狂犬 黎妲' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-4 col-m-2'>
                    <p class='vertical-intro txt-heading'><span>「嘻嘻！你知道即便把你开膛剖腹，</span><br><span>我还是有办法让你不停射精呢！嘻嘻！」</span></p>
                </div>
                <div class='col-10 col-l-5 order-l-first'>
                    <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>库尔特神域</h2>
                    <h1 class='character-h1 mb-3'>狂犬 黎妲<small class='block'>Mad Dog Rita</small></h1>
                    <p class='character-desc txt-lg mb-4 mb-l-5'>人称「狂犬女王」的黎妲虽然出身富贾，但在伪神子事件中受骗来到库尔特沦落为奴隶。多年来不仅受到洗脑也转手于多个奴隶贩子间，但越是受到凌虐，黎妲就变得更加残暴、病娇。曾有奴隶贩子为了驯服黎妲，将她赤裸地缚露在自动机甲狂犬号上长达数月，无止尽的羞辱与凌虐她。但如今，该名贩子风干的尸首取代了黎妲原先的位置，无助地挂在狂犬号上，在库尔特的荒漠公路上，为「拦路姬」狂犬-黎妲讲述她残暴、血腥的威名。</p>
                    <p class='txt-subtitle txt-bold character-line'><span>「ふふっ！</span><br><span>腹を切り開けたとしても、</span><br><span>何度も射精させる方法知ってるんだから！！」</span></p>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0 gy-3'>
                <div class='col-1 col-l-1'>
                    <div class='swiper-container swiper-character-title'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Infernal Mad Dog</h3>
                            </div>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>God of Destruction</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-9 col-l-5'>
                    <div class='swiper-container swiper-character-level'>
                        <div class='swiper-wrapper txt-center'>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-2.png' width='auto' height='auto' alt='地狱狂犬' title='地狱狂犬' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-2.png' width='auto' height='auto' alt='破坏神' title='破坏神' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-10 col-l-6 mx-auto'>
                    <div class='swiper-container swiper-character-disc'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                <h3 class='character-robot-name'>地狱狂犬</h3>
                                <p class='txt-lg mb-3 mb-l-4'>狂犬的后继机，在速度与攻击力上有着卓越的提升，但在黎妲的强烈要求下，其驾驶舱依旧与狂犬一般难以驾驭。而在武装上，爪型震动切割器以及头部的利牙，相较于原先以单点贯穿装甲的方式效率大幅提升，除了更容易穿透目标的装甲，在攻击的方式上也更加多元且难以预测。虽然装甲仍旧薄弱，但机动性大幅提升且搭配黎妲神出鬼没的驾驶能力，也几乎没有人能够锁定并击中地狱狂犬。效力于兰提斯的机甲维修人员曾打趣道「如果不是地狱狂犬需要进厂维护，这个世界上应该没有人能够看清楚地狱狂犬的全貌。」</p>
                            </div>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                <h3 class='character-robot-name'>破坏神</h3>
                                <p class='txt-lg mb-3 mb-l-4'>艾克兰结合了淫魔科技，为黎妲打造的专属杀戮机器，将黎妲心中残存的理性泯灭后，性与杀戮是她仅存的动力，而破坏神恰好能够提供黎妲的所有需求。驾驶舱的设计除了刺激黎妲的性欲，也同时灌注强烈的痛感。黎妲只要一启动破坏神，在痛觉与快感的双重刺激下，会产生庞大的色晶能源，让机甲的速度与战斗能力提升至巅峰。然而在产生大量能量的同时，黎妲也会变得难以控制，甚至会出现敌我不分的状况，也因此只有在兰提斯在场控制黎妲的状况下，参谋人员才敢让黎妲驾驶破怀神出战。</p>
                            </div>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0'>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                        <div class='col-4 col-l-2 txt-center'>
                            <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row gx-0 txt-center'>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='柯菈'>KARLA<span class='float-right'>柯菈</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='克莉丝汀'>CHRISTINE<span class='float-right'>克莉丝汀</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='辛西亚'>XINTHIA<span class='float-right'>辛西亚</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='赛琳娜'>SELINA<span class='float-right'>赛琳娜</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='黎妲'>RITA<span class='float-right'>黎妲</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='乔丝'>JESS<span class='float-right'>乔丝</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='露娜'>LUNA<span class='float-right'>露娜</span></a></div>
            </div>
        </div>
    </div>
</div>
</article>
</main>";
            break;
        case Language.en_US:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>CHARACTERS</span><span class='title-bg txt-body'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
    <div class='row justify-center gx-0'>
        <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
            <div class='row justify-center gx-0 gy-3'>
                <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                    <div class='swiper-container swiper-character-img'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-1.png' width='auto' height='auto' alt='Mad Dog Rita' title='Mad Dog Rita' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-1.png' width='auto' height='auto' alt='Mad Dog Rita' title='Mad Dog Rita' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-4 col-m-2'>
                    <p class='en-dialog-container'><span class='en-dialog'><span>SURE,</span><br><span>DISEMBOWEL YOURSELF!</span></span><br><span class='en-dialog'><span>I STILL HAVE MY WAYS OF</span><br><span>MAKING YOU CUM!</span></span></p>
                </div>
                <div class='col-10 col-l-5 order-l-first'>
                    <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>Kur'tania</h2>
                    <h1 class='character-h1 mb-3'>Mad Dog Rita<small class='block'>狂犬 リタ</small></h1>
                    <p class='character-desc txt-lg mb-4 mb-l-5'>While the self-proclaimed 'Mad-Dog Queen' was born into luxury, Rita was scammed into migrating to Kur'tania during the Edarhe Descendant Incident and sold into slavery. Years later, Rita had been passed among various slaveowners, and yet the more she is abused, the tougher she gets. Once, in an attempt to break her, a slaveowner strapped Rita to an automatic LT Gear, codename Mad Dog, for months, raping and torturing her all the while. Today, that slaveholder's dry skeleton can be found in strapped to the shell of that same Gear, rusting away on an abandoned stretch of Kur'tania highway, warning any travelers that Rita, the Mad-Dog Queen, is not to be trifled with.</p>
                    <p class='txt-subtitle txt-bold character-line'><span>「ふふっ！</span><br><span>腹を切り開けたとしても、</span><br><span>何度も射精させる方法知ってるんだから！！」</span></p>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0 gy-3'>
                <div class='col-1 col-l-1'>
                    <div class='swiper-container swiper-character-title'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>地獄の狂犬</h3>
                            </div>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>破壊神</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-9 col-l-5'>
                    <div class='swiper-container swiper-character-level'>
                        <div class='swiper-wrapper txt-center'>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-2.png' width='auto' height='auto' alt='Infernal Mad Dog' title='Infernal Mad Dog' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-2.png' width='auto' height='auto' alt='God of Destruction' title='God of Destruction' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-10 col-l-6 mx-auto'>
                    <div class='swiper-container swiper-character-disc'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                <h3 class='character-robot-name'>Infernal Mad Dog</h3>
                                <p class='txt-lg mb-3 mb-l-4'>The Infernal Mad Dog sports improved speed and offensive capabilities, but at Rita's request its cockpit remains unchanged, still as uncomfortable as ever. Its claws and teeth have been sharpened and given added capabilities, making it even easier for Rita to rip her prey apart, adding another layer of unpredictability to the battle. While the armor is still old and flimsy, Rita is so nimble and fierce behind the wheel it's almost impossible for the enemy to keep her in their crosshairs. A repairman who worked on the Gear once said, &quot;The thing's so fast, if it weren't for the Infernal Mad Dog needing repairs, I doubt anyone would ever get a good look at the thing.&quot;</p>
                            </div>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                <h3 class='character-robot-name'>God of Destruction</h3>
                                <p class='txt-lg mb-3 mb-l-4'>Ekram combined Gear parts with lustant parts to create the ultimate killing machine, completely replacing any threads of humanity she had left with death and sex. The God of Destruction's cockpit now, apart from fulfilling Rita's every sexual desire, also inflicts the perfect amount of pain, extracting bucketloads of sexual energy and filling the LT Gear's Lustite core almost instantly. At the same time, Rita becomes almost uncontrollable, oftentimes being unable to differentiate friend from foe, causing the powers that be to not let her set Gear on the battlefield without Lantis being present to rein her in.</p>
                            </div>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0'>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                        <div class='col-4 col-l-2 txt-center'>
                            <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row gx-0 txt-center'>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='KARLA'>KARLA</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='CHRISTINE'>CHRISTINE</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='XINTHIA'>XINTHIA</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='SELINA'>SELINA</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='RITA'>RITA</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='JESS'>JESS</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='LUNA'>LUNA</a></div>
            </div>
        </div>
    </div>
</div>
</article>
</main>";
            break;
        case Language.ja_JP:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>登場人物</span><span class='title-bg'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
    <div class='row justify-center gx-0'>
        <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
            <div class='row justify-center gx-0 gy-3'>
                <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                    <div class='swiper-container swiper-character-img'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-1.png' width='auto' height='auto' alt='狂犬 リタ ' title='狂犬 リタ ' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-1.png' width='auto' height='auto' alt='狂犬 リタ ' title='狂犬 リタ ' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-4 col-m-2'>
                    <p class='vertical-intro txt-heading'><span>「ふふっ！腹を切り開けたとしても、</span><br><span>何度も射精させる方法知ってるんだから！！」</span></p>
                </div>
                <div class='col-10 col-l-5 order-l-first'>
                    <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>クルト神域</h2>
                    <h1 class='character-h1 mb-3'>狂犬 リタ <small class='block'>Mad Dog Rita</small></h1>
                    <p class='character-desc txt-lg mb-4 mb-l-5'> 「狂犬女王」と呼ばれているリタは富豪の商人の出身だが、神子なりすまし事件で騙されてクルトにきた結果、奴隷に成り下がってしまった。何年もの間洗脳され、奴隷売買にも手を貸すようになる。それのせいか、リタは虐待を受けるとより残虐性、ヤンデレさが増していった。かつて奴隷売買がリタを飼い馴らすために、リタを裸のまま自動ギア「狂犬」号に数ヶ月もの間搭乗させ、恥辱と虐待を与えた。今なっては、あの奴隷売買とリタの立場が逆転し、奴隷販売の生首が狂犬の頭部に虚しくぶら下げてある。クルトの荒れた道で残虐、血生臭い「通せんぼ姫」狂犬-リタの名が響いている。</p>
                    <p class='txt-subtitle txt-bold character-line'><span>「ふふっ！腹を切り開けたとしても、</span><br><span>何度も射精させる方法知ってるんだから！！」</span></p>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0 gy-3'>
                <div class='col-1 col-l-1'>
                    <div class='swiper-container swiper-character-title'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Infernal Mad Dog</h3>
                            </div>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>God of Destruction</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-9 col-l-5'>
                    <div class='swiper-container swiper-character-level'>
                        <div class='swiper-wrapper txt-center'>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-2.png' width='auto' height='auto' alt='地獄の狂犬' title='地獄の狂犬' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-2.png' width='auto' height='auto' alt='破壊神' title='破壊神' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-10 col-l-6 mx-auto'>
                    <div class='swiper-container swiper-character-disc'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                <h3 class='character-robot-name'>地獄の狂犬</h3>
                                <p class='txt-lg mb-3 mb-l-4'>狂犬の後継機。驚異的な速度と攻撃力を得たが、リタの強い要望によって、狂犬と同じくらい操縦が難しくなっている。武装は爪型の振動切断機と頭部の鋭い牙で、先代と比べかなり敵の装甲を貫きやすくなっているのはもちろんのこと、攻撃方法も多岐にわたり予想がつきにくい。装甲は依然として脆いが機動性も大幅に上昇し、リタの操縦テクニックによって、地獄の狂犬に攻撃を当てることはおろか、その姿を捉えることができる者もいない。ランティスのギアのメンテナンス担当者はかつて面白おかしく「地獄の狂犬をもし工場でメンテナンスしないとなると、この世で地獄の狂犬の全貌を目にするものはいないだろう」と述べた。</p>
                            </div>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                <h3 class='character-robot-name'>破壊神</h3>
                                <p class='txt-lg mb-3 mb-l-4'>アクランが淫魔科学技術と結合させ作り上げたリタ専用の殺戮兵器。リタの心に残存する理性を失わさせ、性と殺戮だけが彼女を突き動かす原動力となる。破壊神はそんなリタのいかなる要求にもきちんと答えてくれる。コックピットは性欲を刺激するよう設計されているが、その際強烈な痛みも伴う。破壊神は起動しただけで、痛みと快感による二重の刺激をもたらし、莫大なクリスタルエネルギーを生み、移動速度と戦闘能力を最高峰まで引き上げる。しかし莫大なエネルギーが生まれる時には、敵か味方か判断がつかなくなるほど操作がしづらくなってしまうため、ランティスがリタを制御できる状況下でのみ、参謀員は破壊神を出撃の許可を出す。</p>
                            </div>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0'>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                        <div class='col-4 col-l-2 txt-center'>
                            <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row gx-0 txt-center'>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='カーラ'>カーラ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='クリスティーナ'>クリスティーナ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='シンシア'>シンシア</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='サリーナ'>サリーナ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='リタ'>リタ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='チャズ'>チャズ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='ルナ'>ルナ</a></div>
            </div>
        </div>
    </div>
</div>
</article>
</main>";
            break;
        case Language.ko_KR:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>등장인물</span><span class='title-bg'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
    <div class='row justify-center gx-0'>
        <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
            <div class='row justify-center gx-0 gy-3'>
                <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                    <div class='swiper-container swiper-character-img'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-1.png' width='auto' height='auto' alt='광견 릴다' title='광견 릴다' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-1.png' width='auto' height='auto' alt='광견 릴다' title='광견 릴다' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-4 col-m-2'>
                    <p class='vertical-intro txt-heading'><span>「히히힛？내가 말이야， 네 배가 갈라지더라도</span><br><span>사정이 멈추지 않게 해줄 수 있거든~？</span><br><span>크히히히！」</span></p>
                </div>
                <div class='col-10 col-l-5 order-l-first'>
                    <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>크루트 성역</h2>
                    <h1 class='character-h1 mb-3'>광견 릴다<small class='block'>Mad Dog Rita</small></h1>
                    <p class='character-desc txt-lg mb-4 mb-l-5'>「광견의 여왕」릴다는 거상 출신이지만 신자 위장 사건에 속아 크루트의 노예로 전락하고 말았다. 수년 간 세뇌를 받았던 탓에 노예 매매로 팔려다니기 시작했고 학대를 받으면 받을 수록 광적인 집착과 잔학성을 여실히 드러내기 시작했다. 과거 노예 매매자는 릴다를 길들이기 위해 그녀를 벌거벗기고 오토 기어 매드독(광견)호에 수 개월간 탑승시키며 치욕과 학대를 멈추지 않았다. 그러나 학대를 가했던 그 노예 매매자는 릴다가 탑승했던 광견호에 싸늘한 주검으로 매달려 있는 모습이 발견됐다. 크루트에서의 잔혹했던 그녀의 삶은 「아귀」광견-릴다라는 위명을 떨치게 만들었다.</p>
                    <p class='txt-subtitle txt-bold character-line'><span>「ふふっ！</span><br><span>腹を切り開けたとしても、</span><br><span>何度も射精させる方法知ってるんだから！！」</span></p>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0 gy-3'>
                <div class='col-1 col-l-1'>
                    <div class='swiper-container swiper-character-title'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Infernal Mad Dog</h3>
                            </div>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>God of Destruction</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-9 col-l-5'>
                    <div class='swiper-container swiper-character-level'>
                        <div class='swiper-wrapper txt-center'>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-sr-2.png' width='auto' height='auto' alt='지옥의 광견' title='지옥의 광견' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-ssr-2.png' width='auto' height='auto' alt='파괴신' title='파괴신' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-10 col-l-6 mx-auto'>
                    <div class='swiper-container swiper-character-disc'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                <h3 class='character-robot-name'>지옥의 광견</h3>
                                <p class='txt-lg mb-3 mb-l-4'>광견의 후속기. 속도와 공격력을 대폭 향상시켰지만 릴다의 강력한 요구로 극도의 불쾌감을 일으키는 조종석은 그대로 남겨두었다. 장착된 갈퀴형 절단기와 날카로운 칼날은 전작에 비해 더욱 강력한 장갑 파괴 능력을 보여주며 전투 방식 또한 다채로워졌다. 장갑은 전작처럼 여전히 견고하지 못한 편이지만 대폭 향상된 기동성과 릴다의 귀신 같은 조종 실력을 보면 적들이 켈베로스를 명중시키기란 거의 불가능해 보인다. 란티스의 기어 유지 보수 담당자는 &quot;만약 켈베로스가 유지보수 작업도 필요하지 않는 기체였다면 전세계에서 켈베로스의 모습을 볼 수 있는 자는 아무도 없었을 것이다&quot;라는 말을 농담으로 던졌다고 한다.</p>
                            </div>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                <h3 class='character-robot-name'>파괴신</h3>
                                <p class='txt-lg mb-3 mb-l-4'>애클랜드가 음마 테크놀로지와 결합시켜 만든 릴다의 전용 살상 병기. 릴다의 마음에 잔존하고 있는 이성까지 전부 지워버리고 성욕과 살육만이 그녀를 움직이게 하는 원동력이 되며 릴다의 어떤 요구에도 즉각 반응해준다. 조종석은 릴다의 성욕을 자극하도록 설계돼있으며 동반하는 통증도 상당히 강한 편이다. 단지 파괴신을 가동하는 것만으로도 엄청난 통증과 쾌감이 동반되어야 하며 이로 발생한 강력한 크리스탈 에너지는 기어의 속도와 전투 능력을 비약적으로 상승시킨다. 하지만 엄청난 에너지가 발생함에 따라 릴다 또한 아군 식별도 못할 정도로 제어를 감당하기 어려워진다. 이러한 이유로 란티스는 릴다를 통제할 수 있는 환경에서만 파괴신 출격 허가를 내준다고 한다.</p>
                            </div>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0'>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                        <div class='col-4 col-l-2 txt-center'>
                            <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row gx-0 txt-center'>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='코라'>KARLA<span class='float-right'>코라</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='크리스틴'>CHRISTINE<span class='float-right'>크리스틴</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='신시아'>XINTHIA<span class='float-right'>신시아</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='셀레나'>SELINA<span class='float-right'>셀레나</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='릴다'>RITA<span class='float-right'>릴다</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='조스'>JESS<span class='float-right'>조스</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='루나'>LUNA<span class='float-right'>루나</span></a></div>
            </div>
        </div>
    </div>
</div>
</article>
</main>";
            break;
    }
}

@Html.Raw(htmlContent)
<div class="modal fade" id="character-modal" tabindex="-1" aria-labelledby="character-modalLabel" style="display: none;" aria-hidden="true"><div class="modal-dialog modal-xl"><div class="modal-content"><div class="modal-body"><button class="close txt-primary" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button><video class="img-fluid block mx-auto" id="character-video" preload loop playsinline muted autoplay><source id="character-video-source" src="https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/rita.mp4" type="video/mp4"></video></div></div></div></div>

