﻿@using PinkCore.Models.Cmind
@model PinkCore.Areas.Darakugear.ViewModels.Characters.CharactersView
@{
    var htmlContent = "";
    switch (Model.Language)
    {
        case Language.zh_TW:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>登場人物</span><span class='title-bg'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
<div class='row justify-center gx-0'>
<div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
    <div class='row justify-center gx-0 gy-3'>
        <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
            <div class='swiper-container swiper-character-img'>
                <div class='swiper-wrapper'>
                    <div class='swiper-slide'>
                        <picture>
                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-1.webp' type='image/webp'>
                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-1.png 2x' type='image/png'>
                            <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-1.png' width='auto' height='auto' alt='賽琳娜' title='賽琳娜' loading='eager'>
                        </picture>
                    </div>
                    <div class='swiper-slide'>
                        <picture>
                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-1.webp' type='image/webp'>
                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-1.png 2x' type='image/png'>
                            <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-1.png' width='auto' height='auto' alt='賽琳娜' title='賽琳娜' loading='lazy'>
                        </picture>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-4 col-m-2'>
            <p class='vertical-intro txt-heading'><span>「少...少主！</span><br><span>您終於回來了！」</span></p>
        </div>
        <div class='col-10 col-l-5 order-l-first'>
            <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>庫爾特神域</h2>
            <h1 class='character-h1 mb-3'>賽琳娜<small class='block'>Selina</small></h1>
            <p class='character-desc txt-lg mb-4 mb-l-5'>賽琳娜自十二歲那年從蘭提斯主教手裡接過尚在襁褓中的少主後，便一直擔任著蘭提斯少主的看護者。而身為神子的看護者，賽琳娜很慶幸自己能夠成為解放少主童貞的女性，自那一刻開始，她便暗自發誓將跟隨少主至天涯海角、永不分離。然而命運弄人，蘭提斯教皇國淪陷時，賽琳娜因戰敗而被奴隸販子擄獲，所幸受到叛軍所救，為報家國大恨，賽琳娜放棄神職身分，投身反叛，一心復仇，即便如此，她心底仍堅信著蘭提斯少主一定會回來的。</p>
            <p class='txt-subtitle txt-bold character-line'><span>「あ......主人！</span><br><span>ようやく戻ってきたのですね！」</span></p>
        </div>
    </div>
    <div class='row justify-center justify-l-start gx-0 gy-3'>
        <div class='col-1 col-l-1'>
            <div class='swiper-container swiper-character-title'>
                <div class='swiper-wrapper'>
                    <div class='swiper-slide'>
                        <h3 class='txt-vertical character-robot-vertical-name'>LM-210</h3>
                    </div>
                    <div class='swiper-slide'>
                        <h3 class='txt-vertical character-robot-vertical-name'>Centurion</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-9 col-l-5'>
            <div class='swiper-container swiper-character-level'>
                <div class='swiper-wrapper txt-center'>
                    <div class='swiper-slide txt-center'>
                        <picture>
                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-2.webp' type='image/webp'>
                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-2@2x.png 2x' type='image/png'>
                            <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-2.png' width='auto' height='auto' alt='LM-210' title='LM-210' loading='eager'>
                        </picture>
                    </div>
                    <div class='swiper-slide txt-center'>
                        <picture>
                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-2.webp' type='image/webp'>
                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-2@2x.png 2x' type='image/png'>
                            <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-2.png' width='auto' height='auto' alt='巨神塔嘉爾' title='巨神塔嘉爾' loading='lazy'>
                        </picture>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-10 col-l-6 mx-auto'>
            <div class='swiper-container swiper-character-disc'>
                <div class='swiper-wrapper'>
                    <div class='swiper-slide'>
                        <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                        <h3 class='character-robot-name'>LM-210</h3>
                        <p class='txt-lg mb-3 mb-l-4'>在救回賽琳娜後，艾克蘭協助賽琳娜重新強化了已有百年歷史 LM-072 的設計，並成為全新的後繼機體 LM-210。強化的色晶核心以及履帶推進系統，讓移度速度大幅提升，更為厚實的裝甲，也讓其更加堅不可摧。在如此厚重的裝甲下，短距離採礦雷射便略顯單薄，但賽琳娜自信滿滿地告訴蘭提斯，「賽琳娜不需要強大火力，因為少主會來支援我！」。LM-210 便在賽琳娜的駕駛下，威名遠播。不少士兵在面對 LM-210 的進攻時，常會誤以為自己的武器故障，因為任何砲彈都難以在 LM-210 的裝甲上留下痕跡。</p>
                    </div>
                    <div class='swiper-slide'>
                        <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                        <h3 class='character-robot-name'>巨神塔嘉爾</h3>
                        <p class='txt-lg mb-3 mb-l-4'>得知蘭提斯少主的祕密後，無法接受的賽琳娜，崩潰的將自己奉獻於性的渴望與快感之中，成為了滿腦淫念的蕩婦。艾克蘭利用了這點，重新設計了賽琳娜的機甲，捨棄了傳統的物理裝甲，利用賽琳娜無止盡的性慾，產生色晶防禦力場，可以更有效的阻擋來自四面八方的攻擊。而在少了物理裝甲的限制後，塔嘉爾相較於前繼機種，除了短距離雷射外，也搭載了能源鑽頭，面對一般機甲，可以如撕紙般摧毀對手，讓她在近距離的戰鬥中更具破壞力。</p>
                    </div>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0'>
                <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                <div class='col-4 col-l-2 txt-center'>
                    <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                </div>
            </div>
        </div>
    </div>
    <div class='row gx-0 txt-center'>
        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='柯菈'>KARLA<span class='float-right'>柯菈</span></a></div>
        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='克莉絲汀'>CHRISTINE<span class='float-right'>克莉絲汀</span></a></div>
        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='辛西亞'>XINTHIA<span class='float-right'>辛西亞</span></a></div>
        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='賽琳娜'>SELINA<span class='float-right'>賽琳娜</span></a></div>
        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='黎妲'>RITA<span class='float-right'>黎妲</span></a></div>
        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='喬絲'>JESS<span class='float-right'>喬絲</span></a></div>
        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='露娜'>LUNA<span class='float-right'>露娜</span></a></div>
    </div>
</div>
</div>
</div>
</article>
</main>";
            break;
        case Language.zh_CN:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>登场人物</span><span class='title-bg'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
<div class='row justify-center gx-0'>
<div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
    <div class='row justify-center gx-0 gy-3'>
        <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
            <div class='swiper-container swiper-character-img'>
                <div class='swiper-wrapper'>
                    <div class='swiper-slide'>
                        <picture>
                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-1.webp' type='image/webp'>
                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-1.png 2x' type='image/png'>
                            <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-1.png' width='auto' height='auto' alt='赛琳娜' title='赛琳娜' loading='eager'>
                        </picture>
                    </div>
                    <div class='swiper-slide'>
                        <picture>
                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-1.webp' type='image/webp'>
                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-1.png 2x' type='image/png'>
                            <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-1.png' width='auto' height='auto' alt='赛琳娜' title='赛琳娜' loading='lazy'>
                        </picture>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-4 col-m-2'>
            <p class='vertical-intro txt-heading'><span>「少...少主！</span><br><span>您终于回来了！」</span></p>
        </div>
        <div class='col-10 col-l-5 order-l-first'>
            <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>库尔特神域</h2>
            <h1 class='character-h1 mb-3'>赛琳娜<small class='block'>Selina</small></h1>
            <p class='character-desc txt-lg mb-4 mb-l-5'>赛琳娜自十二岁那年从兰提斯主教手里接过尚在襁褓中的少主后，便一直担任着兰提斯少主的看护者。而身为神子的看护者，赛琳娜很庆幸自己能够成为解放少主童贞的女性，自那一刻开始，她便暗自发誓将跟随少主至天涯海角、永不分离。然而命运弄人，兰提斯教皇国沦陷时，赛琳娜因战败而被奴隶贩子掳获，所幸受到叛军所救，为报家国大恨，赛琳娜放弃神职身分，投身反叛，一心复仇，即便如此，她心底仍坚信着兰提斯少主一定会回来的。</p>
            <p class='txt-subtitle txt-bold character-line'><span>「あ......主人！</span><br><span>ようやく戻ってきたのですね！」</span></p>
        </div>
    </div>
    <div class='row justify-center justify-l-start gx-0 gy-3'>
        <div class='col-1 col-l-1'>
            <div class='swiper-container swiper-character-title'>
                <div class='swiper-wrapper'>
                    <div class='swiper-slide'>
                        <h3 class='txt-vertical character-robot-vertical-name'>LM-210</h3>
                    </div>
                    <div class='swiper-slide'>
                        <h3 class='txt-vertical character-robot-vertical-name'>Centurion</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-9 col-l-5'>
            <div class='swiper-container swiper-character-level'>
                <div class='swiper-wrapper txt-center'>
                    <div class='swiper-slide txt-center'>
                        <picture>
                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-2.webp' type='image/webp'>
                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-2@2x.png 2x' type='image/png'>
                            <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-2.png' width='auto' height='auto' alt='LM-210' title='LM-210' loading='eager'>
                        </picture>
                    </div>
                    <div class='swiper-slide txt-center'>
                        <picture>
                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-2.webp' type='image/webp'>
                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-2@2x.png 2x' type='image/png'>
                            <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-2.png' width='auto' height='auto' alt='巨神塔嘉尔' title='巨神塔嘉尔' loading='lazy'>
                        </picture>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-10 col-l-6 mx-auto'>
            <div class='swiper-container swiper-character-disc'>
                <div class='swiper-wrapper'>
                    <div class='swiper-slide'>
                        <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                        <h3 class='character-robot-name'>LM-210</h3>
                        <p class='txt-lg mb-3 mb-l-4'>在救回赛琳娜后，艾克兰协助赛琳娜重新强化了已有百年历史 LM-072 的设计，并成为全新的后继机体 LM-210。强化的色晶核心以及履带推进系统，让移度速度大幅提升，更为厚实的装甲，也让其更加坚不可摧。在如此厚重的装甲下，短距离采矿雷射便略显单薄，但赛琳娜自信满满地告诉兰提斯，「赛琳娜不需要强大火力，因为少主会来支援我！」。LM-210 便在赛琳娜的驾驶下，威名远播。不少士兵在面对 LM-210 的进攻时，常会误以为自己的武器故障，因为任何炮弹都难以在 LM-210 的装甲上留下痕迹。</p>
                    </div>
                    <div class='swiper-slide'>
                        <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                        <h3 class='character-robot-name'>巨神塔嘉尔</h3>
                        <p class='txt-lg mb-3 mb-l-4'>得知兰提斯少主的秘密后，无法接受的赛琳娜，崩溃的将自己奉献于性的渴望与快感之中，成为了满脑淫念的荡妇。艾克兰利用了这点，重新设计了赛琳娜的机甲，舍弃了传统的物理装甲，利用赛琳娜无止尽的性欲，产生色晶防御力场，可以更有效的阻挡来自四面八方的攻击。而在少了物理装甲的限制后，塔嘉尔相较于前继机种，除了短距离雷射外，也搭载了能源钻头，面对一般机甲，可以如撕纸般摧毁对手，让她在近距离的战斗中更具破坏力。</p>
                    </div>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0'>
                <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                <div class='col-4 col-l-2 txt-center'>
                    <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                </div>
            </div>
        </div>
    </div>
    <div class='row gx-0 txt-center'>
        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='柯菈'>KARLA<span class='float-right'>柯菈</span></a></div>
        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='克莉丝汀'>CHRISTINE<span class='float-right'>克莉丝汀</span></a></div>
        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='辛西亚'>XINTHIA<span class='float-right'>辛西亚</span></a></div>
        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='赛琳娜'>SELINA<span class='float-right'>赛琳娜</span></a></div>
        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='黎妲'>RITA<span class='float-right'>黎妲</span></a></div>
        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='乔丝'>JESS<span class='float-right'>乔丝</span></a></div>
        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='露娜'>LUNA<span class='float-right'>露娜</span></a></div>
    </div>
</div>
</div>
</div>
</article>
</main>";
            break;
        case Language.en_US:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>CHARACTERS</span><span class='title-bg txt-body'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
<div class='row justify-center gx-0'>
<div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
    <div class='row justify-center gx-0 gy-3'>
        <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
            <div class='swiper-container swiper-character-img'>
                <div class='swiper-wrapper'>
                    <div class='swiper-slide'>
                        <picture>
                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-1.webp' type='image/webp'>
                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-1.png 2x' type='image/png'>
                            <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-1.png' width='auto' height='auto' alt='Selina' title='Selina' loading='eager'>
                        </picture>
                    </div>
                    <div class='swiper-slide'>
                        <picture>
                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-1.webp' type='image/webp'>
                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-1.png 2x' type='image/png'>
                            <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-1.png' width='auto' height='auto' alt='Selina' title='Selina' loading='lazy'>
                        </picture>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-4 col-m-2'>
            <p class='en-dialog-container'><span class='en-dialog'><span>M-MY LORD,</span><br><span>YOU'RE BACK！</span></span></p>
        </div>
        <div class='col-10 col-l-5 order-l-first'>
            <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>Kur'tania</h2>
            <h1 class='character-h1 mb-3'>Selina<small class='block'>サリーナ</small></h1>
            <p class='character-desc txt-lg mb-4 mb-l-5'>Selina saved the Lord of Lantis from an LT Bishop's grasp when he was still a toddler, acting as his protector ever since. And after he grew up, Selina was overjoyed that she became the one to take the little lord's virginity. Ever since that day, Selina vowed to stick with him through thick and thin, never to part. And yet, as fate would have it, Selina was kidnapped by slavers not long after the chaos erupted in the Holy State. When she was rescued by a rebel faction, Selina allowed herself to become their shared wife in return for a chance to find the Lantis Lord once again. No matter the hardship she must endure, Selina has faith that he will return to her... one day.</p>
            <p class='txt-subtitle txt-bold character-line'><span>「あ......主人！</span><br><span>ようやく戻ってきたのですね！」</span></p>
        </div>
    </div>
    <div class='row justify-center justify-l-start gx-0 gy-3'>
        <div class='col-1 col-l-1'>
            <div class='swiper-container swiper-character-title'>
                <div class='swiper-wrapper'>
                    <div class='swiper-slide'>
                        <h3 class='txt-vertical character-robot-vertical-name'>LM-210</h3>
                    </div>
                    <div class='swiper-slide'>
                        <h3 class='txt-vertical character-robot-vertical-name'>センチュリオン</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-9 col-l-5'>
            <div class='swiper-container swiper-character-level'>
                <div class='swiper-wrapper txt-center'>
                    <div class='swiper-slide txt-center'>
                        <picture>
                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-2.webp' type='image/webp'>
                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-2@2x.png 2x' type='image/png'>
                            <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-2.png' width='auto' height='auto' alt='LM-210' title='LM-210' loading='eager'>
                        </picture>
                    </div>
                    <div class='swiper-slide txt-center'>
                        <picture>
                            <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-2.webp' type='image/webp'>
                            <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-2@2x.png 2x' type='image/png'>
                            <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-2.png' width='auto' height='auto' alt='Centurion' title='Centurion' loading='lazy'>
                        </picture>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-10 col-l-6 mx-auto'>
            <div class='swiper-container swiper-character-disc'>
                <div class='swiper-wrapper'>
                    <div class='swiper-slide'>
                        <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                        <h3 class='character-robot-name'>LM-210</h3>
                        <p class='txt-lg mb-3 mb-l-4'>After saving Selina, her and Ekram spent time enhancing the already centuries-old LM-072, creating the new-and-improved LM-210. Its upgraded Lustite core and new continuous track system makes movement easy and more streamlined, and its thicker armor boosts its frontline defense. Unfortunately, its firepowers still consists of the same weak excavation lasers. Selina doesn't mind, however, telling everyone &quot;I don't need firepower when I've got the little lord as my back! &quot;Still, the LM-210 under Selina's control is quite the formidible foe. Going up against her, enemies often think their cannons are broken, when in reality the LM-210's armor is simply so thick, most cannon fire is inconsequential.</p>
                    </div>
                    <div class='swiper-slide'>
                        <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                        <h3 class='character-robot-name'>Centurion</h3>
                        <p class='txt-lg mb-3 mb-l-4'>Unwilling to accept Lantis' secret, Selina dives into a deep depression, using sexual pleasure as a way to run away from her problems. Ekram sees this as an opportunity to enhance her LT Gear once again, scrapping armor enhancement to instead create a force-field powered by Selina's impressive sexual output, protecting the Gear from every direction. Without its traditional armor, the Centurion is quite progressive, adding an energy drill in addition to its excavation laser, equipping it with amazing close-ranged combat capabilities.</p>
                    </div>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0'>
                <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                <div class='col-4 col-l-2 txt-center'>
                    <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                </div>
            </div>
        </div>
    </div>
    <div class='row gx-0 txt-center'>
        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='KARLA'>KARLA</a></div>
        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='CHRISTINE'>CHRISTINE</a></div>
        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='XINTHIA'>XINTHIA</a></div>
        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='SELINA'>SELINA</a></div>
        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='RITA'>RITA</a></div>
        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='JESS'>JESS</a></div>
        <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='LUNA'>LUNA</a></div>
    </div>
</div>
</div>
</div>
</article>
</main>";
            break;
        case Language.ja_JP:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>登場人物</span><span class='title-bg'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
    <div class='row justify-center gx-0'>
        <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
            <div class='row justify-center gx-0 gy-3'>
                <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                    <div class='swiper-container swiper-character-img'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-1.png' width='auto' height='auto' alt='サリーナ' title='サリーナ' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-1.png' width='auto' height='auto' alt='サリーナ' title='サリーナ' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-4 col-m-2'>
                    <p class='vertical-intro txt-heading'><span>「あ......主人！</span><br><span>ようやく戻ってきたのですね！」</span></p>
                </div>
                <div class='col-10 col-l-5 order-l-first'>
                    <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>クルト神域</h2>
                    <h1 class='character-h1 mb-3'>サリーナ<small class='block'>Selina</small></h1>
                    <p class='character-desc txt-lg mb-4 mb-l-5'>サリーナは12歳の頃、ランティス主教からおしめをつけていたランティスの主人をあずかり、それからというもの主人のお世話係を担っている。また、彼女は自身が主人の筆下ろしができることに喜びを感じ、どこまでも主人に付いていくことを密かに決めた。しかし運命は残酷で、ランティス教皇国が戦敗し没落した時、サリーナは奴隷売買に捕まってしまう。反逆軍の手を借りて運良く助かったものの、頼るものが何もない彼女は恩返しのため、また主人を探すために、反逆軍の複数の男性の妻役を演じ2人の娘を産んだ。たとえこんなことになっても、心の底からランティスの主人が戻ってくると強く信じている。</p>
                    <p class='txt-subtitle txt-bold character-line'><span>「あ......主人！</span><br><span>ようやく戻ってきたのですね！」</span></p>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0 gy-3'>
                <div class='col-1 col-l-1'>
                    <div class='swiper-container swiper-character-title'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>LM-210</h3>
                            </div>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Centurion</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-9 col-l-5'>
                    <div class='swiper-container swiper-character-level'>
                        <div class='swiper-wrapper txt-center'>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-2.png' width='auto' height='auto' alt='LM-210' title='LM-210' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-2.png' width='auto' height='auto' alt='センチュリオン' title='センチュリオン' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-10 col-l-6 mx-auto'>
                    <div class='swiper-container swiper-character-disc'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                <h3 class='character-robot-name'>LM-210</h3>
                                <p class='txt-lg mb-3 mb-l-4'>サリーナを救出後、アクランは100年もの歴史があるLM-072の強化設計に協力した。それが後継機LM-210の誕生である。強化されたクリスタルコアに無限軌道システムを採用し、移動速度が大幅に上昇、重厚な装甲でより堅固になった。重厚な装甲であっても、短距離型のレーザーでは心もたない。しかし、サリーナはランティスに「主人が応援に来てくれるから、私に強大な火力など不要です！」と自信満々に告げた。LM-210はサリーナの操縦によって、その名が世に轟いていった。多くの兵士がLM-210に向かって攻撃すると、自分の武器が壊れたのではないかという錯覚に陥るほどLM-210の装甲は強固で、どんな砲弾でも傷一つつけることができない。</p>
                            </div>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                <h3 class='character-robot-name'>センチュリオン</h3>
                                <p class='txt-lg mb-3 mb-l-4'>ランティス主人の秘密を知ってから、それを受け入れられないでいるサリーナ。そんな葛藤の中、己を性の渇望と快楽を捧げるため、頭の中には淫らなことしかない娼婦となる。アクランはこれを利用し、サリーナのギアを再設計。従来の物理装甲を捨てサリーナの無尽蔵な性欲を用いて、クリスタル防御フィールドを展開させ四方八方の攻撃を防ぐことができるようになる。物理的装甲の障害がなくなったセンチュリオンは、先代にはない短距離型レーザーとエネルギードリルを搭載し、普通のギアを紙クズのように潰してしまう。近距離戦では破壊力は抜群である。</p>
                            </div>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0'>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                        <div class='col-4 col-l-2 txt-center'>
                            <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row gx-0 txt-center'>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='カーラ'>カーラ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='クリスティーナ'>クリスティーナ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='シンシア'>シンシア</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='サリーナ'>サリーナ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='リタ'>リタ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='チャズ'>チャズ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='ルナ'>ルナ</a></div>
            </div>
        </div>
    </div>
</div>
</article>
</main>";
            break;
        case Language.ko_KR:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>등장인물</span><span class='title-bg'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
    <div class='row justify-center gx-0'>
        <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
            <div class='row justify-center gx-0 gy-3'>
                <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                    <div class='swiper-container swiper-character-img'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-1.png' width='auto' height='auto' alt='셀레나' title='셀레나' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-1.png' width='auto' height='auto' alt='셀레나' title='셀레나' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-4 col-m-2'>
                    <p class='vertical-intro txt-heading'><span>「도… 도련님！</span><br><span>드디어 돌아오셨군요！」</span></p>
                </div>
                <div class='col-10 col-l-5 order-l-first'>
                    <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>크루트 성역</h2>
                    <h1 class='character-h1 mb-3'>셀레나<small class='block'>Selina</small></h1>
                    <p class='character-desc txt-lg mb-4 mb-l-5'>셀레나는 12살 때 란티스 주교로부터 어린 란티스를 건네 받은 후 줄곧 그의 보호자로 살아왔다. 신의 아들의 보호자로서 셀레나는 자신이 란티스의 동정을 깨드릴 수 있는 여자라는 사실에 기쁨을 느끼며 어린 란티스를 끝까지 따르기로 맹세했다.하지만 운명의 장난이었을까? 란티스 교황국은 몰락하였고 살아남은 셀레나는 노예 매매로 팔려나가게 된다. 저항군의 도움으로 가까스로 구출되었지만 더 이상 의지할 곳이 없던 셀레나는 신자를 찾을 날을 기약하기 위해, 그리고 자신을 구해준 은혜에 보답하기 위해 저항군의 공처(共妻)가 되었고 두 명의 딸을 낳았다. 그녀는 마음속 깊이 란티스의 주인이 반드시 돌아올 것임을 굳게 믿고 있다.</p>
                    <p class='txt-subtitle txt-bold character-line'><span>「あ......主人！</span><br><span>ようやく戻ってきたのですね！」</span></p>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0 gy-3'>
                <div class='col-1 col-l-1'>
                    <div class='swiper-container swiper-character-title'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>LM-210</h3>
                            </div>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Centurion</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-9 col-l-5'>
                    <div class='swiper-container swiper-character-level'>
                        <div class='swiper-wrapper txt-center'>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-sr-2.png' width='auto' height='auto' alt='LM-210' title='LM-210' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-ssr-2.png' width='auto' height='auto' alt='센츄리온' title='센츄리온' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-10 col-l-6 mx-auto'>
                    <div class='swiper-container swiper-character-disc'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                <h3 class='character-robot-name'>LM-210</h3>
                                <p class='txt-lg mb-3 mb-l-4'>셀레나를 구출한 후, 애클랜드는 그녀를 위해 100년의 역사를 자랑하는 기체 LM-072 강화 작업에 협력했고 이렇게 후속 기어 LM-210가 탄생하게 된다. 강화된 크리스탈 코어에 무한궤도 시스템을 채택하여 이동 속도를 대폭 상승시켰고 본래 자랑하던 두터운 장갑은 더욱 견고해졌다. 반면에 단거리형 레이저로는 화력이 조금 부족한 감이 있었지만 셀리나는 란티스에게 이런 말을 했다고 한다. &quot;막강한 화력 같은 건 필요 없어요. 어차피 도련님께서 절 지원해주실 테니까.&quot; LM-210은 셀리나가 파일럿이 된 이후 유명세를 떨치게 되었다. 수많은 병사들이 LM-210을 향해 공격을 하다 보면 자신의 무기가 부서진 것이 아닌가 하는 착각에 빠질 정도로 LM-210 장갑이 너무나 견고해 어떤 포탄으로도 생채기 하나 낼 수 없었다고 입을 모아 말했다.</p>
                            </div>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                <h3 class='character-robot-name'>센츄리온</h3>
                                <p class='txt-lg mb-3 mb-l-4'>란티스 주인의 비밀을 알게 된 후 그것을 받아들일 수 없던 셀리나. 하지만 결국 자신을 성적 갈망과 쾌락에 몸을 던지게 되고 머릿속에 온통 음탕함으로 가득 채워진 창부가 되고 말았다. 애클랜드는 이 점을 이용해 셀리나의 기어를 재설계하였는데 기존 물리 장갑을 버리고 셀리나의 과도한 성욕을 이용해 크리스탈 방어 필드를 펼쳐 사방의 공격을 막을 수 있도록 하였다. 물리 장갑의 제한이 사라진 뒤로 센츄리온은 전작 모델의 단거리형 레이저 이외에 에너지 드릴도 탑재할 수 있게 되었고 일반 기어는 종이처럼 찢어버릴 수 있을 정도로 근거리전에서 엄청난 파괴력을 보여주게 된다.</p>
                            </div>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0'>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                        <div class='col-4 col-l-2 txt-center'>
                            <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row gx-0 txt-center'>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='코라'>KARLA<span class='float-right'>코라</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='크리스틴'>CHRISTINE<span class='float-right'>크리스틴</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='신시아'>XINTHIA<span class='float-right'>신시아</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='셀레나'>SELINA<span class='float-right'>셀레나</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='릴다'>RITA<span class='float-right'>릴다</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='조스'>JESS<span class='float-right'>조스</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='루나'>LUNA<span class='float-right'>루나</span></a></div>
            </div>
        </div>
    </div>
</div>
</article>
</main>";
            break;
    }
}

@Html.Raw(htmlContent)
<div class="modal fade" id="character-modal" tabindex="-1" aria-labelledby="character-modalLabel" style="display: none;" aria-hidden="true"><div class="modal-dialog modal-xl"><div class="modal-content"><div class="modal-body"><button class="close txt-primary" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button><video class="img-fluid block mx-auto" id="character-video" preload loop playsinline muted autoplay><source id="character-video-source" src="https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/selina.mp4" type="video/mp4"></video></div></div></div></div>
