﻿@using PinkCore.Models.Cmind
@model PinkCore.Areas.Darakugear.ViewModels.Characters.CharactersView
@{
    var htmlContent = "";
    switch (Model.Language)
    {
        case Language.zh_TW:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>登場人物</span><span class='title-bg'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
    <div class='row justify-center gx-0'>
        <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
            <div class='row justify-center gx-0 gy-3'>
                <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                    <div class='swiper-container swiper-character-img'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-1.png' width='auto' height='auto' alt='智天使 辛西亞' title='智天使 辛西亞' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-1.png' width='auto' height='auto' alt='智天使 辛西亞' title='智天使 辛西亞' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-4 col-m-2'>
                    <p class='vertical-intro txt-heading'><span>「唉，天才又有何用？</span><br><span>還是沒辦法讓他喜歡上我…」</span></p>
                </div>
                <div class='col-10 col-l-5 order-l-first'>
                    <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>艾德神域</h2>
                    <h1 class='character-h1 mb-3'>智天使 辛西亞<small class='block'>Cherub Xinthia</small></h1>
                    <p class='character-desc txt-lg mb-4 mb-l-5'>與艾克蘭為青梅竹馬，智力極高，十歲即成了著名學者而大受追捧，但長期暗戀著艾克蘭卻總是得不到回應而百般苦惱。在蘭提斯教皇國淪陷時，十一歲的辛西亞為了換取自由，自願成為首批「智腦計畫」的實驗對象，接受艾德科學家將義腦植入體內。從此，身材體型也永遠定形於十一歲的狀態。在義腦的影響下，辛西亞的情感表現平淡如同機器，無論內心情緒如何澎湃，外表卻依然如冰塊一般冷絕。而在收到艾克蘭已經回歸教皇國的消息後，辛西亞是急忙火速從前線請調回故里，然而機械般的談吐卻讓艾克蘭陌生不已。</p>
                    <p class='txt-subtitle txt-bold character-line'><span>「えっ？</span><br><span>天才に何ができるのでしょうか？</span><br><span>天才でも結局彼に好きになって</span><br><span>もらうことはできません……」</span></p>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0 gy-3'>
                <div class='col-1 col-l-1'>
                    <div class='swiper-container swiper-character-title'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Magus</h3>
                            </div>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Cherub</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-9 col-l-5'>
                    <div class='swiper-container swiper-character-level'>
                        <div class='swiper-wrapper txt-center'>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-2.png' width='auto' height='auto' alt='賢者' title='賢者' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-2.png' width='auto' height='auto' alt='智天使' title='智天使' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-10 col-l-6 mx-auto'>
                    <div class='swiper-container swiper-character-disc'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                <h3 class='character-robot-name'>賢者</h3>
                                <p class='txt-lg mb-3 mb-l-4'>在與東奧鷹聯邦的戰爭中展現其強大作戰能力的「智者」，讓艾德神域的科學家瞭解到這類型機甲的戰略價值，於是便以色晶戰姬中表現最為卓越的辛西亞，作為後繼機體「賢者」的測試駕駛。賢者在武裝上完全捨棄了前繼機種的防衛性武裝，將所有能源都投入到神經傳導框架上，讓其電波攻擊的效果更加強大。同時也改良了其推進系統，讓賢者能夠更快在戰場間移動造成傷害。然而為了強化電波攻擊的威力到極致，駕駛艙的裝甲便被犧牲以減少電波在穿透物質的耗損。但這些問題對辛西亞而言，完全不成問題，在強力的電波環繞下，任何攻擊都能在她的電波強化下被阻擋。</p>
                            </div>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                <h3 class='character-robot-name'>智天使</h3>
                                <p class='txt-lg mb-3 mb-l-4'>艾德神域在獲得「賢者」、「智者」機體的開發成功後，更是將大量資源投注在後繼機體的開發。而兩個計畫的重要推手辛西亞，理所當然的成為了下一代機甲「智天使」的測試駕駛，智天使在性能上，完全依照了辛西亞的戰鬥特性進行強化，除了包覆在駕駛艙四週的傳導框架，更是在機體後方增加了電波增幅框架，讓原先就強大的電波攻擊，更加無堅不摧。然而，這項計畫卻是以失敗告終，除了辛西亞以外，沒有任何一個戰姬能夠操縱精神電波如此強大的機甲，也讓這部原型機成為了該系列機甲的巔峰，也同時是這系列機甲的終結。</p>
                            </div>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0'>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                        <div class='col-4 col-l-2 txt-center'>
                            <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row gx-0 txt-center'>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='柯菈'>KARLA<span class='float-right'>柯菈</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='克莉絲汀'>CHRISTINE<span class='float-right'>克莉絲汀</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='辛西亞'>XINTHIA<span class='float-right'>辛西亞</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='賽琳娜'>SELINA<span class='float-right'>賽琳娜</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='黎妲'>RITA<span class='float-right'>黎妲</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='喬絲'>JESS<span class='float-right'>喬絲</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-TW/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='露娜'>LUNA<span class='float-right'>露娜</span></a></div>
            </div>
        </div>
    </div>
</div>
</article>
</main>";
            break;
        case Language.zh_CN:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>登场人物</span><span class='title-bg'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
    <div class='row justify-center gx-0'>
        <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
            <div class='row justify-center gx-0 gy-3'>
                <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                    <div class='swiper-container swiper-character-img'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-1.png' width='auto' height='auto' alt='智天使 辛西亚' title='智天使 辛西亚' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-1.png' width='auto' height='auto' alt='智天使 辛西亚' title='智天使 辛西亚' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-4 col-m-2'>
                    <p class='vertical-intro txt-heading'><span>「唉，天才又有何用？</span><br><span>还是没办法让他喜欢上我…」</span></p>
                </div>
                <div class='col-10 col-l-5 order-l-first'>
                    <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>艾德神域</h2>
                    <h1 class='character-h1 mb-3'>智天使 辛西亚<small class='block'>Cherub Xinthia</small></h1>
                    <p class='character-desc txt-lg mb-4 mb-l-5'>与艾克兰为青梅竹马，智力极高，十岁即成了著名学者而大受追捧，但长期暗恋着艾克兰却总是得不到回应而百般苦恼。在兰提斯教皇国沦陷时，十一岁的辛西亚为了换取自由，自愿成为首批「智脑计画」的实验对象，接受艾德科学家将义脑植入体内。从此，身材体型也永远定形于十一岁的状态。在义脑的影响下，辛西亚的情感表现平淡如同机器，无论内心情绪如何澎湃，外表却依然如冰块一般冷绝。而在收到艾克兰已经回归教皇国的消息后，辛西亚是急忙火速从前线请调回故里，然而机械般的谈吐却让艾克兰陌生不已。</p>
                    <p class='txt-subtitle txt-bold character-line'><span>「えっ？</span><br><span>天才に何ができるのでしょうか？</span><br><span>天才でも結局彼に好きになって</span><br><span>もらうことはできません……」</span></p>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0 gy-3'>
                <div class='col-1 col-l-1'>
                    <div class='swiper-container swiper-character-title'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Magus</h3>
                            </div>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Cherub</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-9 col-l-5'>
                    <div class='swiper-container swiper-character-level'>
                        <div class='swiper-wrapper txt-center'>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-2.png' width='auto' height='auto' alt='贤者' title='贤者' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-2.png' width='auto' height='auto' alt='智天使' title='智天使' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-10 col-l-6 mx-auto'>
                    <div class='swiper-container swiper-character-disc'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                <h3 class='character-robot-name'>贤者</h3>
                                <p class='txt-lg mb-3 mb-l-4'>在与东奥鹰联邦的战争中展现其强大作战能力的「智者」，让艾德神域的科学家了解到这类型机甲的战略价值，于是便以色晶战姬中表现最为卓越的辛西亚，作为后继机体「贤者」的测试驾驶。贤者在武装上完全舍弃了前继机种的防卫性武装，将所有能源都投入到神经传导框架上，让其电波攻击的效果更加强大。同时也改良了其推进系统，让贤者能够更快在战场间移动造成伤害。然而为了强化电波攻击的威力到极致，驾驶舱的装甲便被牺牲以减少电波在穿透物质的耗损。但这些问题对辛西亚而言，完全不成问题，在强力的电波环绕下，任何攻击都能在她的电波强化下被阻挡。</p>
                            </div>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                <h3 class='character-robot-name'>智天使</h3>
                                <p class='txt-lg mb-3 mb-l-4'>艾德神域在获得「贤者」、「智者」机体的开发成功后，更是将大量资源投注在后继机体的开发。而两个计画的重要推手辛西亚，理所当然的成为了下一代机甲「智天使」的测试驾驶，智天使在性能上，完全依照了辛西亚的战斗特性进行强化，除了包覆在驾驶舱四周的传导框架，更是在机体后方增加了电波增幅框架，让原先就强大的电波攻击，更加无坚不摧。然而，这项计画却是以失败告终，除了辛西亚以外，没有任何一个战姬能够操纵精神电波如此强大的机甲，也让这部原型机成为了该系列机甲的巅峰，也同时是这系列机甲的终结。</p>
                            </div>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0'>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                        <div class='col-4 col-l-2 txt-center'>
                            <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row gx-0 txt-center'>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='柯菈'>KARLA<span class='float-right'>柯菈</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='克莉丝汀'>CHRISTINE<span class='float-right'>克莉丝汀</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='辛西亚'>XINTHIA<span class='float-right'>辛西亚</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='赛琳娜'>SELINA<span class='float-right'>赛琳娜</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='黎妲'>RITA<span class='float-right'>黎妲</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='乔丝'>JESS<span class='float-right'>乔丝</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/zh-CN/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='露娜'>LUNA<span class='float-right'>露娜</span></a></div>
            </div>
        </div>
    </div>
</div>
</article>
</main>";
            break;
        case Language.en_US:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>CHARACTERS</span><span class='title-bg txt-body'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
    <div class='row justify-center gx-0'>
        <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
            <div class='row justify-center gx-0 gy-3'>
                <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                    <div class='swiper-container swiper-character-img'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-1.png' width='auto' height='auto' alt='Cherub Xinthia' title='Cherub Xinthia' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-1.png' width='auto' height='auto' alt='Cherub Xinthia' title='Cherub Xinthia' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-4 col-m-2'>
                    <p class='en-dialog-container'><span class='en-dialog'><span>WHAT DOES IT MATTER</span><br><span>IF I`M A GENIUS?</span></span><br><span class='en-dialog'><span>I STILL CAN`T</span><br><span>MAKE HIM LOVE ME...</span></span></p>
                </div>
                <div class='col-10 col-l-5 order-l-first'>
                    <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>Republic of Edarhe</h2>
                    <h1 class='character-h1 mb-3'>Cherub Xinthia<small class='block'>智天使 シンシア</small></h1>
                    <p class='character-desc txt-lg mb-4 mb-l-5'>Childhood friends with Ekram, Xinthia is a certified genius who became a reputable scholar at the young age of ten. When the Holy State of Lantis lunged into chaos, the 11 year-old Xinthia found her freedom by agreeing to act as a research subject for the newly developed 'Smart Brain Program', allowing an Edarhian scientist to implant an artificial brain into her body. Since then, her body has been forever frozen in the form of an eleven-year-old girl. Under the influence of this artificial brain, Xinthia's mannerisms have become cold and robotic, regardless of how she feels on the inside. Upon hearing news of Ekram's return to Lantis, Xinthia requested to be immediately transferred back to her hometown. And yet, all Ekram could see was a stranger. An unfeeling, mechanical stranger.</p>
                    <p class='txt-subtitle txt-bold character-line'><span>「えっ？</span><br><span> 天才に何ができるのでしょうか？</span><br><span>天才でも結局彼に好きになって</span><br><span>もらうことはできません……」</span></p>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0 gy-3'>
                <div class='col-1 col-l-1'>
                    <div class='swiper-container swiper-character-title'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>賢者</h3>
                            </div>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>智天使</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-9 col-l-5'>
                    <div class='swiper-container swiper-character-level'>
                        <div class='swiper-wrapper txt-center'>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-2.png' width='auto' height='auto' alt='Magus' title='Magus' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-2.png' width='auto' height='auto' alt='Cherub' title='Cherub' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-10 col-l-6 mx-auto'>
                    <div class='swiper-container swiper-character-disc'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                <h3 class='character-robot-name'>Magus</h3>
                                <p class='txt-lg mb-3 mb-l-4'>Xinthia was able to put her genius to good use as a senki with her LT Gear, 'Sage', in the war between Edarhe and East Oen. Sage ignored traditional weaponry, for the most part, in place of the ability to shoot energy beams by channeling its senki's sexual energy through its nerve framework, as well as improving its overall speed and maneuverability, allowing Xinthia to reign even quicker destruction upon her enemies. Now, in order to power up her energy beams even further, the LT Gear's armor has been thinned so the beam passes through less matter on its way out. And yet, less armor isn't a problem for Xinthia, as her amplified sexual energy acts almost like a force-field, repelling any attacks without the need for physical armor.</p>
                            </div>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                <h3 class='character-robot-name'>Cherub</h3>
                                <p class='txt-lg mb-3 mb-l-4'>Having successes with Sage and Magus, Edarhe continued developing further modifications for the LT Gear. Their newest addition to the family, Cherub, was of course going to be test-piloted by their very own cherub, Xinthia. In fact, the Cherub was entirely created around Xinthia's own sexual tendencies. The cockpit has been fitted with nerve transmitters on all sides, as well as an energy amplifier on the back, making her energy bursts even stronger. At this point, Xinthia is the only senki capable of piloting an LT Gear with such high psychic demands. The Cherub represents this line of LT Gear's highest achievement, the pinnacle of psychic war.</p>
                            </div>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0'>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                        <div class='col-4 col-l-2 txt-center'>
                            <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row gx-0 txt-center'>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='KARLA'>KARLA</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='CHRISTINE'>CHRISTINE</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='XINTHIA'>XINTHIA</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='SELINA'>SELINA</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='RITA'>RITA</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='JESS'>JESS</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/en-US/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='LUNA'>LUNA</a></div>
            </div>
        </div>
    </div>
</div>
</article>
</main>";
            break;
        case Language.ja_JP:
            htmlContent = @"<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>登場人物</span><span class='title-bg'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
    <div class='row justify-center gx-0'>
        <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
            <div class='row justify-center gx-0 gy-3'>
                <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                    <div class='swiper-container swiper-character-img'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-1.png' width='auto' height='auto' alt='智天使 シンシア' title='智天使 シンシア' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-1.png' width='auto' height='auto' alt='智天使 シンシア' title='智天使 シンシア' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-4 col-m-2'>
                    <p class='vertical-intro txt-heading'><span>「えっ？</span><br><span>天才に何ができるのでしょうか？</span><br><span>天才でも結局彼に好きになって</span><br><span>もらうことはできません……」</span></p>
                </div>
                <div class='col-10 col-l-5 order-l-first'>
                    <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>エド神域</h2>
                    <h1 class='character-h1 mb-3'>智天使 シンシア<small class='block'>Cherub Xinthia</small></h1>
                    <p class='character-desc txt-lg mb-4 mb-l-5'>アクランと幼馴染。IQが極めて高い。齢10歳にして著名な学者達から絶賛を受けている。しかし、片思いをしているアクランからは何の返事ももらえず、悩み苦しんでいる。ランティス教皇国が没落した時、11歳のシンシアは自由を得るため、初の「智能計画」の実験対象として名乗りを上げた。エド科学家に義脳を体内に埋め込まれ、身体も体型も永遠の11歳を手に入れたシンシア。義脳の影響により、感情の表現がロボットのように乏しくなり、内心がどんなに嬉しい状態でも、表に出てくるのは氷のような冷たい表情。アクランが教皇国に帰還した知らせを聞くと、シンシアは前線から飛ぶように故郷へ舞い戻ったが、機械ような話し方でアクランに赤の他人ような印象を与えた。</p>
                    <p class='txt-subtitle txt-bold character-line'><span>「えっ？</span><br><span>天才に何ができるのでしょうか？</span><br><span>天才でも結局彼に好きになって</span><br><span>もらうことはできません……」</span></p>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0 gy-3'>
                <div class='col-1 col-l-1'>
                    <div class='swiper-container swiper-character-title'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Magus</h3>
                            </div>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Cherub</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-9 col-l-5'>
                    <div class='swiper-container swiper-character-level'>
                        <div class='swiper-wrapper txt-center'>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-2.png' width='auto' height='auto' alt='賢者' title='賢者' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-2.png' width='auto' height='auto' alt='智天使' title='智天使' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-10 col-l-6 mx-auto'>
                    <div class='swiper-container swiper-character-disc'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                <h3 class='character-robot-name'>賢者</h3>
                                <p class='txt-lg mb-3 mb-l-4'>東ファルコン連邦との戦争中、目覚ましい働きをした「智者」。エド神域の科学者にこのモデルの戦略的価値を深く理解させた。そこで、クリスタル戦姫の中でも卓越した戦いぶりをみせたシンシアを後継機「賢者」の試験操縦士にした。賢者は先行機の防御型武装を完全に捨て去り、全てのエネルギーを神経伝達フレームに集中させ、電波攻撃の強化を図った。同時に推進システムも改良することで戦場間を駆け回り、ダメージを与えることが可能になった。しかし、電波攻撃の威力を極限まで高めたせいで、電波が物質を貫く際の消耗を減らすためコックピットの装甲が犠牲になっている。しかしシンシアからすれば、全く問題ない。強力な電波で自身を取り囲み、敵を一切寄せ付けないからだ。</p>
                            </div>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                <h3 class='character-robot-name'>智天使</h3>
                                <p class='txt-lg mb-3 mb-l-4'>エド神域で「賢者」「智者」の機体の開発に成功後、大量の資源が後継機の開発に投入された。2つの重大な計画の後押し役であるシンシアは、当然のごとく新しいギア「智天使」の操縦テストに臨んだ。智天使の性能面ではシンシアの戦い方に沿った強化が行われた。コックピット周辺の伝達フレームを包み込み、機体後方の電波増幅フレームを増やした。これによって強力な電波攻撃で天下無双を誇る。しかしこの計画は失敗に終わった。シンシア以外の戦姫には強大な電波を操ることができなかったため、このシリーズの原型機が最強となり、このシリーズの開発は終わりを迎えたのであった。</p>
                            </div>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0'>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                        <div class='col-4 col-l-2 txt-center'>
                            <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row gx-0 txt-center'>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='カーラ'>カーラ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='クリスティーナ'>クリスティーナ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='シンシア'>シンシア</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='サリーナ'>サリーナ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='リタ'>リタ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='チャズ'>チャズ</a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ja-JP/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='ルナ'>ルナ</a></div>
            </div>
        </div>
    </div>
</div>
</article>
</main>";
            break;
        case Language.ko_KR:
            htmlContent = @"
<main class='pb-6 gy-6'>
<div class='container-fluid'>
<h2 class='page-title'><span class='bg-body block'>등장인물</span><span class='title-bg'>Characters</span></h2>
</div>
<article class='container'>
<div class='fill-container'>
    <div class='row justify-center gx-0'>
        <div class='col-xl-10 gy-3 gy-l-6 bg-charater'>
            <div class='row justify-center gx-0 gy-3'>
                <div class='col-8 col-m-6 col-l-4 mb-6 mb-l-0'>
                    <div class='swiper-container swiper-character-img'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-1.png' width='auto' height='auto' alt='지천사 신시아' title='지천사 신시아' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-1.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-1.png 2x' type='image/png'>
                                    <img class='img-fluid' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-1.png' width='auto' height='auto' alt='지천사 신시아' title='지천사 신시아' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-4 col-m-2'>
                    <p class='vertical-intro txt-heading'><span>「천재면 뭐해？ 어차피 그</span><br><span>사람이 나를 좋아하게 만들 수 없는데…」</span></p>
                </div>
                <div class='col-10 col-l-5 order-l-first'>
                    <h2 class='i-block bg-primary character-fieldname mb-3 p-2'>에드 성역</h2>
                    <h1 class='character-h1 mb-3'>지천사 신시아<small class='block'>Cherub Xinthia</small></h1>
                    <p class='character-desc txt-lg mb-4 mb-l-5'>애클랜드의 소꿉친구. 이미 10살 때 유명 학자들로부터 극찬을 받았을 정도로 뛰어난 지력을 지닌 인물. 하지만 정작 자신이 짝사랑하는 애클랜드로부터 아무런 대답을 받지 못해 늘 속앓이 중이다. 란티스 교황국이 무너졌을 때, 10살의 소녀 신시아는 자유를 얻기 위해 「지능 강화 프로젝트」에 피실험자로 참여하게 됐고 에드 과학자에 의해 의뇌(義腦)를 이식받게 된다. 이때부터 그녀의 신체 발육은 11세에서 멈추게 되었다. 의뇌의 영향으로 신시아는 감정 표현을 잘하지 못하게 되었고 로봇처럼 언제나 차가운 표정만을 짓게 되었다. 애클랜드가 교황국으로 귀환했다는 소식을 들었을 때도 신시아는 재빨리 전선에서 고향으로 돌아왔지만 기계처럼 변해버린 그녀의 모습 때문인지 애클랜드는 그녀를 낯설게 느끼는 눈치였다.</p>
                    <p class='txt-subtitle txt-bold character-line'><span>「えっ？</span><br><span>天才に何ができるのでしょうか？</span><br><span>天才でも結局彼に好きになって</span><br><span>もらうことはできません……」</span></p>
                </div>
            </div>
            <div class='row justify-center justify-l-start gx-0 gy-3'>
                <div class='col-1 col-l-1'>
                    <div class='swiper-container swiper-character-title'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Magus</h3>
                            </div>
                            <div class='swiper-slide'>
                                <h3 class='txt-vertical character-robot-vertical-name'>Cherub</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-9 col-l-5'>
                    <div class='swiper-container swiper-character-level'>
                        <div class='swiper-wrapper txt-center'>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-sr-2.png' width='auto' height='auto' alt='마구스' title='마구스' loading='eager'>
                                </picture>
                            </div>
                            <div class='swiper-slide txt-center'>
                                <picture>
                                    <source media='(min-width: 1024px)' srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-2.webp' type='image/webp'>
                                    <source srcset='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-2@2x.png 2x' type='image/png'>
                                    <img class='img-fluid mt-5' src='https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-ssr-2.png' width='auto' height='auto' alt='지천사' title='지천사' loading='lazy'>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-10 col-l-6 mx-auto'>
                    <div class='swiper-container swiper-character-disc'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SR</h4>
                                <h3 class='character-robot-name'>마구스</h3>
                                <p class='txt-lg mb-3 mb-l-4'>이스트 팔콘 연방과의 전쟁에서 강력한 전투력을 발휘한 「세이지」. 에드 성역의 과학자들은 이 기어의 가치를 알아보게 되었고 크리스탈 전희 중 능력이 탁월했던 신시아를 「마구스」의 테스트 파일럿으로 결정하기에 이른다. 마구스는 전작 기종의 방어력을 완전히 희생하고 전적으로 모든 에너지를 신경 전도 프레임에 집중시켜 필드 공격력의 비약적인 상승을 꾀했으며, 동시에 추진 시스템을 개조하여 더 빠른 기동력과 강한 살상력을 갖추도록 했다. 하지만 필드 공격력 강화를 위해선 전파가 물질을 관통할 때의 에너지 소모 감소가 뒤따라야만 했고 결국 조종석의 장갑을 희생해야만 했다. 그래도 이러한 문제는 신시아에게 있어서 전혀 문제가 되지 않는 듯했다. 자신을 둘러싼 강력한 필드로 어떤 공격이라도 막아낼 자신이 있었기 때문이다.</p>
                            </div>
                            <div class='swiper-slide'>
                                <h4 class='i-block bg-black txt-subtitle txt-white p-2 character-level-tag'>SSR</h4>
                                <h3 class='character-robot-name'>지천사</h3>
                                <p class='txt-lg mb-3 mb-l-4'>에드 신역에서 「마구스」와「세이지」의 기체 개발에 성공시킨 뒤 대량의 자원을 후계기 개발에 투입했다. 두 가지 중대한 계획에 핵심이었던 신시아는 어김없이 새로운 기어 「지천사」를 조종했고 신시아의 전투 방식에 따른 성능의 강화가 이루어졌다. 조종석 주변의 전도 프레임을 두르고 기체 후방의 전파 증폭 프레임을 추가하여 강력한 전파공격을 자랑하는, 그야말로 천하무쌍! 하지만 이 계획은 실패로 끝나고 말았다. 신시아 이외의 전희들은 막강한 전파를 조종할만한 능력이 없었기 때문에 이 모델이 마지막 후속기가 되고 말았다.</p>
                            </div>
                        </div>
                    </div>
                    <div class='row justify-center justify-l-start gx-0'>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='sr'>SR</button></div>
                        <div class='col-4 col-l-2 txt-center'><button class='btn btn-black btn-charater' type='button' data-show='ssr'>SSR</button></div>
                        <div class='col-4 col-l-2 txt-center'>
                            <button class='btn btn-black btn-charater' type='button' data-toggle='modal' data-target='#character-modal'><svg class='img-fluid' fill='currentColor' width='30' height='30'><use xlink:href='/Content/darakugear/img/sprite.svg#triangle-right'></use></svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row gx-0 txt-center'>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Karla' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/karla-link.jpg);' title='코라'>KARLA<span class='float-right'>코라</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Christine' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/christine-link.jpg);' title='크리스틴'>CHRISTINE<span class='float-right'>크리스틴</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Xinthia' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/xinthia-link.jpg);' title='신시아'>XINTHIA<span class='float-right'>신시아</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Selina' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/selina-link.jpg);' title='셀레나'>SELINA<span class='float-right'>셀레나</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Rita' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/rita-link.jpg);' title='릴다'>RITA<span class='float-right'>릴다</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Jess' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/jess-link.jpg);' title='조스'>JESS<span class='float-right'>조스</span></a></div>
                <div class='col-3 col-l-seventh'><a class='character-link' href='/Darakugear/ko-KR/Characters/Luna' style='background-image:linear-gradient(90deg,  rgba(114, 0, 255, 0.8) 0rem, rgba(114, 0, 255, 0.8) 2rem, transparent 2rem), url(https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/img/luna-link.jpg);' title='루나'>LUNA<span class='float-right'>루나</span></a></div>
            </div>
        </div>
    </div>
</div>
</article>
</main>";
            break;
    }
}

@Html.Raw(htmlContent)

<div class="modal fade" id="character-modal" tabindex="-1" aria-labelledby="character-modalLabel" style="display: none;" aria-hidden="true"><div class="modal-dialog modal-xl"><div class="modal-content"><div class="modal-body"><button class="close txt-primary" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button><video class="img-fluid block mx-auto" id="character-video" preload loop playsinline muted autoplay><source id="character-video-source" src="https://sqlvagrg7hwbfmmvbk.blob.core.windows.net/uci/ms/video/xinthia.mp4" type="video/mp4"></video></div></div></div></div>